2025/10/2pP2wYbGL3fjaJ0y.json
{
  "active": false,
  "connections": {
    "HTTP Request6": {
      "main": [
        [
          {
            "node": "RetrieveClients",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Trigger": {
      "main": [
        [
          {
            "node": "Route",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres": {
      "main": [
        [
          {
            "node": "HTTP Request6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route": {
      "main": [
        [
          {
            "node": "Postgres",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Extract Invoice Customer",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Postgres PGVector Store1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Invoice Reciepient",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres PGVector Store": {
      "main": [
        [
          {
            "node": "Postgres4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Postgres PGVector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Postgres PGVector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Token Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "Postgres3": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Postgres PGVector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RetrieveClients": {
      "main": [
        [
          {
            "node": "If2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI1": {
      "ai_embedding": [
        [
          {
            "node": "Postgres PGVector Store1",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Postgres PGVector Store1": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Extract Invoice Customer",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Extract Invoice Customer": {
      "main": [
        [
          {
            "node": "Payload",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Success1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "firebaseId1": {
      "main": [
        [
          {
            "node": "Register Customer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "access_token": {
      "main": [
        [
          {
            "node": "firebaseId1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Success1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Register Customer": {
      "main": [
        [
          {
            "node": "Success",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Success1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If2": {
      "main": [
        [
          {
            "node": "Postgres3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Payload": {
      "main": [
        [
          {
            "node": "access_token",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "output",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "output1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-10-10T05:42:41.484Z",
  "id": "2pP2wYbGL3fjaJ0y",
  "meta": null,
  "name": "InvoiceCustomer-V-1.0.5",
  "nodes": [
    {
      "parameters": {
        "method": "POST",
        "url": "https://hub-api-prod-649845453193.us-central1.run.app/api/v1/authentication/system-user/token",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-Key",
              "value": "=5dd3450f93dfb2415c97e282"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -624,
        245
      ],
      "id": "8af44bd4-bfac-4a71-8517-3c18ed639c81",
      "name": "HTTP Request6",
      "retryOnFail": false,
      "credentials": {
        "googleApi": {
          "id": "Hue2Vve59bazs83Y",
          "name": "Google Service Account account 2"
        },
        "httpBearerAuth": {
          "id": "db2me6PVtNUH5oYv",
          "name": "Bearer Auth account"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "action"
            },
            {
              "name": "data",
              "type": "any"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -1440,
        920
      ],
      "id": "b82a9844-abcf-44e8-b671-3584cc14424b",
      "name": "Trigger"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT firebase_uid as x_acting_as_user FROM hub_user_hubuser WHERE number= $1",
        "options": {
          "queryReplacement": "={{ $json.data.user_id }}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -922,
        245
      ],
      "id": "21124f44-5bd9-49e5-bf7f-2b04035638cb",
      "name": "Postgres",
      "credentials": {
        "postgres": {
          "id": "wYLes21z9h3njdSn",
          "name": "postgress-prod"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.action===\"embed\" }}",
                    "rightValue": "",
                    "operator": {
                      "type": "boolean",
                      "operation": "true",
                      "singleValue": true
                    },
                    "id": "28e3ffed-32fb-4392-b084-6dcaf01cb580"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "e4df6fe9-c26c-409c-a064-5d72c24eccab",
                    "leftValue": "={{ $json.action===\"create\" }}",
                    "rightValue": "",
                    "operator": {
                      "type": "boolean",
                      "operation": "true",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "07d60566-e75a-45a9-aa61-1dca85cbbca9",
                    "leftValue": "={{ $json.action===\"retrieve\" && $json.data.invoice_recipient!=\"\"}}",
                    "rightValue": "",
                    "operator": {
                      "type": "boolean",
                      "operation": "true",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "1cc4d877-eccb-4be3-8aa0-fcca62a0efe4",
                    "leftValue": "={{ $json.action===\"retrieve\" && $json.data.invoice_recipient===\"\"}}",
                    "rightValue": "",
                    "operator": {
                      "type": "boolean",
                      "operation": "true",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -1220,
        899
      ],
      "id": "013e529d-9ddb-4283-9092-41a643a7e9c2",
      "name": "Route"
    },
    {
      "parameters": {
        "mode": "insert",
        "tableName": "invoice_client_embeddings",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePGVector",
      "typeVersion": 1.1,
      "position": [
        492,
        120
      ],
      "id": "7b261e9f-e25e-4a52-8c54-3f6163026bc6",
      "name": "Postgres PGVector Store",
      "credentials": {
        "postgres": {
          "id": "wYLes21z9h3njdSn",
          "name": "postgress-prod"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        476,
        340
      ],
      "id": "199cb6d6-3a98-4be0-a0af-31a480e64391",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "mxdHDElSd4VQZiDt",
          "name": "OpenAi account 2"
        }
      }
    },
    {
      "parameters": {
        "jsonMode": "expressionData",
        "jsonData": "={{ $('RetrieveClients').item.json.address.name }}",
        "options": {
          "metadata": {
            "metadataValues": [
              {
                "name": "book_number",
                "value": "={{ $('RetrieveClients').item.json.book_number }}"
              },
              {
                "name": "=client_number",
                "value": "={{ $('RetrieveClients').item.json.client_number }}"
              },
              {
                "name": "address",
                "value": "={{   Object.entries($('RetrieveClients').item.json.address)     .filter(([key, value]) => key.toLowerCase() !== 'name' && value != null && value !== '')     .map(([key, value]) => `**${key.charAt(0).toUpperCase() + key.slice(1)}:** ${value}`)     .join('\\n') }}"
              },
              {
                "name": "name",
                "value": "={{ $('RetrieveClients').item.json.address.name }}"
              }
            ]
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1,
      "position": [
        596,
        342.5
      ],
      "id": "5615ab30-420e-47fc-9c37-dc0bf2f34609",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "chunkSize": 10000
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterTokenSplitter",
      "typeVersion": 1,
      "position": [
        684,
        540
      ],
      "id": "a2c60868-ce0e-4117-a669-bdfe9157c1ee",
      "name": "Token Splitter"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ca5e5011-7198-4301-99a9-b21bb2449375",
              "name": "message",
              "value": "Operation Failed",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -184,
        345
      ],
      "id": "449ca0e3-f1ae-4e58-897e-2ae6fdff2925",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT EXISTS (\n    SELECT 1\n    FROM invoice_client_embeddings\n    WHERE trim(metadata->>'client_number') = trim($1)\n      AND trim(metadata->>'book_number')   = trim($2)\n) AS is_matched;",
        "options": {
          "queryReplacement": "={{ $json.client_number }},{{ $json.book_number }}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        36,
        120
      ],
      "id": "6bb605cb-629c-4338-914a-2d3636296222",
      "name": "Postgres3",
      "credentials": {
        "postgres": {
          "id": "wYLes21z9h3njdSn",
          "name": "postgress-prod"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "aacbe24a-fc7a-4760-a676-054ca025a0a5",
              "leftValue": "={{ $json.is_matched }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "false",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        256,
        120
      ],
      "id": "795d616f-40b3-4a01-82e1-5eff1e31707a",
      "name": "If"
    },
    {
      "parameters": {
        "url": "=https://hub-api-prod-649845453193.us-central1.run.app/api/v1/clients/{{ $('Trigger').first().json.data.book_number }}/invoiceClients",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{$json.access_token}}"
            },
            {
              "name": "X-Acting-As-User",
              "value": "={{ $('Postgres').item.json.x_acting_as_user }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -404,
        170
      ],
      "id": "ef5bb3aa-cb2e-4da3-8426-ec6bcc485e44",
      "name": "RetrieveClients",
      "executeOnce": false,
      "alwaysOutputData": true,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE invoice_client_embeddings\nSET text = CONCAT(\n              'Invoice Client Name: ', text, E'\\n',\n              'Invoice Client Number: ', metadata->>'client_number', E'\\n',\n              'Address: ', metadata->>'address'\n           ),\n    metadata = (metadata::jsonb) - 'address'\nWHERE metadata->>'book_number' = $1\n  AND metadata->>'client_number' = $2\n",
        "options": {
          "queryReplacement": "={{ $json.metadata.book_number }},{{ $json.metadata.client_number }}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        972,
        120
      ],
      "id": "17fd15de-e632-48b3-a42f-2bd49e13ae0a",
      "name": "Postgres4",
      "credentials": {
        "postgres": {
          "id": "wYLes21z9h3njdSn",
          "name": "postgress-prod"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        -912,
        1265
      ],
      "id": "09213956-e18d-4e57-abad-7cd0f6680216",
      "name": "Embeddings OpenAI1",
      "credentials": {
        "openAiApi": {
          "id": "mxdHDElSd4VQZiDt",
          "name": "OpenAi account 2"
        }
      }
    },
    {
      "parameters": {
        "mode": "load",
        "tableName": "invoice_client_embeddings",
        "prompt": "={{ $json.data.invoice_recipient }}",
        "topK": 1,
        "options": {
          "distanceStrategy": "cosine",
          "metadata": {
            "metadataValues": [
              {
                "name": "book_number",
                "value": "={{ $('Trigger').item.json.data.book_number }}"
              }
            ]
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePGVector",
      "typeVersion": 1.1,
      "position": [
        -1000,
        1045
      ],
      "id": "d5f52004-461d-44cd-91b8-f53489a56ff4",
      "name": "Postgres PGVector Store1",
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "wYLes21z9h3njdSn",
          "name": "postgress-prod"
        }
      }
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={{ \n{\ninvoice_recipient: {\nstatus: 'exists',\nname: $json.document.metadata.name,\ninvoice_recipient_number: $json.document.metadata.client_number\n\n}\n}\n}}",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -404,
        1020
      ],
      "id": "f66364d0-737b-4057-b9aa-836ab9462d66",
      "name": "output"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={{ \n{\ninvoice_recipient: {\nstatus: 'missing',\nname: $('Route').item.json.data.invoice_recipient\n}\n}\n}}",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -404,
        1245
      ],
      "id": "53570833-29e3-44bc-b3ff-353025b83044",
      "name": "output1"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={{ \n{\ninvoice_recipient: {\nstatus: 'not_provided',\nname: \"Not Provided\"\n}\n}\n}}",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -922,
        1445
      ],
      "id": "f58520c4-a21a-4fbe-a606-c06b982d7d54",
      "name": "No Invoice Reciepient"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "gpt-4.1-mini"
        },
        "options": {
          "responseFormat": "json_object",
          "temperature": 0
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -912,
        840
      ],
      "id": "dec3ffdf-b835-4922-b6f9-37c48d8c71fb",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "mxdHDElSd4VQZiDt",
          "name": "OpenAi account 2"
        }
      }
    },
    {
      "parameters": {
        "text": "=Invoice Recipient:  {{ $('Trigger').item.json.data.invoice_recipient.name }}\n---\nEmail Thread:{{\n  JSON.stringify(\n    $json.data.thread.Emails\n      .filter(e => !e.From?.some(f => f.address?.toLowerCase() === \"asst@patchbay.xyz\"))\n      .map(e => {\n        const { From, to, ThreadId, EmailId, MessageId, References, last_attachment, cc, date, ...rest } = e;\n        return rest;\n      }),\n    null,\n    \" \"\n  )\n}}\n----\nbook = {{ $('Trigger').item.json.data.metadata.person_verification.book_number }}",
        "schemaType": "manual",
        "inputSchema": "{\n  \"type\": \"object\",\n  \"required\": [\"invoice_client_info\"],\n  \"additionalProperties\": false,\n  \"properties\": {\n    \"invoice_client_info\": {\n      \"type\": \"object\",\n      \"description\": \"Parse exactly from text. If any field is not found, set it to \\\"\\\" (empty string). Do not guess.\",\n      \"required\": [\"book_number\", \"organization\", \"address\"],\n      \"additionalProperties\": false,\n      \"properties\": {\n        \"book_number\": {\n          \"type\": \"string\",\n          \"description\": \"Exact book_number from context. If absent, set to \\\"\\\".\",\n          \"default\": \"\"\n        },\n        \"organization\": {\n          \"type\": \"object\",\n          \"description\": \"Recipient's organization (may be the recipient itself). No guessing—use \\\"\\\" when unknown.\",\n          \"required\": [\n            \"name\",\n            \"city\",\n            \"state\",\n            \"country_code\",\n            \"url_website\",\n            \"url_linkedin\",\n            \"verified\",\n            \"email\"\n          ],\n          \"additionalProperties\": false,\n          \"properties\": {\n            \"name\": {\n              \"type\": \"string\",\n              \"description\": \"Organization name.\",\n              \"default\": \"\"\n            },\n            \"city\": {\n              \"type\": \"string\",\n              \"description\": \"Organization city.\",\n              \"default\": \"\"\n            },\n            \"state\": {\n              \"type\": \"string\",\n              \"description\": \"Organization state/region.\",\n              \"default\": \"\"\n            },\n            \"country_code\": {\n              \"type\": \"string\",\n              \"description\": \"ISO 2-letter code if provided; otherwise \\\"\\\".\",\n              \"default\": \"\"\n            },\n            \"url_website\": {\n              \"type\": \"string\",\n              \"description\": \"Website URL if provided; otherwise \\\"\\\".\",\n              \"default\": \"\"\n            },\n            \"url_linkedin\": {\n              \"type\": \"string\",\n              \"description\": \"LinkedIn URL if provided; otherwise \\\"\\\".\",\n              \"default\": \"\"\n            },\n            \"verified\": {\n              \"type\": \"boolean\",\n              \"description\": \"Always set to false unless explicitly stated as verified.\",\n              \"default\": false\n            },\n            \"email\": {\n              \"type\": \"string\",\n              \"description\": \"Organization email if provided; otherwise \\\"\\\".\",\n              \"default\": \"\"\n            }\n          }\n        },\n        \"address\": {\n          \"type\": \"object\",\n          \"description\": \"Invoice recipient's mailing details only. Use \\\"\\\" when not present.\",\n          \"required\": [\n            \"name\",\n            \"address_line_1\",\n            \"address_line_2\",\n            \"city\",\n            \"state\",\n            \"postal_code\",\n            \"country\"\n          ],\n          \"additionalProperties\": false,\n          \"properties\": {\n            \"name\": {\n              \"type\": \"string\",\n              \"description\": \"Invoice Recipient provided.\",\n              \"default\": \"\"\n            },\n            \"address_line_1\": {\n              \"type\": \"string\",\n              \"description\": \"Primary street address.\",\n              \"default\": \"\"\n            },\n            \"address_line_2\": {\n              \"type\": \"string\",\n              \"description\": \"Apt/Suite/Unit/etc.\",\n              \"default\": \"\"\n            },\n            \"city\": {\n              \"type\": \"string\",\n              \"description\": \"Recipient city.\",\n              \"default\": \"\"\n            },\n            \"state\": {\n              \"type\": \"string\",\n              \"description\": \"Recipient state/region.\",\n              \"default\": \"\"\n            },\n            \"postal_code\": {\n              \"type\": \"string\",\n              \"description\": \"Postal/ZIP code.\",\n              \"default\": \"\"\n            },\n            \"country\": {\n              \"type\": \"string\",\n              \"description\": \"Country name or code.\",\n              \"default\": \"\"\n            }\n          }\n        }\n      }\n    }\n  }\n}\n",
        "options": {
          "systemPromptTemplate": "=You are an expert extraction algorithm. You will be provided with below data;\n- Invoice Recipient: Name of the invoice recipient.\n- Email Thread: A conversation between different agents which could provide information/context required for the extraction of data.\n\nWhat you will do:\n- Locate all the information relevant to the invoice Recipient in the email thread.\n- Extract all the data if available, otherwise set to null.\nOnly extract relevant information from the text.\nIf you do not know the value of an attribute asked to extract, you may omit the attribute's value."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.informationExtractor",
      "typeVersion": 1,
      "position": [
        -1000,
        620
      ],
      "id": "6587c87c-ebcf-4f6c-85c2-a1b1c723deca",
      "name": "Extract Invoice Customer",
      "executeOnce": false,
      "retryOnFail": true,
      "maxTries": 2,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT firebase_uid as x_acting_as_user FROM hub_user_hubuser WHERE number= $1",
        "options": {
          "queryReplacement": "={{ $('Trigger').item.json.data.user_id }}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -184,
        570
      ],
      "id": "cd3772e2-4cdc-44da-8039-4a594e0fa3b3",
      "name": "firebaseId1",
      "retryOnFail": true,
      "credentials": {
        "postgres": {
          "id": "wYLes21z9h3njdSn",
          "name": "postgress-prod"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://hub-api-prod-649845453193.us-central1.run.app/api/v1/authentication/system-user/token",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-Key",
              "value": "=5dd3450f93dfb2415c97e282"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -404,
        645
      ],
      "id": "873bdc4c-72db-41e2-a4ed-9a53c57c2157",
      "name": "access_token",
      "retryOnFail": true,
      "maxTries": 2,
      "credentials": {
        "googleApi": {
          "id": "Hue2Vve59bazs83Y",
          "name": "Google Service Account account 2"
        },
        "httpBearerAuth": {
          "id": "db2me6PVtNUH5oYv",
          "name": "Bearer Auth account"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://hub-api-prod-649845453193.us-central1.run.app/api/v1/clients/{{ $('Trigger').item.json.data.metadata.person_verification.book_number }}/invoiceClients",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('access_token').item.json.access_token }}"
            },
            {
              "name": "X-Acting-As-User",
              "value": "={{ $json.x_acting_as_user }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $('Payload').item.json.output.invoice_client_info }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        36,
        570
      ],
      "id": "7d34afa2-412f-45b7-9b4e-09fcc9d158e2",
      "name": "Register Customer",
      "executeOnce": false,
      "retryOnFail": true,
      "maxTries": 2,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "4e7d12d1-3833-4556-b960-cd799bbb0661",
              "name": "invoice_recipient.status",
              "value": "success",
              "type": "string"
            },
            {
              "id": "21577be9-5129-44c8-906a-2472d7d9fdc6",
              "name": "invoice_recipient.name",
              "value": "={{ $('Trigger').item.json.data.invoice_recipient.name }}",
              "type": "string"
            },
            {
              "id": "62a65c46-0f0e-4af3-ab40-15d4747def30",
              "name": "invoice_recipient.data",
              "value": "={{$json}}",
              "type": "object"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        256,
        445
      ],
      "id": "ff7e0efe-e7f9-4db2-b982-87e8074a8b95",
      "name": "Success"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "4e7d12d1-3833-4556-b960-cd799bbb0661",
              "name": "invoice_recipient.status",
              "value": "failed",
              "type": "string"
            },
            {
              "id": "21577be9-5129-44c8-906a-2472d7d9fdc6",
              "name": "invoice_recipient.name",
              "value": "={{ $('Trigger').item.json.data.invoice_recipient.name }}",
              "type": "string"
            },
            {
              "id": "2eaa22dd-1a7a-4536-9872-298630e2bda0",
              "name": "invoice_recipient.failure_reason",
              "value": "Technical",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        256,
        820
      ],
      "id": "182a3b19-ef18-49ef-b135-f59f6a09bf29",
      "name": "Success1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "d3487969-4d1c-419d-93a8-ce2bd133f3f3",
              "leftValue": "={{ $json.isNotEmpty() }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -184,
        120
      ],
      "id": "3592d1c7-e427-4335-8e60-9e327c3b2eef",
      "name": "If2"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "4394c3ba-c9fe-4abc-a21a-2bbe48a25402",
              "name": "output.invoice_client_info.book_number",
              "value": "={{ $('Trigger').item.json.data.metadata.person_verification.book_number }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -620,
        600
      ],
      "id": "65591e6a-e9f1-4bf3-b1d5-c84335c91593",
      "name": "Payload"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "338bc58f-57c0-4ac1-b00d-a3b635ce0016",
              "leftValue": "={{ $json.isNotEmpty() && $json.score<=$('Trigger').item.json.data.threshold }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -624,
        1145
      ],
      "id": "e2605df9-77d9-4f36-b598-e24c4e03d48e",
      "name": "If1"
    }
  ],
  "pinData": {
    "Trigger": [
      {
        "json": {
          "action": "create",
          "data": {
            "user_id": "2edfd81b-b1a1-4cb9-89b5-6c84b8bd6dc2",
            "invoice_recipient": {
              "status": "not_provided",
              "name": "Maximum LLC",
              "source": "user_input",
              "route": "register"
            },
            "metadata": {
              "type": "deals_and_invoices",
              "person_verification": {
                "person_name": "Quincy  Jones",
                "status": "verified",
                "book_number": "38930866-9e7a-424c-9492-bf9dd476bde6",
                "book_id": "620",
                "role": "",
                "message": " Quincy  Jones is verified in the Manager's workspace. Inform the manager.",
                "verification_status": "resolved"
              },
              "deal_metadata": {
                "deal_status": "missing"
              },
              "invoice_metadata": {
                "invoice_status": "missing",
                "invoice_recipient": {
                  "status": "not_provided",
                  "name": "Not Provided"
                }
              },
              "routing_id": "<CAEaeWjSRKOzh4d7Cc_TrgGkLUyTkUVuE83KBA4Kr72LjwrxTUA@mail.gmail.com>",
              "last_bot_response": "<div style=\"font-family:Arial,Helvetica,sans-serif;font-size:14px;line-height:1.5;color:#111;max-width:680px;\">\n  <p>I will help you create a new invoice with a new recipient.</p>\n  <p><b>Invoice</b></p>\n  <ul>\n    <li>Client: Quincy Jones</li>\n    <li>Amount: 5000 USD</li>\n    <li>Status: Draft</li>\n    <li>Invoice Recipient: Not Provided</li>\n    <li>Due Date: Not Provided</li>\n  </ul>\n  <p>Please provide the invoice recipient details and the due date for this invoice so I can finalize it for you.</p>\n  <hr>\n  <p>Best,<br>Patchbay Assistant</p>\n</div>"
            },
            "thread": {
              "ThreadId": "19956d094fc1c1e5",
              "Emails": [
                {
                  "EmailId": "19956d094fc1c1e5",
                  "MessageId": "<CAP=u+8C4PO_2G3rfz4xtJ=kJJsJqMHp50=n22-XkobVfCoWJtg@mail.gmail.com>",
                  "Subject": "Create Invoice",
                  "From": [
                    {
                      "address": "dwayne@patchbay.xyz",
                      "name": "Dwayne Hoover"
                    }
                  ],
                  "to": [
                    {
                      "address": "asst@patchbay.xyz",
                      "name": "Patchbay Assistant"
                    }
                  ],
                  "cc": [],
                  "date": "2025-09-17T08:35:21.000Z",
                  "emailText": "I want to create a new invoice for my client Quincey Jones with an amount\nof 5000 USD.\n"
                },
                {
                  "ThreadId": "19956d094fc1c1e5",
                  "EmailId": "19956d1cec8f7835",
                  "MessageId": "<CAP=u+8AGp-8szah8CScXVJwQ3KB2PXs6tKt7q+cUY5C_LR+syA@mail.gmail.com>",
                  "References": [
                    "<CAP=u+8C4PO_2G3rfz4xtJ=kJJsJqMHp50=n22-XkobVfCoWJtg@mail.gmail.com>",
                    "<CAEaeWjRBeJYuBgcty8Oj=8NeS2yvc0fGKwicpQEpm=noe_7JvQ@mail.gmail.com>"
                  ],
                  "Subject": "Re: Create Invoice",
                  "From": [
                    {
                      "address": "dwayne@patchbay.xyz",
                      "name": "Dwayne Hoover"
                    }
                  ],
                  "to": [
                    {
                      "address": "asst@patchbay.xyz",
                      "name": ""
                    }
                  ],
                  "cc": [],
                  "date": "2025-09-17T08:36:42.000Z",
                  "emailText": "I there is already an invoice. Can you search for it?"
                },
                {
                  "ThreadId": "19956d094fc1c1e5",
                  "EmailId": "19956d5174f16e08",
                  "MessageId": "<CAP=u+8CC2+odDqZhy3TS1yiOg+kLE43TPA2YA-Q_xxz3CKG=xw@mail.gmail.com>",
                  "References": [
                    "<CAP=u+8AGp-8szah8CScXVJwQ3KB2PXs6tKt7q+cUY5C_LR+syA@mail.gmail.com>",
                    "<CAEaeWjSvxx+Q3h5uX9w818DM1qZkAJ-8gJSoS9nAQgZyVHhRWw@mail.gmail.com>"
                  ],
                  "Subject": "Re: Create Invoice",
                  "From": [
                    {
                      "address": "dwayne@patchbay.xyz",
                      "name": "Dwayne Hoover"
                    }
                  ],
                  "to": [
                    {
                      "address": "asst@patchbay.xyz",
                      "name": ""
                    }
                  ],
                  "cc": [],
                  "date": "2025-09-17T08:40:17.000Z",
                  "emailText": "No actually I want to create a new invoice with a new recipient. Can you help me with that?"
                },
                {
                  "ThreadId": "19956d094fc1c1e5",
                  "EmailId": "19956da2caad84c1",
                  "MessageId": "<CAP=u+8CUnCNuhhSoNCfVR_98k3rHqkCTxPKddjWKw6+n5i60Sg@mail.gmail.com>",
                  "References": [
                    "<CAP=u+8CC2+odDqZhy3TS1yiOg+kLE43TPA2YA-Q_xxz3CKG=xw@mail.gmail.com>",
                    "<CAEaeWjSRKOzh4d7Cc_TrgGkLUyTkUVuE83KBA4Kr72LjwrxTUA@mail.gmail.com>"
                  ],
                  "Subject": "Re: Create Invoice",
                  "From": [
                    {
                      "address": "dwayne@patchbay.xyz",
                      "name": "Dwayne Hoover"
                    }
                  ],
                  "to": [
                    {
                      "address": "asst@patchbay.xyz",
                      "name": ""
                    }
                  ],
                  "cc": [],
                  "date": "2025-09-17T08:45:50.000Z",
                  "emailText": "Actually the amount should be 500 USD, recipient: Maximum LLC, Due Date: 20 December, 2025."
                }
              ],
              "Others": [],
              "Managers": [
                {
                  "name": "Dwayne Hoover",
                  "address": "dwayne@patchbay.xyz",
                  "user_id": "2edfd81b-b1a1-4cb9-89b5-6c84b8bd6dc2",
                  "person_number": "2752c92b-b570-4f0f-a082-611fe1770ec4",
                  "Role": "Manager",
                  "Clients": []
                },
                {
                  "name": "Agent",
                  "address": "asst@patchbay.xyz",
                  "user_id": "9cd5749c-7e7d-4a92-98cd-c1356b626258",
                  "person_number": "03014402-449b-48bb-8973-212449e99e2f",
                  "Role": "Manager",
                  "Clients": []
                }
              ],
              "Label": "CRUD-ASSISTANT",
              "sessionStatus": true
            }
          }
        }
      }
    ]
  },
  "repo_name": "hub-n8n",
  "repo_owner": "ck-bit",
  "repo_path": "",
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-11-01T10:24:20.295Z",
  "versionId": "a2661112-9fc4-4413-8ae1-f175e30534fe"
}