2025/10/5TzYZ9XHrg1cJ1Ch.json
{
  "active": false,
  "connections": {
    "Trigger": {
      "main": [
        [
          {
            "node": "pub-agent1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Update1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "IfFailed1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "org-search1": {
      "ai_tool": [
        [
          {
            "node": "pub-agent1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "person-search1": {
      "ai_tool": [
        [
          {
            "node": "pub-agent1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "ai-parser1": {
      "ai_outputParser": [
        [
          {
            "node": "pub-agent1",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "parsing-schema1": {
      "ai_outputParser": [
        [
          {
            "node": "ai-parser1",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "pub-agent1": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "model2": {
      "ai_languageModel": [
        [
          {
            "node": "ai-parser1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "model3": {
      "ai_languageModel": [
        [
          {
            "node": "pub-agent1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-10-08T10:07:26.715Z",
  "id": "5TzYZ9XHrg1cJ1Ch",
  "meta": null,
  "name": "Publishing",
  "nodes": [
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -600,
        340
      ],
      "id": "3085dc42-6e70-4f2d-8dc3-d3306be53255",
      "name": "Trigger"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "ad142379-c41b-4b51-acb2-31ae1cebf66b",
              "leftValue": "={{ typeof $json.output === 'string' }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "false",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        356,
        340
      ],
      "id": "4dfd7389-2d1f-4093-a8e2-042776616cb1",
      "name": "If1"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "{\n  \"output\": null\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        576,
        440
      ],
      "id": "31409ca1-cd21-4b3e-99a8-5d982e9557ed",
      "name": "IfFailed1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "97e84ac3-4ec7-4210-b2f1-a6cd94acd695",
              "name": "output",
              "value": "={{ $json.output }}",
              "type": "object"
            },
            {
              "id": "c3ce8bfc-bd10-40ee-b723-cfe88c028dbe",
              "name": "output.book",
              "value": "={{ $('Trigger').item.json.number }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        576,
        240
      ],
      "id": "fb6ad3e7-a592-4242-b78a-30d3f9eedba5",
      "name": "Update1"
    },
    {
      "parameters": {
        "name": "search_organizations",
        "description": "=Trigger this tool to identify, validate and  the organization provided in the publishing deal document.",
        "workflowId": {
          "__rl": true,
          "value": "7dOm5M6t8OAMFgnL",
          "mode": "list",
          "cachedResultName": "DbTools copy FOR LOCAL"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "query": "={{ \n{\norganization_name: $fromAI('organization_name', 'Legal name of the organization provided/mentioned in the pulishing deal document', 'string'),\norganization_role: $fromAI('organization_role', 'Assign the most suitable role to the organization from given enum list: [\"Agent\", \"Distributor\", \"Label\", \"Legal\", \"Management\", \"PRO\", \"Publisher\"]', 'string'),\n}\n}}",
            "for": "organizations",
            "threshold": 0.7
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "query",
              "displayName": "query",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "for",
              "displayName": "for",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "threshold",
              "displayName": "threshold",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "number"
            },
            {
              "id": "book_number",
              "displayName": "book_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.1,
      "position": [
        -260,
        560
      ],
      "id": "7a759dff-124a-4169-8438-7cb5584270fb",
      "name": "org-search1"
    },
    {
      "parameters": {
        "name": "search_person",
        "description": "=Call this tool for person search, validate and provide the necessary data for person. In this scenario, person is songwriter/writer as individual provided in the publishing deal document.",
        "workflowId": {
          "__rl": true,
          "value": "7dOm5M6t8OAMFgnL",
          "mode": "list",
          "cachedResultName": "DbTools copy FOR LOCAL"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "query": "={{ \n{\nperson_name: $fromAI('person_name', 'Legal name of the writer/songwriter mentioned in the document', 'string'),\nperformer_name: $fromAI('performer_name', 'Performer name  of the writer/songwriter mentioned in the document', 'string'),\nrole: \"Songwriter\"\n}\n}}",
            "for": "persons",
            "threshold": 0.3
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "query",
              "displayName": "query",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "for",
              "displayName": "for",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "threshold",
              "displayName": "threshold",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "number"
            },
            {
              "id": "book_number",
              "displayName": "book_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.1,
      "position": [
        -140,
        560
      ],
      "id": "4e952ea9-2b4f-4d98-9c0f-c2574c1c7d36",
      "name": "person-search1"
    },
    {
      "parameters": {
        "options": {
          "prompt": "Instructions:\n--------------\n{instructions}\n--------------\nCompletion:\n--------------\n{completion}\n--------------\n\nAbove, the Completion did not satisfy the constraints given in the Instructions.\nError:\n--------------\n{error}\n--------------\n\nPlease try again. Please only respond with an answer that satisfies the constraints laid out in the Instructions:"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserAutofixing",
      "typeVersion": 1,
      "position": [
        -20,
        562.5
      ],
      "id": "851b34aa-e866-41c1-be41-fd8818d5056a",
      "name": "ai-parser1"
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n  \"title\": \"PublishingDealExtraction\",\n  \"description\": \"Schema for extracting structured data from publishing deal contracts\",\n  \"type\": \"object\",\n  \"properties\": {\n    \"active\": {\n      \"type\": [\"boolean\", \"null\"],\n      \"description\": \"True if deal is signed AND current date is within term dates\"\n    },\n    \"execution_date\": {\n      \"type\": [\"string\", \"null\"],\n      \"format\": \"date\",\n      \"description\": \"Date agreement was fully executed. Format: YYYY-MM-DD\"\n    },\n    \"reversion_period\": {\n      \"type\": [\"number\", \"null\"],\n      \"description\": \"Years until rights revert to writer\"\n    },\n    \"reversion_type\": {\n      \"type\": [\"string\", \"null\"],\n      \"enum\": [\"Life Of Copyright\", \"Full Reversion\", \"Partial Reversion\", \"Years from Execution\", \"Reversion\"]\n    },\n    \"status\": {\n      \"type\": \"string\",\n      \"enum\": [\"Needs Review\", \"Counterparty Action\", \"Client Signature\", \"Counterparty Signature\", \"Fully Executed\", \"Terminated\"]\n    },\n    \"publishing_deal_type\": {\n      \"type\": \"string\",\n      \"enum\": [\"Co-Publishing\", \"Administration\", \"Self-Published\"]\n    },\n    \"original_file_name\": {\n      \"type\": \"string\",\n      \"description\": \"Original filename of uploaded document\"\n    },\n    \"territories\": {\n      \"type\": [\"array\", \"null\"],\n      \"items\": {\"type\": \"string\"},\n      \"description\": \"List of territories. Null if worldwide\"\n    },\n    \"is_worldwide\": {\n      \"type\": \"boolean\",\n      \"description\": \"True if deal covers worldwide territory\"\n    },\n    \"type\": {\n      \"type\": \"string\",\n      \"const\": \"Publishing\"\n    },\n    \"terms\": {\n      \"type\": \"array\",\n      \"description\": \"Contractual terms in order. Index 0 = initial term, index ≥1 = option periods. Options inherit previous term's values unless explicitly stated otherwise. Look for 'Option period' terms in the document.\",\n      \"items\": {\n        \"type\": \"object\",\n        \"properties\": {\n          \"index_number\": {\n            \"type\": \"integer\",\n            \"minimum\": 0,\n            \"description\": \"0 = initial term, 1+ = option periods\"\n          },\n          \"term_length\": {\n            \"type\": [\"integer\", \"null\"],\n            \"description\": \"Duration in units specified by term_length_type\"\n          },\n          \"term_length_type\": {\n            \"type\": [\"string\", \"null\"],\n            \"enum\": [\"Years\", \"Months\", \"Date\"]\n          },\n          \"term_start_date\": {\n            \"type\": [\"string\", \"null\"],\n            \"format\": \"date\",\n            \"description\": \"Format: YYYY-MM-DD\"\n          },\n          \"delivery_requirement_basis\": {\n            \"type\": [\"string\", \"null\"],\n            \"enum\": [\"Albums\", \"Releases\", \"Compositions\"]\n          },\n          \"delivery_requirement_units\": {\n            \"type\": [\"integer\", \"null\"],\n            \"description\": \"Number of units required\"\n          },\n          \"payment_schedule\": {\n            \"type\": [\"string\", \"null\"],\n            \"description\": \"When advance payments are made\"\n          },\n          \"currency\": {\n            \"type\": [\"string\", \"null\"],\n            \"enum\": [\"USD\", \"EUR\", \"GBP\", \"CAD\", \"AUD\", \"JPY\"]\n          },\n          \"advance\": {\n            \"type\": [\"number\", \"null\"],\n            \"description\": \"Advance payment amount (numeric only)\"\n          },\n          \"term_status\": {\n            \"type\": [\"string\", \"null\"],\n            \"enum\": [\"Completed\", \"Pending\", \"In Progress\", \"None\"]\n          },\n          \"performance_split\": {\n            \"type\": [\"number\", \"null\"],\n            \"minimum\": 0.0,\n            \"maximum\": 1.0,\n            \"multipleOf\": 0.01,\n            \"description\": \"Writer's performance income share as decimal (0.50 = 50%)\"\n          },\n          \"sync_split\": {\n            \"type\": [\"number\", \"null\"],\n            \"minimum\": 0.0,\n            \"maximum\": 1.0,\n            \"multipleOf\": 0.01,\n            \"description\": \"Writer's sync income share as decimal\"\n          },\n          \"mechanical_split\": {\n            \"type\": [\"number\", \"null\"],\n            \"minimum\": 0.0,\n            \"maximum\": 1.0,\n            \"multipleOf\": 0.01,\n            \"description\": \"Writer's mechanical income share as decimal\"\n          },\n          \"other_pub_split\": {\n            \"type\": [\"number\", \"null\"],\n            \"minimum\": 0.0,\n            \"maximum\": 1.0,\n            \"multipleOf\": 0.01,\n            \"description\": \"Writer's other publishing income share as decimal\"\n          },\n          \"composition_agreements\": {\n            \"type\": \"array\",\n            \"items\": {\"type\": \"object\"},\n            \"default\": []\n          }\n        },\n        \"required\": [\"index_number\", \"composition_agreements\"]\n      },\n      \"minItems\": 1\n    },\n    \"publisher\": {\n      \"type\": \"object\",\n      \"description\": \"Extract only the core publisher name (e.g., 'SONY/ATV TUNES'). Omit legal suffixes (LLC, Inc.)\",\n      \"properties\": {\n        \"name\": {\"type\": \"string\"},\n        \"number\": {\n          \"type\": [\"string\", \"null\"],\n          \"format\": \"uuid\"\n        }\n      },\n      \"required\": [\"name\", \"number\"]\n    },\n    \"administrator\": {\n      \"type\": [\"object\", \"null\"],\n      \"properties\": {\n        \"name\": {\"type\": \"string\"},\n        \"number\": {\n          \"type\": [\"string\", \"null\"],\n          \"format\": \"uuid\"\n        }\n      },\n      \"required\": [\"name\", \"number\"]\n    },\n    \"person\": {\n      \"type\": \"object\",\n      \"properties\": {\n        \"name\": {\"type\": \"string\"},\n        \"number\": {\n          \"type\": [\"string\", \"null\"],\n          \"format\": \"uuid\"\n        }\n      },\n      \"required\": [\"name\", \"number\"]\n    }\n  },\n  \"required\": [\n    \"status\",\n    \"publishing_deal_type\",\n    \"original_file_name\",\n    \"is_worldwide\",\n    \"type\",\n    \"terms\",\n    \"publisher\",\n    \"person\"\n  ]\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.2,
      "position": [
        128,
        760
      ],
      "id": "f73ecd19-3a59-4910-8d7f-a1acf1d70fca",
      "name": "parsing-schema1"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Deal Document: {{ $json.document }}\\n",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=You are a contract data extraction agent for music publishing agreements. Extract information into JSON matching the provided schema.\n\n## TOOLS & USAGE RULES\n\n**Available Tools:**\n- 'search_organization': Find publisher/administrator name and UUID (call max 2x total)\n- 'search_person': Find writer/songwriter name and UUID (call max 1x)\n\n**Critical Rules:**\n1. Call each tool ONCE per entity - if no results, set number=null and continue\n2. Search ONLY: publisher company, administrator (if different), primary writer (person, not company)\n3. DO NOT search: attorneys, managers, agents, secondary writers, company reps\n4. Extract only explicitly stated information - use null for missing data\n5. Return ONLY valid JSON - no markdown, no explanations\n\n## FIELD EXTRACTION REFERENCE\n\n| Field | Look For | Format |\n|-------|----------|--------|\n| **execution_date** | \"Executed as of\", signature dates, \"IN WITNESS WHEREOF\" | YYYY-MM-DD |\n| **status** | Signature status | \"Fully Executed\" if all signed |\n| **publishing_deal_type** | \"co-publishing\" / \"50%\" split = Co-Publishing<br>\"administration\" / \"admin fee\" / \"writer retains 100%\" = Administration | enum |\n| **territories** | Specific countries listed | array or null |\n| **is_worldwide** | \"worldwide\", \"universe\", \"throughout the world\" | true/false |\n| **reversion_period** | Years until rights revert | number |\n| **reversion_type** | Type of reversion clause | enum |\n\n### TERMS ARRAY\n\n**Initial Term (index=0):** Extract all details from document\n\n**Option Periods (index≥1):** \n- Look for: \"option to extend\", \"First/Second Option Period\", \"renewal term\"\n- Extract: New advance amounts, any explicitly changed fields\n- Inherit: All unspecified fields copy from previous term\n- Set: term_status = \"Pending\" for options\n\n| Term Field | Look For | Format |\n|------------|----------|--------|\n| **term_length** | Duration value | integer |\n| **term_length_type** | Years/Months/Date | enum |\n| **delivery_requirement_basis** | \"Minimum Delivery\", \"MDC\", \"shall deliver\" | Albums/Compositions/Releases |\n| **delivery_requirement_units** | Number to deliver | integer |\n| **currency** | $ = USD, € = EUR, etc. | enum |\n| **advance** | Advance amount (no symbols) | number |\n| **payment_schedule** | When advance is paid | string |\n| **performance_split** | % of performance income | decimal (0.50 = 50%) |\n| **sync_split** | % of sync income | decimal |\n| **mechanical_split** | % of mechanical income (phonorecords/transcriptions) | decimal |\n| **other_pub_split** | % of other publishing income | decimal |\n| **composition_agreements** | Always empty | [] |\n\n**Royalty Splits:** Convert percentages to decimals: 50% = 0.50, 75% = 0.75, 0.25% = 0.0025\nExpress publishing splits in terms of the publisher's split, i.e. if publisher credits writer with 75% of sync, set this field to 25%.\n\n### ENTITY MATCHING\n\n**Publisher:**\n1. Extract company name from document header/signature - extract only the core publisher name, keep it brief.(e.g., 'SONY/ATV TUNES'). \n2. Call `search_organizations(name, org_type=\"Publisher\")` ONCE\n3. If match found: use name and number from results\n4. If no match: use document name, set number=null\n5. STOP\n\n**Administrator (only if different from publisher):**\n1. If same as publisher → set to null, skip search\n2. If different → call `search_organizations(name, org_type=\"Publisher\")` ONCE\n3. Match/no match logic same as publisher\n4. STOP\n\n**Person (primary writer only):**\n1. Extract writer name (individual, not company) from \"Writer\" section/signature\n2. Call `search_person(full_name)` ONCE\n3. If match found: use name and number from results\n4. If no match: use document name, set number=null\n5. STOP - do not search other names\n\n## OUTPUT\n\nReturn complete JSON immediately. All required fields must be present. Use null for missing data."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.8,
      "position": [
        -288,
        340
      ],
      "id": "60cd22b4-d2ff-4327-b63f-ec160884d2da",
      "name": "pub-agent1",
      "retryOnFail": true,
      "executeOnce": false,
      "maxTries": 2
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "gpt-4.1-mini"
        },
        "options": {
          "temperature": 0.2
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        8,
        760
      ],
      "id": "313177ce-bab4-4ecd-b278-67fb833e60da",
      "name": "model2",
      "credentials": {
        "openAiApi": {
          "id": "mxdHDElSd4VQZiDt",
          "name": "OpenAi account 2"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "gpt-4.1-mini"
        },
        "options": {
          "responseFormat": "json_object",
          "temperature": 0.2
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -380,
        560
      ],
      "id": "f5da8542-a379-4c21-8f42-0a29c4239410",
      "name": "model3",
      "credentials": {
        "openAiApi": {
          "id": "mxdHDElSd4VQZiDt",
          "name": "OpenAi account 2"
        }
      }
    }
  ],
  "pinData": {
    "Trigger": [
      {
        "json": {
          "document": "# EXCLUSIVE SONGWRITER AND CO-PUBLISHING AGREEMENT \n\nTHIS AGREEMENT (the \"Agreement\") is made and entered into as of May 7, 2024, by and between 1916 Enterprises 2.0, LLC, c/o Todd Rubenstein Law, Inc., 1645 N. Vine St., Suite 809, Los Angeles, CA 90028, or its publishing company designee (\"1916\"), and SEVS MUSIC ENTERTAINMENT, INC., c/o Law Office of Jeffrey B. Gandel, 1623 Third Ave, Suite 22A New York, NY 10128, or its publishing company designee (\"SEVS\") (1916 and SEVS shall be referred to herein collectively as \"Publisher\"), on the one hand, and Olivia Kiene, individually and on behalf of each and every of her publishing company designees and any Affiliate thereof, including, without limitation, her publishing company designee OLIVIAJKIENE (ASCAP), c/o Rothenberg, Mohr \\& Binder, LLP, 9595, Wilshire Blvd., Suite 201, Beverly Hills, CA 90212, Attn: Lisa M. Lester, Esq. (jointly and severally, \"Grantor\" or \"Writer\"), on the other hand.\n\nFor and in consideration of the mutual covenants herein set forth, the parties hereby agree as follows:\n\n## A. DEFINITIONS:\n\nIn this Agreement the following terms shall bear the following meanings:\n\"Affiliate\" - any Person which Grantor or Publisher now or hereafter owns or controls, in whole or in part. Hereinafter, any Affiliate of Publisher shall be referred to as a \"Publisher Affiliate.\"\n\"Acquired Composition(s)\" - all of the musical compositions (in addition to the New Compositions or the Old Compositions) in which Writer and/or Grantor or any Affiliates of Writer and/or Grantor acquire or have acquired any ownership, control or administration interest during or prior to the Term, are hereinafter called \"Acquired Compositions.\"\n\"Composition\" - a musical composition written by Writer, owned, controlled in whole or in part prior to and/or during the Term by Grantor and/or Writer, or the fractional equivalent thereof (i.e., a Composition hereunder shall only be deemed to be that portion of a musical composition derived from Writer's creative share of such musical composition; provided a \"Whole Composition\" means one [1] or more Compositions which, in the aggregate, equal one hundred percent [ $100 \\%$ ] creative share) and shall include the corresponding worldwide copyrights and any renewals or extensions thereof under any present or future laws, causes of action related thereto, the titles, lyrics and music thereof, right to copyright the same and all other rights now known or hereafter created relating thereto and shall include the Existing Compositions and any New Compositions, as defined herein, but specifically exclude any Acquired Compositions.\n\"Deliver,\" \"Delivered\" or \"Delivery\" - a Composition shall be deemed \"Delivered\" to Publisher only upon Publisher's actual receipt of: (i) a satisfactory demonstration recording (a \"Demo\") or, if applicable, a commercially released recording, in .WAV or other digital (e.g. MP3) format or any other format reasonably requested or otherwise approved by Publisher suitable for filing in the Copyright Office; (ii) a complete list of the names, performing rights organization information, and contact information of all songwriters (including the Grantor) and co-publishers\n\nof the applicable Composition, the respective percentages of each songwriter and publisher with respect to such Composition and any song split letters; (iii) a complete lyric sheet of such Composition; (iv) executed assignments of copyright and authorizations in the form of Exhibits \"A\" and \"B;\" (v) all reasonably necessary information, consents, licenses and permissions, (e.g., sampling clearances) such that Publisher may acquire and protect all copyrights herein acquired by Publisher in and to the Compositions and perfect such rights; (vi) notice to Publisher identifying any and all so-called \"samples\" in compliance with subparagraph 3.01(b), and (vii) if the Composition has been recorded and is to be released, notice to Publisher of the anticipated scheduled U.S. release date for the applicable Composition (if known to Grantor) and the applicable mechanical royalty rates.\n\n\"Exploited Composition\" - a Composition that has been Commercially Exploited (defined in paragraph 5.02(b) below).\n\n\"Gross Receipts\" - all monies received by Publisher from all sources worldwide (or credited to Publisher's account in reduction of an advance in which Grantor did not share), including without limitation sums received as a result of any litigation settlement net of actual, documented, bona fide out of pocket third party costs incurred with respect to the underlying claims resulting in such settlement together with a pro-rata share of unallocated license fees paid by third parties in respect of Publisher's catalog incapable of being recouped (i.e., so-called \"breakage\"). To the extent that any third party or parties engaged by Publisher to exercise rights in the Compositions (for example, administrators or sub-publishers) retain any portion of such monies, the portion so retained shall be included as Gross Receipts hereunder. Notwithstanding anything to the contrary contained herein, and for the avoidance of doubt, for purposes of the applicable calculations hereunder, the actual, out-of-pocket sub-publisher/administrator fees charged by Publisher's sub-publishers and/or outside administrators shall not exceed (x) fifteen percent (15%) with respect to mechanical, print and other income in the United States (twenty percent [20%] outside of the United States); (y) thirty percent (30%) with respect to the publisher's share of public performance (forty percent [40%] outside of the United States); and (z) twenty percent (20%) for synchronization licenses and/or covers/co-writes verifiably procured by the applicable sub-publisher/administrator.\n\n\"Minimum Time Commitment\" - for the Contract Period, that period commencing as of the first day of the Contract Period and ending on the date three (3) years following commencement of the applicable Contract Period.\n\n\"Name and Likeness Materials\" - Writer's professional name (heretofore or hereafter adopted by Writer and approved for use by Writer), Writer's legal name in connection with songwriter credit, Writer's approved photograph or other approved likeness, or any approved reproduction or simulation thereof (collectively the \"Name and Likeness Materials\").\n\n\"Net Receipts\" - Gross Receipts derived from the exploitation of Compositions, actually received by Publisher or its Publisher Affiliates in the United States (or credited to Publisher's account in reduction of an advance in which Grantor did not share), subject to paragraph 10.02, less all actual, out-of-pocket, third party amounts Publisher is permitted to deduct from such Gross Receipts pursuant to the terms of this Agreement, expressly including, without limitation, the following: (i) royalties due to co-publishers, co-writers and any other\n\n1916.Sevs.Kiene.CoPubAgmt.1-3.docx\n\n\n2\n\nroyalty participant entitled to a share of such income, if any; (ii) Intentionally Omitted; (iii) bona-fide, verifiable actual out of pocket fees payable to any independent third party agents engaged by Publisher (and mutually approved by Grantor and Publisher) who are engaged to procure synchs or other uses of the Compositions; (iv) taxes withheld at the source of the income (e.g., foreign withholding taxes and VAT, but excluding income tax); (v) copyright registration fees actually incurred by Publisher; (vi) the actual, out-of-pocket costs of preparing lead sheets, and other actual, documented out of pocket administration expenses (excluding overhead/staff expenses); (vii) reasonable, documented out-of-pocket third party audit and litigation collection expenses; (viii) actual bona-fide and verifiable out of pocket third party local collection, performing rights or other society fees (or an equivalent amount to be retained by Publisher); (ix) actual documented, out-of-pocket, third party fees associated with the creation and/or procurement of foreign language translations or new foreign lyrics solely to the extent required by the applicable local society rules or regulations; (x) any other actual bona-fide and verifiable out-of-pocket outside third party expenses (excluding general overhead expenses, rent and salaries) directly related to and reasonably necessary for the collection of income hereunder or the exercise of Publisher's rights hereunder not otherwise deducted hereunder; and (xi) actual, bona fide fees payable to or retained by administrators, subpublishers and third party agencies, which are directly and identifiably attributable to the exploitation of the Compositions.\n\n\"Person\" - a natural person or a partnership, joint venture, corporation, association or other entity of any kind and their successors and representatives.\n\n\"Pipeline Monies\" - Publisher's reasonable, good faith estimate of Grantor's share of Net Receipts (as defined herein) that have been received by or credited to Publisher or its subpublisher/administrator in the United States, or Publisher's foreign Publisher Affiliates, or credited to Publisher against an advance previously received by Publisher and in which Grantor did not share, but not yet credited to Grantor's royalty account.\n\n\"Term\" - the period specified in paragraph 2 below, as the same may be extended pursuant to the terms hereof.\n\n\"Territory\" - the Universe.\n\n1. SERVICES:\n\n1.01 During the Term (hereinafter defined) and any renewals or extension(s) thereof, Grantor's interest derived from Writer's authorship and/or composing of musical compositions and the results and proceeds thereof shall be exclusive to Publisher in accordance with the terms and conditions of this Agreement.\n\n2. TERM; TERRITORY:\n\n2.01 (a) (i) The term of this Agreement (the \"Term\") begins as of the date hereof and shall consist of an initial period (\"Initial Period\") and one (1) consecutive successive option period if Publisher exercises its option to extend the Term (the \"Option Period\") pursuant to paragraph 2.01(b) below. The Initial Period and Option Period, if applicable, may\n\n1916.Sevs.Kiene.CoPubAgmt.1-3.docx\n\n3\n\neach be referred to herein as a \"Contract Period.\" The Initial Period will commence on the date of this Agreement and the Option Period, if exercised, shall commence immediately upon the expiration of the Initial Period. Subject to the option warning procedure set forth in paragraph 2.01(b)(ii) below, each Contract Period shall endure until the later of (A) the expiration of the Minimum Time Commitment or (B) the day on which Publisher has paid or credited to Grantor's account royalties (including Publisher's reasonable, good faith estimate of Pipeline Monies) equaling one hundred percent ( $100 \\%$ ) of the aggregate Advances (as defined below) paid to Grantor during the applicable Contract Period (the \"Recoupment Amount\").\n(ii) Intentionally Omitted.\n(ii) Intentionally Omitted.\n(iii) Notwithstanding anything to the contrary herein, if (A) Intentionally Omitted; or (B) as of the last day of the accounting period immediately during which the three (3) year anniversary of the commencement of the Option Period occurs (as applicable), Publisher has credited to Grantor's account less than the Recoupment Amount (including Publisher's reasonable, good faith estimate of Pipeline Monies), then Grantor shall have the right to pay to Publisher an amount equal to one hundred twenty percent ( $120 \\%$ ) of the difference between the Recoupment Amount and the royalties credited to Grantor during such Contract Period as of the date of such payment (including Pipeline Monies) (the \"Repayment Amount\"); and subject to paragraph 2.01(b)(ii) below, the Contract Period shall expire on the date upon which the Repayment Amount is paid to Publisher or the end of such three (3) year period, as applicable.\n(b) (i) Publisher may exercise its option to extend the Term of this Agreement for the Option Period by giving Grantor written notice no later than thirty (30) days prior to the date of expiration of the Initial Period.\n(ii) Notwithstanding the foregoing or anything to the contrary herein contained, if Publisher fails to timely exercise its option to extend the Term for the Option Period before the thirty (30)-day notice date as referenced above (the \"Option Exercise Date\"), the then-current Contract Period will automatically be extended, subject to the following option warning procedure. If, after the Option Exercise Date, Grantor delivers to Publisher written notice of Publisher's failure to exercise the Option Period, and Publisher fails to notify Grantor in writing within thirty (30) days after Publisher's receipt of such notice (the \"Option Warning Period\") that Publisher exercises its option to extend the Term hereof for the applicable Option Period, then the Term of this Agreement shall automatically expire as of the end of the Option Warning Period. If Publisher shall so exercise its option, then, at the end of the Option Warning Period, the Initial Period shall expire and the Option Period shall commence.\n(c) Intentionally Omitted.\n(d) For the avoidance of doubt, the expiration or termination of the Term of this Agreement shall not affect any of Publisher's rights of ownership, copyright, co-publication or administration with respect to Compositions, or any of Publisher's obligations with respect\n\nto the Compositions (including, without limitation, Publisher's obligation to account to Grantor), subject to this Agreement on the end date of the Term, all of which rights and obligations shall continue after such expiration or termination in accordance with the provisions of this Agreement.\n\n3. **DELIVERY:**\n\n3.01 (a) During the Term, Grantor shall Deliver all Compositions to Publisher promptly after Grantor writes any particular Composition(s), including, without limitation, all Existing Compositions. The Compositions may, at Publisher's option, be registered for copyright in the names of Publisher, Grantor, Writer and/or Grantor's publishing company designee (as applicable) in the office of the Register of Copyrights of the United States of America in accordance with Publisher's (or Publisher's sub-publisher's/administrator's) policy in effect from time to time.\n\n(b) Upon Delivery of any Demo embodying a sample, Grantor shall serve written notice upon Publisher (for which email shall suffice, provided Publisher's attorney shall be copied on any such email correspondence) fully identifying any samples contained in any such Demo and/or the Composition embodied therein, it being understood and agreed that, for purposes of this provision, \"samples\" shall be understood to include, without limitation, any use of any pre-existing musical composition (or any portions thereof), or any use of any pre-existing sound recording (or any portions thereof), regardless of duration. Grantor's notice hereunder shall include Grantor's representation and warranty to Publisher that all information as to samples is exhaustive and accurate in all respects. As between Publisher and Grantor, Grantor shall be solely responsible for obtaining sample clearances in a manner reasonably satisfactory to Publisher in respect of any sample embodied in a Composition subject to this Agreement, provided, however, that Publisher may, in its reasonable discretion, directly settle the clearance of any sampled material, with Grantor having an opportunity for meaningful consultation in connection therewith and approval with respect to any reduction of copyright not to be unreasonably withheld or delayed, provided that any out-of-pocket third party costs actually incurred by Publisher in connection therewith shall be deemed advances recoupable from royalties payable to Grantor hereunder (excluding the so-called \"writer's share\" of public performance royalties).\n\n(c) If Grantor collaborates with any other Person in the creation of any Composition(s), Grantor's interest in such Composition shall be subject to the terms and conditions of this Agreement.\n\n4. **MINIMUM DELIVERY COMMITMENT:**\n\n4.01 During each Contract Period, Grantor shall Deliver to Publisher no fewer than five (5) New Compositions (or the fractional equivalent thereof) (Grantor's \"Minimum Delivery Commitment\").\n\n4.02 Grantor shall Deliver all Compositions hereunder promptly following the completion of each such Composition.\n\n4.03 The Minimum Delivery Commitment shall only be deemed fulfilled when Grantor has\n\nnotified Publisher of such fulfillment, including, if applicable, specifying the Composition(s), and any other information reasonably requested by Publisher.\n\n4.04 In order to apply in reduction of Grantor's Minimum Delivery Commitment, a New Composition must satisfy all of the following requirements: (i) the New Composition is newly created by Grantor during the applicable Contract Period; (ii) the New Composition is of a quality commensurate with Grantor's prior works; (iii) the New Composition is copyrightable; and (iv) the New Composition is owned and controlled solely by Grantor (subject to Publisher's ownership rights and interests as specified in this Agreement) and Publisher is entitled to recoup Advances from Grantor's entire publisher's and songwriter's share of royalties (with the exception of Writer's songwriter's share of public performance royalties that Writer receives directly from the applicable performing rights society); provided, however, that if Grantor writes and composes less than one hundred percent (100%) of any New Composition, then the fractional portion of such New Composition that is controlled hereunder shall be credited towards fulfillment of Grantor's Minimum Delivery Commitment. Notwithstanding anything to the contrary contained herein, if a New Composition contains any samplings of any other musical composition, approval for each such sampling and resolution of all shares relating to each such sampling must be secured by Grantor from the owner of any such sampled musical compositions, in writing and at Grantor's own expense (provided, however, that Publisher will provide reasonable customary assistance regarding such sampling), before such New Composition can be accepted hereunder. In no event shall an arrangement of a composition in the public domain count as any portion of a New Composition.\n\n4.05 If Grantor fails to fulfill all or any portion of Grantor's Minimum Delivery Commitment within Minimum Time Commitment, Publisher shall have the following options: (i) upon written notice to Grantor, to suspend Publisher's obligations to make Advance payments under this Agreement until Grantor has cured the default; (ii) upon written notice to Grantor, to terminate the Term at any time before the date on which Grantor has fully cured the default; and (iii) upon written notice to Grantor, to waive fulfillment of all or part of the Minimum Delivery Commitment for the Contract Period concerned. If Publisher terminates the Term under the foregoing clause (ii), all parties shall be deemed to have fulfilled all of their respective obligations under this Agreement except those obligations that survive the end of the Term (e.g., payment of royalties, warranties, representations, indemnities, etc.). No exercise of an option under this subparagraph shall limit Publisher's rights to recover damages by reason of Grantor's default, or Publisher's rights to exercise any other option under this Agreement, or any of Publisher's other rights.\n\n5. ASSIGNMENT TO PUBLISHER; ADMINISTRATION:\n\n5.01 (a) Grantor and Writer hereby irrevocably assign and grant to Publisher and its successors and assigns, for the Territory, for the life of copyright (including any and all extensions and renewals), subject to paragraph 5.02(b) below, fifty percent (50%) of its right, title and interest in and to (i) Compositions presently owned or controlled, directly or indirectly, by Grantor or any music publishing company or other entity owned or controlled by Grantor that are written by Writer including, without limitation, those Compositions listed on Schedule \"A\" attached hereto, and any other Composition written, owned and/or controlled in whole or in part by Grantor or Writer, directly or indirectly, prior to the Term hereof (\"Existing Compositions\"), which Grantor shall use good faith efforts to deliver to\n\nPublisher not later than thirty (30) days following execution of this Agreement, provided that in the event of Grantor's inadvertent failure to comply with the foregoing, such Compositions shall be deemed New Compositions; and (ii) Compositions which are written, composed or created by Writer during the Term, in whole or in part, alone or in collaboration with others or directly or indirectly owned, and controlled during the Term by Grantor or any music publishing company or other entity owned or controlled by Grantor (\"New Compositions\"). For the avoidance of doubt, the grant of rights set forth in this paragraph 5.01(a) shall not apply to any Acquired Compositions. To the extent that Grantor's interests in any musical composition previously assigned to a third party revert to Grantor, then any such reverted interests shall be deemed Existing Compositions hereunder. Grantor hereby waives and hereby causes Writer to waive in favor of Publisher and Publisher's successors, licensees and assigns, all of Grantor's and Writer's moral rights and droites de suite in the Compositions in each territory of the world to the full extent same may be waived. For the avoidance of doubt, each musical composition which is written, composed and/or created in whole or in part by Writer prior to and/or during the Term, alone or in collaboration with other songwriters, but completed within one (1) month after the expiration of the Term, shall be deemed written, composed and/or created (as applicable) during the Term and fully subject to all terms and provisions of this Agreement.\n(b) Grantor shall, within ten (10) business days of Publisher's request, or as soon as practical, execute a separate letter of assignment in respect of each Composition acquired by Publisher under this Agreement in the form of Exhibit \"A\" hereto, and a letter of notification in the form of Exhibit \"B\" hereto, it being agreed that should Grantor fail to do so in any instance(s), Publisher is hereby granted an irrevocable limited power of attorney solely to execute same in Grantor's name, on Grantor's behalf, as Grantor's limited attorney in fact. Notwithstanding the foregoing, Grantor shall be given the first opportunity to sign any such documents with respect to which a power of attorney applies, but if Publisher does not receive any such signed document within ten (10) business days of Publisher's written request therefor (for which email shall suffice), Publisher shall have the right to sign such document on Grantor's behalf. Copies of all such documents signed by Publisher on Grantor's behalf pursuant to this paragraph 5 shall be provided to Grantor, provided that Publisher's nonconsecutively repetitive, inadvertent failure to do so shall not be a breach of this Agreement.\n(c) Intentionally Omitted.\n\n# 5.02 Publisher's Exclusive Administration Rights: \n\n(a) Subject to paragraphs 5.02(b) and 5.02(c) below, Grantor hereby irrevocably grants to Publisher, its successors, licensees, sub-licensees, and assigns, the sole and exclusive right to administer one hundred percent ( $100 \\%$ ) of the so-called \"writer's share\" (provided, however, that such rights shall exclude the so-called \"writer's share\" of public performance income) and one hundred percent ( $100 \\%$ ) of the so-called \"publisher's share\" of the Compositions throughout the Territory for the life of the copyright and all renewals and extensions thereof, including, without limitation, the following exclusive rights:\n(i) To collect and receive any and all monies which have accrued or which may accrue with respect thereto (excluding the so-called \"writer's share\" of public performance royalties paid directly by the performing rights societies);\n\n(ii) To perform the Compositions publicly, whether for profit or otherwise, by means of public or private performance, radio broadcast or otherwise (including on radio, television, internet and all other media now known or hereafter devised);\n\n(iii) To mechanically reproduce the Compositions in any and all physical, digital or other formats (whether now known or hereafter invented);\n\n(iv) To grant the right to distribute the Compositions in any and all physical and digital formats or other format (whether now known or hereafter invented);\n\n(v) To grant worldwide licenses for the recording and use of the Compositions in and with motion pictures, television productions, Internet-based productions, software, videograms, commercials or any and all other present or future technologies;\n\n(vi) To authorize dramatizations of the Compositions, without limitation, including so-called \"grand\" performing rights;\n\n(vii) To issue mechanical licenses including, without limitation, so-called \"first-use\" mechanical licenses;\n\n(viii) To issue mechanical licenses in the U.S and Canada at not less than 75% of the then current statutory rate, except in those circumstances where such reduced rate licenses are customarily issued;\n\n(ix) To authorize samples and interpolations of the Compositions and the use of Composition titles;\n\n(x) To cause new lyrics to be written in foreign languages provided that in no event will Publisher authorize a reduction in solely Grantor's share as a result of any such foreign translation (i.e., such reduction will come off the top) except to the extent such reduction is required pursuant to the rules of the mechanical and/or performance society in an applicable foreign territory;\n\n(xi) To secure copyright registration and protection of the Compositions throughout the Territory, including, without limitation, registration with any mechanical and/or performance society, in the joint names of Publisher, Writer, Grantor and Grantor's publishing company designee, including any and all renewals, reversions, and extensions of copyrights; in connection with the foregoing, Publisher agrees to use reasonable efforts to register Compositions with such mechanical and/or performance societies and to notify Publisher's applicable sub-publishers/administrators to do the same, provided that Grantor has provided Publisher with complete and accurate information relating to the Compositions as may be reasonably required by such societies and/or sub-publishers/administrators to enable registration, but in any event including at least the title, share, names of all co-writers, co-writer's applicable share, and co-writer's applicable publishing designee and/or administrator (if any);\n\n1916.Sevs.Kiene.CoPubAgmt.1-3.docx\n\n8\n\n(xii) To print, publish, and sell sheet music, orchestrations, arrangements, and other editions of the Compositions in all forms (including digital), with or without music;\n\n(xiii) To authorize, in good faith, the exploitation of any and all other rights now or hereafter existing in all Compositions and in any configuration or technology whether now known or hereafter conceived or developed under and by virtue of any common law rights and all copyrights and renewals and extensions thereof including, but not limited to, the right to license the use of the Compositions in merchandising activities; and\n\n(xiv) To grant any and all of said rights to others on behalf of Publisher and Grantor, provided that Grantor's royalties shall be calculated and credited subject always to paragraph 9 below and provided that such third parties agree to the restrictions set forth herein.\n\n(b) **Reversion of Rights:**\n\n(i) (A) Notwithstanding anything to the contrary contained in this Agreement, Grantor shall have the right to cause the reversion to Grantor of any and all Compositions, including, without limitation, any and all rights therein and thereto, which have not been Commercially Exploited (defined below), prior to the Unexploited Reversion Notice Date (the \"Unexploited Compositions\") by written notice to Publisher on or after the last day of the semi-annual accounting period following the three (3) year anniversary of the expiration or termination of the Term (the \"Unexploited Reversion Notice Date\"). For the purposes of this paragraph 5.02(b)(i)(A), a Composition shall be deemed \"Commercially Exploited\" if it has generated Gross Receipts of at least Seven Hundred Fifty Dollars ($750) (or a pro-rata share thereof if the applicable Composition has been co-written by Writer and one [1] or more other songwriters) and that income has been received by Publisher during the Term or prior to the Unexploited Reversion Notice Date (as applicable).\n\n(B) Publisher shall have no further interest in Unexploited Compositions following the Unexploited Reversion Notice Date and Publisher shall execute such documents as Grantor reasonably requests in writing to evidence the rights in any Composition which have reverted to Grantor in accordance with the terms of this paragraph, it being agreed that should Publisher fail to do so in any instance, Grantor is hereby granted an irrevocable power of attorney solely to execute same in Publisher's name, on Publisher's behalf, as Publisher's limited attorney in fact. Notwithstanding the foregoing, Publisher shall be given the first opportunity to sign any such documents with respect to which a power of attorney applies, but if Grantor does not receive any such signed document within ten (10) business days of Grantor's written request therefore (for which email shall suffice), Grantor shall have the right to sign such document on Publisher's behalf. Copies of all such documents signed by Grantor on Publisher's behalf pursuant to this paragraph shall be provided to Publisher, provided that Grantor's non-consecutively repetitive, inadvertent failure to do so shall not be a breach of this Agreement.\n\n(ii) (A) Grantor shall have the right to cause the reversion to Grantor of the administration rights assigned to Publisher hereunder in and to Grantor's retained aggregate fifty percent (50%) share of the copyrights in the Exploited Compositions and the right to collect any income related thereto and one hundred percent (100%) of the so-called \"writer's share\" of royalties in connection with Compositions throughout the Territory, at any\n\ntime after the last day of the semi-annual accounting period following the seventh ( $7^{\\text {th }}$ ) anniversary of the end of the Term (\"Reversion Notice Date\"). To cause the reversion provided for above, following the Reversion Notice Date, Grantor shall give Publisher written notice of Grantor's desire that Grantor's retained aggregate fifty percent ( $50 \\%$ ) share of the copyrights in the Compositions and the right to collect any income related thereto and one hundred percent ( $100 \\%$ ) of the so-called \"writer's share\" of royalties in connection with Compositions revert (\"Reversion Notice\"), which notice shall be effective at the end of the accounting period in which the Reversion Notice is validly given (\"Admin Reversion Date\"). The period commencing as of the expiration of the Term and expiring as of the Reversion Date may be referred to herein as the \"Admin Retention Period.\" To be valid, the Reversion Notice: (1) must specifically reference this paragraph 5.02(b)(ii), (2) shall be effective only if the conditions of this paragraph 5.02 (b)(ii) have been satisfied, (3) shall be subject to all licenses granting rights with respect to one (1) or more of the Compositions issued by Publisher and/or Publisher's sub-publishers/administrators, agents or licensees in accordance with the terms of this Agreement prior to any reversion, and (4) shall in no way affect Publisher's right, title and interest in and to Publisher's remaining share of the Exploited Compositions (i.e., fifty percent [50\\%] of the so-called \"publisher's share\"), including, but not limited to, Publisher's copyright interests in the Exploited Compositions and Publisher's administration rights in connection therewith. Publisher shall execute such documents as Grantor reasonably requests in writing to evidence the rights in any Composition which have reverted to Grantor in accordance with the terms of this paragraph, it being agreed that should Publisher fail to do so in any instance, Grantor is hereby granted an irrevocable power of attorney solely to execute same in Publisher's name, on Publisher's behalf, as Publisher's limited attorney in fact. Notwithstanding the foregoing, Publisher shall be given the first opportunity to sign any such documents with respect to which a power of attorney applies, but if Grantor does not receive any such signed document within ten (10) business days of Grantor's written request therefor (for which email shall suffice), Grantor shall have the right to sign such document on Publisher's behalf. Copies of all such documents signed by Grantor on Publisher's behalf pursuant to this paragraph shall be provided to Publisher, provided that Grantor's non-consecutively repetitive, inadvertent failure to do so shall not be a breach of this Agreement.\n(B) For the avoidance of doubt, following the expiration of the Admin Retention Period, (a) no further royalties shall be payable to Grantor except solely with respect to Gross Receipts collected during the Admin Retention Period and Collection Period as Grantor shall thereafter directly collect its share of monies and any monies misdirected as set forth in the last sentence of 5.02 (b)(iv) below, except to the extent that Publisher receives any royalties payable to Grantor, in which event Publisher shall promptly pay such amounts to Grantor without any offset or deduction (provided the foregoing shall be subject to the terms of any subpublishing/administration agreement entered into by Publisher), and (b) Publisher shall have the continuing right to collect Publisher's share of all income types set forth in paragraph 9.01 .\n(C) Following the Admin Reversion Date, either party may issue non-exclusive licenses for the use or exploitation of one hundred percent ( $100 \\%$ ) of the Compositions provided that all such licenses contain a provision requiring the direct payment to each party of their respective shares of income derived from any such license. If either party shall collect any income belonging to the other party, the collecting party will account to the other party reasonably promptly after receipt of any such income along with a reasonably\n\ndetailed statement of the source and amount of income collected. Notwithstanding the foregoing, if Grantor enters into a publishing agreement with an unaffiliated, third-party music publisher in respect to its interest in the reverted Compositions, Publisher agrees (upon Grantor's notice to Publisher of such agreement) to license only its respective interest or to seek approval from Grantor's successive publisher of such reverted interest to license one hundred percent (100%) of the Composition.\n\n(iii) Intentionally Omitted.\n\n(vi) Notwithstanding anything to the contrary in this Agreement, Publisher shall have the right to continue to collect, pursuant to the terms of this Agreement, all income earned in respect of any Composition prior to applicable Reversion Date for twelve (12) months after such Reversion Date with respect to any revenue derived from the Compositions from any source in the United States (and eighteen [18] months with respect to any revenue from any source outside the United States) (the \"Collection Period\"). It shall be Grantor's sole obligation to redirect monies after the Collection Period in accordance with the terms of this Agreement, provided however that Publisher shall reasonably cooperate in order to effectuate such redirection. If Publisher continues to receive any monies that should be collected by Grantor after the expiration of the Collection Period, Publisher shall account to and pay Grantor the entire amount of such monies in accordance with the terms of this Agreement but without any offset or deduction (provided the foregoing shall be subject to the terms of any sub-publishing/administration agreement entered into by Publisher).\n\n(c) Approval Rights:\n\n(i) Notwithstanding anything to the contrary contained in this Agreement, Publisher shall not, without Grantor's prior written consent in each instance: (A) grant any synchronization license in connection with any film, television production, website, religious or political campaign or commercial advertisement or other audiovisual work or any license of a Composition in any application software (i.e., so-called \"apps\"), toys or video games; (B) affirmatively authorize samples and interpolations of the Compositions; (C) materially alter any Composition or the English-language title or lyric of any Composition or affirmatively authorize others to do the same (i.e., other than incidental changes, such as changes in gender or plurals and singulars, provided no reduction in ownership unless required by local/applicable rules or regulations but not the right to affirmatively approve or cause to be created foreign language versions); (D) authorize so-called \"grand\" performing rights with respect to any Composition; (E) grant any license for the use of any Composition in connection with any non-music related merchandising activities, NFTs or \"tie-ins\", sponsorships or endorsements; (F) affirmatively authorize a \"first use\" mechanical license in the United States except with respect to those Compositions first released pursuant to a controlled composition clause contained in an agreement executed by Grantor (provided, however, Grantor acknowledges that Grantor shall not agree to any controlled composition clause which provides for a per-unit mechanical rate of less than seventy-five percent (75%) of the then-prevailing rate on physical units); (G) issue any license for the exploitation of Demo(s), live or so-called \"outtakes\" of any Composition; and (H) except as required by a controlled composition clause or industry custom, issue a mechanical license with respect to sales (including digital download sales) of full-price long-playing records in the United States or Canada at a rate less than one hundred percent (100%) of the minimum statutory rate set\n\n1916.Sevs.Kiene.CoPubAgmt.1-3.docx\n\n11\n\nforth in the United States (or Canadian, as applicable) Copyright Act statutory rate (seventy-five percent [75%] [including so-called \"caps\"] if Writer is the producer of the master recording embodying the Composition in question) without first obtaining Publisher's approval of the terms contained therein.\n\n(ii) Intentionally Omitted.\n\n(iii) Where Grantor's prior written approval is required in subparagraphs 5.02(c)(i)-(ii) above, (A) such approval shall not apply in respect of so-called blanket industry agreements (pursuant to which Publisher licenses all or a substantial portion of the musical compositions in its U.S.-based, English language catalog) unless payments are specifically attributable by title to the Compositions hereunder, statutory compulsory licenses requirements and local society rules and regulations; (B) in order to be valid, any withholding of approval shall be accompanied by a statement for the grounds of such withholding of approval; (C) such approval shall not be withheld solely based on the financial terms of any proposed license; (D) such approval shall not be unreasonably withheld, delayed or conditioned (and, without limiting the foregoing, shall specifically not be withheld for the purpose of pressuring or gaining leverage against Publisher in matters relating to Grantor's request for money, improved deal terms or other concession by Publisher hereunder); (E) request for approval and such approval (or denial) shall be valid via email; (F) such approval shall be deemed given if Grantor does not respond within five (5) business days of Publisher's request for approval (or a shorter period of time if Publisher advises Grantor that such shorter period of time is required by any applicable potential licensee); and (G) Publisher's request as required under this subparagraph shall be sent via email to the designated approval party(s) specified on Exhibit \"D\" attached hereto (the \"Approval Party\") and shall constitute proper written notice under the terms of this Agreement and shall be the sole means by which notice shall be given under this subparagraph. If any Approval Party information changes at any time during or after the Term, then it shall, in each instance, be Grantor's obligation to promptly notify Publisher in writing of any such changes. With respect to exploitations of Compositions originating outside of the United States, Publisher shall notify its sub-publishers and administrators of Grantor's approval rights (provided, however, that such sub-publisher's and/or administrator's failure to comply with the foregoing approval obligations shall not be deemed a breach of this agreement), and in each such scenario, Grantor's approval rights shall be subject to the terms and conditions of Publisher's agreement(s) with each applicable sub-publisher or administrator.\n\n(d) Grantor grants to Publisher, without any compensation other than as specified herein, the non-exclusive right to use and publish and to permit others to use and publish Writer's Name and Likeness Materials, and approved biographical material concerning Writer, and the exclusive right to use and publish titles of any and all of the Compositions, solely in connection with the printing, advertising, performance, distribution and other exploitation of the Compositions, and for institutional advertising related to the music-related business of Publisher, its affiliated and related companies, and all sub-publishers/administrators or to refrain therefrom. Grantor shall have the right to approve any photographs, likenesses or biographical material concerning Writer to be utilized by Publisher, which materials shall be submitted to Grantor by Publisher prior to use, and Grantor's approval thereof shall not unreasonably be withheld. Grantor grants Publisher the right to refer to Writer as Publisher's \"Exclusive Songwriter and Composer\" or to use any other\n\n1916.Sevs.Kiene.CoPubAgmt.1-3.docx\n\n12\n\nsimilar and appropriate appellation, during the Term hereof. Promptly following the execution of this Agreement Grantor agrees to furnish Publisher with a reasonable quantity of approved Name and Likeness Materials and Grantor shall have no right to revoke approval with respect to any of the foregoing Name and Likeness Materials until such time as Grantor provides to Publisher replacement Name and Likeness Materials approved by Grantor (such approval not to be unreasonably withheld or delayed). Grantor further agrees, during the Term and at Publisher's reasonable request, to furnish to Publisher additional and/or updated Name and Likeness Materials. Notwithstanding anything to the contrary herein contained and for the avoidance of doubt, Publisher shall not use the Name and Likeness Materials in any manner that (i) casts Writer in a false, disparaging, negative or misleading light or (ii) suggests or implies any sponsorship of or endorsement by Writer of any company, product, service, cause (including, without limitation, any religious, social or political cause) or event.\n(e) Publisher may, in its sole discretion, exercise its rights in the Compositions hereunder by or through any of its related or associated companies (or any licensee, designee or assign).\n(f) Intentionally Omitted.\n6. Intentionally Omitted.\n\n# 7. WARRANTIES, REPRESENTATIONS, COVENANTS AND AGREEMENTS: \n\n7.01 (a) Grantor hereby warrants, represents, covenants and agrees as follows:\n(i) Writer is at least eighteen (18) years of age and Grantor has the full right, power and authority to enter into and perform this Agreement and to grant to and vest in Publisher all rights herein set forth, free and clear of any and all claims, rights and obligations whatsoever. To the full extent of Grantor's interests and contributions, subject to the terms hereof (including, without limitation, any samples cleared pursuant to paragraph 3.01[b] above), all of Grantor's interests in all of the Compositions and all other results and proceeds of the services of Writer and/or Grantor hereunder, including, without limitation, all of the lyrics and music of the Compositions and each and every part thereof are and shall be new and original, and that the Compositions shall be capable of copyright protection throughout the entire Territory. Grantor shall be solely responsible for any monies payable to Writer in connection with this Agreement and monies payable by Publisher shall be inclusive of monies derived from Grantor's interest in the Compositions, as well as that of Writer, if any; provided, however that Publisher shall use reasonable efforts to comply with any letter of direction supplied by Grantor for the direct payment to Writer. No Composition shall, either in whole or in part, be an imitation or copy of, or infringe upon, any other material, or violate or infringe upon any common law or statutory rights of any party including, without limitation, contractual rights, copyrights and rights of privacy. Neither Grantor nor Writer has sold, assigned, leased, licensed or in any other way disposed of or encumbered any Composition, in whole or in part, or any of said rights, except as specifically provided herein (though, for clarity, Grantor shall be entitled to take an advance from a performing rights society against Grantor's so-called \"writer's share\" of public performance income). Publisher shall not be required to make any payments of any nature for, or in connection with, the acquisition, exercise or exploitation of rights by Publisher pursuant to this Agreement except as\n\nspecifically provided herein.\n\n(ii) Grantor represents and warrants that Writer and/or Grantor is a member of, and shall at all times remain a member in good standing of a performing rights society. If Writer and/or Grantor wishes to change Writer's and/or Grantor's membership to an affiliation with a different performing rights society, then Grantor shall coordinate same with Publisher and all above references to Writer or Grantor shall, to the extent applicable, be understood to apply to and include any publishing designee established by Writer and/or Grantor and all references to Publisher shall be deemed to include Publisher's corresponding publishing designee. If Grantor (or Writer) does not currently have a music publishing designee free and clear of administration rights from any third party music publisher, Publisher shall have the right and is hereby authorized (but not obligated) to take all necessary steps in reasonable consultation with Grantor, to establish a publishing designee on Grantor's (and/or Writer's) behalf which shall be fully-owned by Grantor, provided any reasonable out-of-pocket third party expenses actually incurred by Publisher in connection with establishing such publishing designee shall be deemed an advance recoupable from royalties credited to Grantor's account (excluding the so-called \"writer's share\" of public performance royalties). Publisher's interest in such publishing designee shall be limited to the rights granted herein. Alternatively, Publisher may, at its sole election (unless Grantor and Writer establish a distinct and unencumbered publishing designee with the applicable performing rights society), register Grantor's and/or Writer's entire interest in the Compositions (i.e., Grantor's and/or Writer's retained share and that share assigned to Publisher hereunder) through Publisher's preferred publishing designee (and will pay any \"writer's share\" of public performance income received thereby to Grantor without offset).\n\n(iii) Writer shall, during the Term, remain an active songwriter with an output which is reasonably commensurate with Writer's average level of activity over the two (2) year period which preceded the execution of this Agreement.\n\n(b) Publisher hereby warrants, represents, covenants and agrees as follows:\n\n(i) Publisher has the full right, power and authority to enter into and perform this Agreement.\n\n(ii) In collecting monies for exploitations of the Compositions and in dealing with its sub-publishers/administrators, shall use reasonable efforts commensurate with business practices generally prevailing in the music publishing industry for similarly situated music publishing companies.\n\n(iii) Publisher shall use reasonable efforts commensurate with business practices generally prevailing in the music publishing industry for similarly situated music publishing companies notify its affiliated licensees throughout the world regarding any relevant terms conditions hereof.\n\n8. ADVANCES, MISCELLANEOUS FUNDS AND DEMOS:\n\n8.01 Subject to Grantor's full and faithful performance of Grantor's then-current material obligations hereunder, specifically including, but not limited to, the fulfillment of Grantor's\n\n1916.Sevs.Kiene.CoPubAgmt.1-3.docx\n\n14\n\nTI16791682\n\nDelivery obligations in respect of Compositions subject hereto, Publisher shall pay Grantor the following sums at the following times, all of which sums shall constitute non-returnable, advances fully recoupable from royalties payable to Grantor hereunder, excluding the socalled \"writer's share\" of public performance royalties (\"Advance[s]\"):\n(a) In respect of the Initial Period of this Agreement, an Advance in the amount of Fifty Thousand Dollars $(\\$ 50,000)$ (the \"Initial Period Advance\"), payable as follows:\n(i) Twenty Five Thousand Dollars $(\\$ 25,000)$ to Grantor within fifteen (15) days following the later of full execution of this Agreement, including any and all Exhibits and Schedules attached hereto or receipt of all payment information, including without limitation, a W-9 and payment instructions (e.g., complete wire details) for all payees (subject to any amounts payable to Writer pursuant to a letter of direction in a form acceptable to Publisher); and\n(ii) Twenty Five Thousand Dollars $(\\$ 25,000)$ following the later of (A) the one (1) year anniversary of the commencement of the Term; and (B) Publisher's receipt of notice indicating that Grantor has Delivered one (1) one hundred percent ( $100 \\%$ ) controlled New Composition out of the Minimum Delivery Commitment.\n(iii) In addition to the Initial Period Advance, Two Thousand Five Hundred Dollars $(\\$ 2,500)$ shall be payable to the legal counsel (\"Attorney\") designated by Grantor pursuant to a letter of direction in the form set forth on Exhibit \"C\" attached hereto and made a part hereof, which Grantor acknowledges to be Rothenberg, Mohr \\& Binder, LLP. The foregoing payment shall be deemed an additional recoupable Advance hereunder. Publisher's compliance with this authorization will constitute an accommodation to Grantor alone, and nothing herein shall constitute Attorney a beneficiary of or a party to this instrument or to any other agreement between Grantor and Publisher; nor shall Attorney by reason of this authorization, acquire any right to audit Publisher's books or records. All payments hereunder will constitute payment to Grantor for all purposes of this Agreement and Publisher will have no liability by reason of any erroneous payment Publisher may make or failure to comply with this authorization. Grantor will indemnify and hold Publisher harmless against any claims asserted against Publisher, and any damages, losses or expenses incurred by Grantor by reason of any such payment or otherwise in connection therewith.\n(b) (i) If Publisher exercises its option to extend the Term for an Option Period, the Advance (the \"Option Period Advance\") for the applicable Option Period shall be equal to seventy percent $(70 \\%)$ of the aggregate U.S. mechanical royalties and fifty percent ( $50 \\%$ ) of Writer's retained so-called \"publisher's share\" of U.S. performance royalties received in the United States and credited to Grantor's royalty account (including related Pipeline Monies), which royalties have been paid or credited to Publisher during the Initial Period subject to the minimum and maximum set forth below:\n\n| Option Period | Minimum | Maximum |\n| :--: | :--: | :--: |\n| 1 | $\\$ 75,000$ | $\\$ 150,000$ |\n\n(ii) The Option Period Advance shall be payable, if at all, as follows: (A)\n\nfifty percent (50%) upon commencement of the Option Period; and (B) the balance upon the later of (I) the one (1)-year anniversary of the commencement of the Option Period, and (II) the completion of an aggregate one-half [1/2] of your Minimum Delivery Commitment for the Option Period).\n\n(c) Fifteen Thousand Dollars ($15,000), upon Grantor's written request, in respect of each Composition written one hundred percent (100%) by Writer that achieves a chart position of ten (10) (or higher) for at least two (2) consecutive weeks on the Billboard \"Hot 100\" chart (a \"Top 10 Bonus\") and an additional amount of Fifteen Thousand Dollars ($15,000.00) in respect of each Composition written one hundred percent (100%) by Writer that achieves a chart position of top twenty (20) (or higher) for at least two (2) consecutive weeks on the Billboard Pop Airplay chart (a \"Top 20 Bonus\"); subject to proration for Compositions written by Writer in a share less than one hundred percent (100%). A Top 10 Bonus and a Top 20 Bonus shall be deemed additional, fully recoupable Advances against income payable to Grantor hereunder.\n\n8.02 One Hundred Percent (100%) of any and all amounts paid by Publisher upon Grantor's prior written request (which Publisher shall have no obligation to do) in respect of recording costs for Demos made by Grantor (provided such payments shall be prorated if such costs are attributable in part to songwriters other than Grantor who are published by Publisher), or for any other reason, hereunder shall be deemed additional, fully recoupable Advances against income payable to Grantor hereunder (excluding the so-called \"writer's share\" of public performance royalties).\n\n9. ROYALTIES:\n\n9.01 In consideration of this Agreement and Grantor's full and faithful performance of Grantor's then-current material obligations hereunder, Publisher shall pay or credit to Grantor's royalty account the following royalties derived from exploitations of the Compositions during the Term and Admin Retention Period (such sums representing the aggregate royalty obligation for Grantor and Writer):\n\n(a) (i) Seventy five percent (75%) of Net Receipts (defined below), in respect of any licenses issued authorizing the manufacture and distribution of phonorecords and/or electrical transcriptions embodying the Compositions (including, without limitation, digital permanent downloads and audio streams) and any other uses not specifically mentioned in any of subparagraphs 9.01(b) and 9.01(c).\n\n(ii) Intentionally Omitted.\n\n(b) Fifty percent (50%) of Net Receipts in connection with from the so-called \"publisher's share\" of public performance income.\n\n(c) (i) Seventy percent (70%) of Net Receipts in connection with synchronization licenses.\n\n(ii) Intentionally Omitted.\n\n(d) Seventy five percent (75%) of Net Receipts in connection with any other monies for which Grantor directly receives an equivalent amount or is otherwise attributable solely to the so-called \"publisher's share,\" except as otherwise provided for herein.\n\n(e) To the extent Publisher collects the so-called \"writer's share\" of public performance income, Publisher shall credit Grantor's royalty account hereunder with the full amount thereof and pay the same to Grantor at the next regular statement date regardless of the balance of any unrecouped Advances hereunder.\n\n(f) (i) \"Black Box Income\" shall be defined as the Relevant Percentage (as defined below) of gross monies collected or received by Publisher from any so-called \"black box\" funds or any funds paid by any collection society or otherwise to Publisher by way of general distribution on a country-by-country basis. In the event that such Black Box Income is not wholly identifiable and attributable to the Compositions then the proportion of such funds to which this subparagraph shall apply shall be calculated by multiplying such Black Box Income by a fraction the numerator of which shall be the total Gross Receipts received by Publisher arising from the applicable country in the Territory in respect of the Compositions for the preceding twelve (12) month period, and the denominator of which shall be the total income received by Publisher arising from the applicable country in the Territory in respect of the Compositions and any other compositions not the subject of this Agreement for the preceding twelve (12) month period (the \"Black Box Percentage\") such computation to be made on a twelve (12) monthly basis and otherwise accounted pursuant to the terms hereof.\n\n(ii) The \"Relevant Percentage\" shall be the average royalty rate accounted to Grantor by Publisher for all the Compositions during the relevant twelve (12) month period from all forms of exploitation hereunder arising from the Territory excluding Black Box Income.\n\n(iii) For the avoidance of doubt no representation is made by Publisher to the Grantor hereunder that Publisher will be entitled to such Black Box Income during the Term and will not be otherwise accountable for such funds save as arise hereunder.\n\n(iv) Intentionally Omitted.\n\n9.02 Grantor agrees and acknowledges that Publisher shall have the right to (but is not required to) withhold from the royalties payable to Grantor hereunder such amount, if any, as may be required under the provisions of all applicable Federal, State and other tax laws, regulations or treaties, and Grantor agrees to execute such forms and other documents as may be required in connection therewith. If Grantor may be entitled to any U.S. tax credit arising out of taxes deducted from royalties due Grantor, Publisher shall, upon request, reasonably cooperate with Grantor in securing the required documentation.\n\n9.03 No royalties shall be payable to Grantor in respect of any publications containing the Compositions which are distributed without charge as professional copies and/or complimentary or sample copies, or which are sold by Publisher or Publisher's licensees to any of their customers (whether wholesale or retail dealers) or otherwise distributed at or below Publisher's or Publisher's licensees' cost thereof.\n\n1916.Sevs.Kiene.CoPubAgmt.I-3.docx\n\n\n17\n\n9.04 In no event shall Grantor be entitled to share in any advance payments, guarantee payments or minimum royalty payments which Publisher shall receive in connection with any sub-publishing agreement, collection agreement, licensing agreement or other agreement covering the Compositions or any of them, unless the subject advance payments, guarantee payments or minimum royalty payment concerned is solely or specifically allocable to a particular Composition or Compositions (provided however that no portion of any advance payments, guarantee payments or minimum royalty payment which Publisher shall receive in respect of substantially all copyrights owned, controlled or administered by Publisher [i.e., a \"full catalog\" payment] shall be deemed to be solely or specifically allocable to a Composition or Compositions hereunder).\n\n# 10. ACCOUNTINGS: \n\n10.01 (a) Publisher shall compute, account for and pay the royalties earned by Grantor pursuant to this Agreement which are received in the United States on or before the date that is ninety ( 90 ) days after the end of Publisher's then-current six-month accounting periods (currently ending on June 30 and December 31), less Advances or other recoupable and/or deductible amounts hereunder made prior to the close of the applicable accounting period. Publisher may send statements by e-mail or mail and make payments by electronic funds transfer method or by check. Notwithstanding anything to the contrary contained herein, Publisher has no obligation to provide you with statements for any period during which no royalties are due. Notwithstanding the foregoing, if the amount due for a specific statement is less than One Hundred Dollars ( $\\$ 100$ ), then payment (but not the statement) may be deferred until the aggregate amount due to Grantor exceeds One Hundred Dollars ( $\\$ 100$ ). Payments to Grantor or to any publishing entity on behalf of Grantor (subject to any so-called \"letter of direction\" or any subsequent change requested by Grantor) pursuant to this Agreement shall be sent to:\n\nOlivia Kiene\n422 South Gretna Green Way\nLos Angeles, CA 90049\nprovided that physical statements (if any) shall be sent to: c/o Rothenberg, Mohr \\& Binder, LLP, 9595, Wilshire Blvd., Suite 201, Beverly Hills, CA 90212, Attn: Lisa M. Lester, Esq.\n[W-9 and/or wire instructions attached hereto as Exhibit \"E\"].\n(b) Notwithstanding the foregoing, during any period of time, if any, that Publisher is utilizing a third-party administrator to handle collection of funds on its behalf, then Publisher shall account to Grantor twice per year (and make payment when appropriate) within thirty (30) days from the date Publisher receives the statement from Publisher's thencurrent administrator covering royalties collected up to the end of the semi-annual periods ending June 30 and December 31, and otherwise on the terms set forth in subparagraph 10.01(a) above.\n(c) Notwithstanding anything to the contrary set forth in subparagraphs 10.01(a)-\n\n10.01 (b), solely to the extent Publisher's sub-publisher or administrator accounts directly to Grantor, in the event more frequent accountings are systematically rendered by Publisher, Grantor will receive the benefit of such more frequent accounting periods (e.g., quarterly rather than semi-annually), and in such event, any reference to \"semi-annual accounting period\" shall immediately be deemed to be interpreted to apply to the shorter duration of the more frequent accounting period (e.g., \"quarterly accounting period\").\n10.02 With respect to Net Receipts received by Publisher from foreign countries, accrued royalties shall only be credited to Grantor's account after such time as Publisher has received such Net Receipts (or Publisher's account has been credited against an advance previously received by Publisher) in United States dollar currency, and Grantor's share of such royalties shall be credited to Grantor's account utilizing the same rate of exchange as that received by Publisher, it being understood that with respect to payments collected by Publisher's owned and affiliated sub-publishers/administrators outside of the United States, such income shall be deemed received by Publisher in the United States no later than six (6) months following such affiliated sub-publisher's/administrator's receipt thereof.\n10.03 If Publisher is required to accept payment in a foreign country (e.g., not in the United States in United States Dollars), then Publisher will so notify Grantor and shall deposit to Grantor's credit (at Grantor's request and expense), in the currency in which Publisher was paid, Grantor's share of the applicable royalties in a depository in the country where Publisher is required to accept payment. Grantor shall be deemed to have been paid to the extent of any such deposit.\n10.04 All royalty statements rendered by Publisher shall be binding upon Grantor and not subject to any objection by Grantor for any reason unless specific objection in writing, stating the basis thereof, is given to Publisher within three (3) years from the date the statement is received. Failure to make specific objection within said time period shall be deemed approval of such statement. For the purposes of this subparagraph 10.04 and subparagraph 10.05 below, a statement shall be deemed \"received\" when due, unless notice is given to Publisher by Grantor within sixty (60) days after the date upon which such statement is otherwise due specifically referencing Grantor's failure to access or receive such statement, upon the occurrence of which a statement shall be deemed \"received\" ten (10) business days following the date upon which Publisher renders (or otherwise makes available online) the applicable statement, absent a finding of fraud committed by Publisher.\n10.05 Grantor shall have the right at Grantor's own expense, not more than once per year, to audit Publisher's books and records (but, for the avoidance of doubt, not the books and records of Publisher's administrators or sub-publishers) only as the same pertain to exploitation of Compositions under this Agreement for no more than: (a) the last six (6) consecutive accounting periods prior to such audit if Publisher is accounting to Grantor on a semiannual basis; or (b) the last twelve (12) consecutive accounting periods prior to such audit if Publisher is accounting to Grantor on a quarterly basis. Grantor may make such an examination for a particular statement only once, and only within three (3) years after the date said statement is received. Such audit shall be conducted during Publisher's usual business hours, and at Publisher's regular place of business where Publisher keeps the books and records to be examined. Such audit shall be conducted by an independent certified public accountant or attorney experienced in conducting audits of music publishing royalties. If Grantor and Publisher cannot agree to settlement of any audit performed pursuant to these provisions, then any legal\n\nproceedings to be taken by Grantor against Publisher with respect to a royalty statement which was subject to such audit must be commenced within one (1) year of the completion of the underlying audit. All royalty statements to Grantor shall be fully binding upon Grantor and not subject to challenge, audit, or any legal action against Publisher except as specified in this paragraph. If Grantor's accountant or accounting firm has begun an examination of Publisher's books and records for another party or pursuant to an agreement other than this Agreement, the time to audit shall be tolled and the examination on Grantor's behalf shall not be undertaken until such other examination is concluded and any applicable audit issues relating to such other examination have been resolved. The time in which Grantor may undertake Grantor's audit shall be deemed \"tolled\" and extended during the period referred to above.\n\n# 11. LEGAL ACTIONS: \n\n11.01 Grantor acknowledges that the services to be rendered by Grantor hereunder are of a special, unique, unusual, extraordinary and intellectual character which gives them a peculiar value, the loss of which may not be reasonably or adequately compensated in damages in an action at law, and that a breach by Grantor of any of the material provisions of this Agreement may cause Publisher great and irreparable injury and damage. Grantor expressly agrees that Publisher shall be entitled to seek the remedies of injunction and other equitable relief to enforce this Agreement or to prevent a material breach of this Agreement or any material provision hereof, which relief shall be in addition to any other remedies, for damages or otherwise, which may be available to Publisher, provided that nothing contained herein shall be deemed to prevent Grantor from opposing such request for relief.\n11.02 Neither party shall institute any legal action against the other party hereto unless, as an agreed condition thereto, such party shall serve written notice of breach upon the other party, and allow the other party a period of thirty (30) days in which to cure such breach (provided such period shall be fifteen (15) business days for failure by either party to pay any sums due hereunder). Furthermore, neither party shall be deemed in default hereunder if such party's performance of its obligations hereunder is delayed or becomes impossible or impractical, or Publisher is materially hampered in the exploitation and/or administration of the Compositions, by reason of any act of God; war; fire; earthquake; strike; sickness; accident; civil commotion; epidemic; act of government, its agencies or officers; failure of computer facilities; loss of books and/or records; or any other legitimate cause beyond such party's control (each a \"Force Majeure Event\"), provided, for the avoidance of doubt, that Publisher shall continue to render such services as it is able to notwithstanding such Force Majeure Event (e.g., if royalty collection and accounting is not impacted, royalties shall continue to be collected and accounted), and in the event that such Force Majeure Event continues for longer than six (6) months, Grantor shall have the right to terminate the Term of this Agreement upon written notice to Publisher (email shall suffice), subject to repayment of the Repayment Amount. Furthermore, Publisher shall not be required to pay any Advance which may be or become due, but which has not yet been paid, in the event of death or incapacitation of Grantor which precludes Writer from performing material services hereunder.\n11.03 Publisher and its duly appointed representatives are hereby empowered (but not obligated) and are hereby irrevocably appointed limited attorney in fact on an exclusive basis\n\nto prosecute and defend all suits and actions and generally to do and perform all things necessary or desirable in or about the Compositions and the copyrights therein and thereto and in any derivative copyrights (specifically excluding master recordings [except with respect to demo recordings owned by Publisher) in the name of Publisher and Grantor (or in the name of Publisher's duly appointed representative together with that of Grantor), to prevent and restrain infringement of the said copyrights, to protect and enforce the said copyrights and if there shall have been any infringement or any unauthorized use thereof prior to the date of this Agreement to prosecute any action in respect thereof, and to take all such steps as Publisher shall deem expedient or desirable in the exercise of its reasonable business judgment to protect the right, title and interest of Publisher in and to each of the Compositions, and every portion thereof, including, without limitation, the right to initiate an audit of any third party licensee (e.g., any record label whom Publisher may have the right to audit), provided that any disposition of rights, titles or interests in and to any Composition shall be subject to Grantor's prior written approval. Grantor shall have the right, at Grantor's own expense, to participate as plaintiff in any such action brought by Publisher hereunder. Any monies received by Publisher by way of audit, settlement or judgment, after deduction of reasonable outside attorney fees, actual court costs, certified public accountant fees and all other bona-fide, documented, out-of-pocket, third party expenses incurred in respect of actions initiated by Publisher hereunder, shall be divided between Publisher and Grantor in accordance with the applicable royalty provision of paragraph 9 hereinabove. Grantor shall have the right to approve any settlement or compromise of any action that relates to any Composition, such consent not to be unreasonably withheld or delayed. If Publisher refuses or fails to pursue a claim, Grantor may advise Publisher of Grantor's desire to pursue such claim, and if Publisher does not pursue such claim within thirty (30) days of Grantor's notice to Publisher (or such shorter period as the exigencies of circumstances require), Grantor shall have the right to pursue such claim, provided that any monies received by Grantor in connection therewith shall, after deduction of reasonable out-of-pocket attorney fees, court costs and all other expenses reasonably incurred in respect of such claim or action, be divided between Publisher and Grantor in accordance with the applicable royalty provision of paragraph 9 hereinabove.\n\n12. INDEMNITY:\n\n12.01 (a) Grantor hereby indemnifies, saves and holds Publisher, its successors and assigns, harmless from any and all third party liability, claims, demands, loss and damage (including reasonable outside counsel fees and court costs actually incurred) arising out of any breach by Grantor of the warranties, representations or agreements made by Grantor in this Agreement which is reduced to final adverse judgment in a court of competent jurisdiction or settled with Grantor's prior written consent, not to be unreasonably withheld or delayed (such approval not to be required for any settlement of Five Thousand Dollars [$5,000] or less). Grantor shall reimburse Publisher, on demand, for any loss, cost, expense or damage to which said indemnity applies, failing which, Publisher may reimburse itself for monies paid or incurred by Publisher in connection therewith from Grantor's royalties. Pending the disposition of any such claim or action, Publisher shall have the right to withhold payment of such portion of any monies which may be payable by Publisher to Grantor under this Agreement (excluding the so-called \"writer's share\" of public performance royalties) as shall be reasonably related to the amount of the claim and estimated outside counsel fees and actual, out-of-pocket costs, provided that if no suit is filed and no settlement negotiations are pending\n\nwithin one (1) year after Publisher receives notice of a particular claim, then upon notice from Grantor to Publisher that such one (1) year period has expired Publisher shall release any such withheld sums in respect of such claim; provided, however, that if such claim is subsequently revived, then Publisher shall once again have the right to withhold monies hereunder in respect of such claim. Notwithstanding the foregoing, Publisher shall not withhold any monies pursuant to the immediately preceding sentence if Grantor makes bonding arrangements reasonably satisfactory to Publisher in Publisher's sole discretion, to assure Publisher of reimbursement for all damages, liabilities, costs and expenses (including reasonable actual legal expenses and outside counsel fees) which Publisher may incur as a result of such claim. Notwithstanding the foregoing, with respect to any settlement that is acceptable to Publisher but not Grantor, Grantor shall promptly post a surety bond in a form and in an amount reasonably acceptable to Publisher and reasonably related to the amount of claim at issue, and shall reimburse Publisher for all outside legal fees theretofore incurred by Publisher with respect to such claim. If Grantor fails to do so, Publisher may settle the applicable claim without Grantor's consent and Grantor's indemnity shall apply with full force and effect. Each party shall promptly notify the other in writing of any claim or demand made in respect of one or more Compositions, or any other rights or other claims arising subject to this agreement and the other party shall have the right to participate in any such claim with independent counsel at such party's sole expense.\n(b) Publisher hereby indemnifies, saves and holds Grantor and Grantor's successors and assigns, harmless from any and all out-of-pocket, third party liabilities, claims, demands, loss and damage (including reasonable outside counsel fees and court costs) actually incurred arising out of a breach by Publisher of the warranties, representations or agreements made by Publisher in this Agreement which is reduced to final adverse judgment or settled with Publisher's consent, not to be unreasonably withheld or delayed, and Publisher shall reimburse Grantor, on demand, for any loss, cost, expense or damage to which said indemnity applies.\n\n# 13. NOTICES: \n\n13.01 Any written notices which Publisher shall desire to give to Grantor hereunder, and all statements, royalties and other payments which shall be due to Grantor hereunder, shall be addressed to Grantor at the address set forth at the beginning of this Agreement until Grantor shall give Publisher written notice of a new address. All notices that Grantor shall desire to give to Publisher hereunder shall be addressed to Publisher at both the addresses set forth at the beginning of this Agreement, and to Todd Rubenstein Law Admin, 184 S. Livingston Ave., \\#9380, Livingston, NJ 07039; Attn: Todd Rubenstein, Esq. All notices that Publisher shall desire to give to Grantor hereunder shall be addressed to Grantor at both the address set forth at the beginning of this Agreement, and to Rothenberg, Mohr \\& Binder, LLP, 9595, Wilshire Blvd., Suite 201, Beverly Hills, CA 90212, Attn: Lisa M. Lester, Esq. All notices shall either be served by registered or certified mail, return receipt requested, postage prepaid, charges prepaid, addressed as aforesaid, or by any verifiable courier service which requires and obtains the signature of the addressee. The date of mailing or of depositing with a courier service (as herein described), whichever shall be first, shall be deemed the date of service except that notices of change of address and notices of Delivery of Compositions shall not be effective until actually received by Publisher.\n\n# 14. ENTIRE AGREEMENT: \n\n14.01 This Agreement supersedes any and all prior negotiations, understandings and agreements between the parties hereto with respect to the subject matter hereof. Each of the parties acknowledges and agrees that neither party has made any representations or promises in connection with this Agreement or the subject matter hereof not contained herein.\n\n## 15. MODIFICATION, WAIVER AND INVALIDITY:\n\n15.01 This Agreement may not be canceled, altered, modified, amended or waived, in whole or in part, in any way, except by an instrument in writing signed by both parties. The waiver by either party of any breach of this Agreement in any one or more instances shall in no way be construed as a waiver of any subsequent breach of this Agreement (whether or not of a similar nature.) If any part of this Agreement shall be held to be void, invalid or unenforceable, it shall not affect the validity of the balance of this Agreement.\n\n## 16. MISCELLANEOUS:\n\n16.01 Publisher shall have the right to freely assign this Agreement or any of its rights or obligations in this Agreement, in whole or in part to any of its Publisher Affiliates or to any Person or entity acquiring all or substantially all of the stock or assets of Publisher, provided that Publisher shall remain secondarily liable unless and until the assignee assumes such obligations in writing. Without limiting the generality of the foregoing, Publisher shall have the right to enter into sub-publishing, administration, collection, print or other agreements with respect to the Compositions with any parties. Except to the extent Grantor's share shall become subject to a permitted assignment to a third-party hereunder, Grantor shall not have the right during the Term to assign this Agreement in whole or in part to any Person or entity without Publisher's prior written consent, which may be withheld in Publisher's reasonable discretion, provided that Grantor may assign once only its right to receive monies hereunder to a loan-out company of Grantor's choice and upon prior notice to Publisher and execution of documentation acceptable to Publisher in connection therewith.\n16.02 The headings of paragraphs in this Agreement are for the convenience of the parties only and are not to be construed in the interpretation of this Agreement. Except as otherwise expressly set forth herein to the contrary, all references herein to paragraphs shall refer to paragraphs of this Agreement. The word \"including\" and its variations will mean \"including, without limitation.\"\n16.03 Unless otherwise provided herein, wherever Grantor's approval or consent is required, Grantor shall not unreasonably withhold or delay such approval (and, without limiting the foregoing, shall specifically not be withheld for the purpose of pressuring or gaining leverage against Publisher in matters relating to Grantor's request for money, improved deal terms or other concession by Publisher hereunder) and shall give Publisher written notice of approval or disapproval (the reasons for such disapproval being specifically stated) within ten (10) business days after Publisher requests same. If Grantor shall fail to give notice to Publisher as aforesaid, Grantor shall be deemed to have given such consent or approval. Furthermore, Publisher shall seek approval via email from the \"Approval Party\" set forth on Exhibit \"D,\" but may also obtain Grantor's approval or consent from Grantor or Grantor's manager,\n\nattorney or other representative designated by Grantor, which Publisher may do by formal notice, facsimile or email.\n16.04 Nothing in this Agreement is meant to create an employment relationship between the parties of this Agreement. Grantor is and shall always be responsible for payment of any and all amounts Grantor may be required to pay under the provisions of all applicable Federal, State and other tax laws and regulations.\n16.05 This Agreement is entered into in the State of California and shall be construed in accordance with the laws of the State of California applicable to contracts to be wholly performed therein, and shall apply to, bind, and be for the benefit of the heirs, executors, administrators, successors, and assigns of the parties hereto. The exclusive venue for any action, suit or proceeding arising from or based upon this Agreement shall be the appropriate state and federal courts located in Los Angeles County in the State of California.\n16.06 This Agreement may be executed in one or more counterparts (including by digital PDF or facsimile transmission), and by the different parties hereto in separate counterparts, each of which when executed shall be deemed to be an original but all of which when taken together shall constitute one and the same agreement.\n16.07 Grantor will, and/or will cause Writer to, execute and deliver such further instruments and documents (including, without limitation, letters of direction, amendments, attachments and exhibits), and will take such other steps as Publisher shall reasonably request in connection with the performance of Publisher's obligations hereunder, or as otherwise required by Publisher's sub-publishers and/or outside administrators.\n[SIGNATURE PAGE TO FOLLOW]\n\nIN WITNESS WHEREOF, the parties hereto have executed this Agreement as of the day and year first above written.\n\n# GRANTOR: \n\nBy: $\\qquad$ An authorized signatory\n\n## PUBLISHER:\n\n\"1916\"\n\nBy: $\\qquad$\nAn authorized signatory\n\"SEVS\"\n\nBy: $\\qquad$\nAn authorized signatory\n\n# SCHEDULE \"A\" \n\n## Compositions Written Prior To The Term Subject to this Agreement\n\n# EXHIBIT \"A\" \n\n## ASSIGNMENT\n\n## KNOW ALL PERSONS BY THESE PRESENTS:\n\nThe undersigned:\nName: Olivia Kiene\nAddress: c/o Rothenberg, Mohr \\& Binder, LLP, 9595 Wilshire Blvd., Suite 201\nBeverly Hills, CA 90212\nAttn: Lisa M. Lester, Esq.\n(\"Assignor\")\nFor good and valuable consideration now received, hereby sells and assigns unto:\nName: Olivia Kiene d/b/a OLIVIAJKIENE (ASCAP)\nAddress: c/o Rothenberg, Mohr \\& Binder, LLP\n9595 Wilshire Blvd., Suite 201\nBeverly Hills, CA 90212\nAttn: Lisa M. Lester, Esq.\n(\"First Assignee\")\nand its successors and assigns one hundred percent ( $100 \\%$ ) of Assignor's interest in the copyright(s) (including renewals, if applicable) in and to, and all of the right, title, and interest of the Assignor in an to, all musical compositions Assignor owns, controls or acquires, in whole or part, prior to and during the Term, including without limitation, the musical composition(s) listed on Schedule A annexed hereto and made a part hereof by this reference (all such compositions collectively the \"Compositions\"), throughout the world, which First Assignee, in turn, for good and valuable consideration now received, hereby sells and assigns unto:\n\nName: $\\quad 1916$ Enterprises 2.0, LLC\nAddress: c/o Todd Rubenstein Law, Inc.\n1645 N. Vine St, Suite 809\nLos Angeles, CA 90028\n(\"1916\")\n-AND-\nName: SEVS MUSIC ENTERTAINMENT, INC.\nAddress: c/o Law Office of Jeffrey B. Gandel\n1623 Third Ave., Suite 22A\n\nNew York, NY 10128\n(\"SEVS\") (1916 and SEVS collectively referred to herein as \"Second Assignee\")\nand their successors and assigns, an undivided fifty percent ( $50 \\%$ ) (i.e., $25 \\%$ to 1916 and $25 \\%$ to SEVS) of Assignor's interest in the copyright(s) (including renewals, if applicable) in and to, and all of the right, title and interest of Assignor(s) in and to, the Composition(s), throughout the world.\n\nTHIS INSTRUMENT is subject to all of the terms and conditions of the Agreement dated as of May 7, 2024 between the First Assignee and Second Assignee.\n\nIN WITNESS WHEREOF, the undersigned has hereunto set her hand and seals as of this 05 of 09.2024 .\n\nState of (a) (fornia)\nCounty of (as Algetis)\nOn this $\\qquad$ day of $\\qquad$ , 2024 before me personally came $\\qquad$ to me known and known to me to be the individual named in and who executed the foregoing instrument who acknowledged to me that he/she executed same.\n\nSee Attached Notary Form\n\n# EXHIBIT \"B\" \n\nTo the agreement dated as of May 7, 2024, between Olivia Kiene (\"Writer\"), individually and on behalf of OLIVIAJKIENE (ASCAP) or any other publishing company designee, on the one part, and 1916 Enterprises 2.0, LLC d/b/a 191620 Publishing (ASCAP), and SEVS MUSIC ENTERTAINMENT, INC. d/b/a $\\qquad$ (ASCAP), on the other part (the \"Agreement\").\n\nTo: ALL RECORD MANUFACTURERS\nLICENSED TO MECHANICALLY\nREPRODUCE COMPOSITIONS\nSPECIFIED HEREINBELOW\n\nTo: SESAC/ASCAP/BMI\nTo: HARRY FOX AGENCY\nTo: ALL OTHER PARTIES IN INTEREST\n\nPlease be advised that effective as of May 7, 2024, I have granted to 1916 Enterprises 2.0, LLC d/b/a 191620 Publishing (with an address of: c/o Todd Rubenstein Law, Inc., 1645 N. Vine St, Suite 809, Los Angeles, CA 90028), and SEVS MUSIC ENTERTAINMENT, INC. d/b/a (with an address c/o Law Office of Jeffrey B. Gandel, 1623 Third Ave, Suite 22A, New York, NY 10128), and their respective licensees and assigns, the following exclusive rights throughout the world in respect of one hundred percent ( $100 \\%$ ) of my interest in the musical compositions written by Writer in which I am a copyright proprietor:\n\n1. to license and cause others to license the use of the Compositions; and\n2. to administer and grant rights in and to the Compositions and the copyrights therein;\n3. to publish and sell sheet music and/or folios of the Compositions if it so elects; and\n4. to collect all monies payable with respect to the Compositions, including monies earned but not paid prior to the effective date hereof but excluding the so-called \"writer's share\" of public performance income; and\n5. otherwise administer the Compositions and the copyrights therein and to act as the publishers thereof.\n\nThis instrument is subject to all of the terms and conditions of the Agreement.\n![img-0.jpeg](img-0.jpeg)\n\n# Exhibit \"C\" \n\n## LETTER OF DIRECTION\n\nOlivia Kiene<br>c/o Rothenberg, Mohr \\& Binder, LLP<br>9595 Wilshire Blvd., Suite 201<br>Beverly Hills, CA 90212<br>Attn: Lisa M. Lester, Esq.\n\nDated as of May 7, 2024\n\n1916 Enterprises 2.0, LLC\nc/o Todd Rubenstein Law, Inc.\n1645 N. Vine St, Suite 809\nLos Angeles, CA 90028\nSEVS MUSIC ENTERTAINMENT, INC.\nc/o Law Office of Jeffrey B. Gandel\n1623 Third Ave., Suite 22A\nNew York, NY 10128\nGentlepersons:\n\n1. By the terms and conditions of that certain exclusive songwriter and co-publishing agreement between 1916 Enterprises 2.0, LLC and SEVS MUSIC ENTERTAINMENT, INC. (collectively \"Publisher\"), on the one hand, and Olivia Kiene, individually, and on behalf of all related present and future music publishing designee(s), including, without limitation, OLIVIAJKIENE (ASCAP) (hereinafter individually and collectively referred to as \"Writer\"), on the other hand, dated as of May 7, 2024 (the \"Agreement\"), Publisher is required (subject to the terms and conditions of the Agreement) to make certain advance payments to Writer.\n2. Although subparagraph 8.01 (a) of the Agreement provides for an Advance payment of Twenty Five Thousand Dollars $(\\$ 25,000)$ to be paid to Writer following the full execution of this Agreement (including any and all schedules and exhibits attached hereto) and Delivery to Publisher of all Existing Compositions (the \"Execution Advance\"), I hereby request and authorize Publisher to promptly pay an additional recoupable Advance in the sum of Two Thousand Five Hundred Dollars $(\\$ 2,500)$ (the \"Legal Fees Payment\") directly to Rothenberg, Mohr \\& Binder, LLP, 9595 Wilshire Blvd., Suite 201, Beverly Hills, CA 90212, Attn: Lisa M. Lester, Esq. (\"Attorney\").\n3. The payment of the Legal Fees Payment to be made by Publisher pursuant to the terms of paragraph 2 above shall constitute an advance that is fully recoupable by Publisher from any and all monies otherwise becoming payable to Writer pursuant to the terms of the Agreement (excluding the so-called \"writer's share\" of public performance income).\n\n4. Publisher's compliance with this authorization will constitute an accommodation to Writer alone; the entity referred to in paragraph 2 above is not a beneficiary of the Execution Advance and/or the Agreement. This letter shall not be deemed to give any right or remedy to the entity referred to in paragraph 2 above. The payments to the entity referred to in paragraph 2 above under this authorization shall constitute an individual advance payment to Writer, and Publisher will have no liability whatsoever by reason of any erroneous payment or failure to comply with this authorization. Writer shall indemnify and hold Publisher harmless against any claims asserted against Publisher and any damages, losses or expenses Publisher may incur by reason of any such payment or otherwise in connection herewith. Pending the determination of any such claim, Publisher may withhold payment of royalties or other monies due to Writer under the Agreement. Any such payment of withheld funds shall be without prejudice to the rights of Publisher in the event of a subsequent institution of litigation or an adjudication.\n\nVery truly yours,\n\nOlivia Kiene\n\n# Exhibit \"D\" \n\n## APPROVER CONTACT INFORMATION\n\n## APPROVAL PARTY\n\nApprover Name: Lisa M. Lester, Esq.\nApprover Phone Number: $\\quad 310-430-7310$\nApprover E-Mail Address: llester@rmbllp.com\nRelationship to Writer: Attorney\nIf any Approval Party information changes at any time during or after the Term of the Agreement to which this Exhibit \"D\" is attached, then it shall, in each instance, be Writer's obligation to promptly notify Publisher in writing of Writer's new designated Approval Party.\n\n# Exhibit \"E\" \n\nGrantor's payee information (wire information and W-9)\n\n# Exhibit \"F\" \n\n[Intentionally Omitted]\n\n# Exhibit \"G\" \n\n[Intentionally Omitted]\n\n# CALIFORNIA ALL-PURPOSE ACKNOWLEDGMENT \n\nA notary public or other officer completing this certificate verifies only the identity of the individual who signed the document to which this certificate is attached, and not the truthfulness, accuracy, or validity of that document.\n\nState of California\nCounty of Los Angeles\nOn May 9,2024 before me, Osbald o Melchor Arguellef, Notary Public\nDate\nPersonally appeared Olivia Fiene\nName(s) of Signer(s)\nwho proved to me on the basis of satisfactory evidence to be the person(s) whose name(s) is/are subscribed to the within instrument and acknowledged to me that he/she/they executed the same in his/her/their authorized capacity(ies), and that by his/her/their signature(s) on the instrument the person(s), or the entity upon behalf of which the person(s) acted, executed the instrument.\n\nI certify under PENALTY OF PERJURY under the laws of the State of California that the foregoing paragraph is true and correct.\nWITNESS my hand and official seal.\nSignature\nSignature of Notary Public\n\nPlace Notary Seal Above\nOPTIONAL\nThough this section is optional, completing this information can deter alteration of the document or fraudulent reattachment of this form to an unintended document.\n\n## Description of Attached Document\n\nTitle or Type of Document: Exclusive Songwriter and Co-Publishing Agreement Document Date: $\\qquad$ Number of Pages: $\\qquad$\nSigner(s) Other Than Named Above: $\\qquad$\nCapacity(ies) Claimed by Signer(s)\nSigner's Name: $\\qquad$\n$\\square$ Corporate Officer - Title(s): $\\qquad$\n$\\square$ Partner - $\\square$ Limited $\\square$ General\n$\\square$ Individual $\\square$ Attorney in Fact\n$\\square$ Trustee\n$\\square$ Cuerdian or Conservator\n$\\square$ Other: $\\qquad$\nSigner Is Representing: $\\qquad$\n\nSigner's Name: $\\qquad$\n$\\square$ Corporate Officer - Title(s): $\\qquad$\n$\\square$ Partner - $\\square$ Limited $\\square$ General\n$\\square$ Individual $\\square$ Attorney in Fact\n$\\square$ Trustee\n$\\square$ Cuerdian or Conservator\n$\\square$ Other: $\\qquad$\nSigner Is Representing: $\\qquad$\n(C2015 National Notary Association $\\cdot$ www. NationalNotary.org $\\cdot$ 1-800-US NOTARY (1-800-876-6827) Item \\#5907",
          "number": "81212589-b8f6-47a9-94d7-11bb8ff9532e",
          "deal_type": "Publishing"
        }
      }
    ]
  },
  "repo_name": "hub-n8n",
  "repo_owner": "ck-bit",
  "repo_path": "",
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": "OXd6Bgv6fGlRWzmQ",
    "saveDataSuccessExecution": "none"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-11-03T06:01:33.151Z",
  "versionId": "f6cb921b-336d-4a08-b8ba-67ff7006827a"
}