2025/10/Mhc1JXCeOozU8L8z.json
{
  "active": false,
  "connections": {
    "Switch": {
      "main": [
        [
          {
            "node": "Router",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "access_token2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields11",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Postgres6",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "ByInvoiceId",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Basic LLM Chain2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Trigger": {
      "main": [
        [
          {
            "node": "GetUserSession1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Invoice": {
      "main": [
        [
          {
            "node": "invoice_payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Model": {
      "ai_languageModel": [
        [
          {
            "node": "Extract Invoice",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Fix",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Fix",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parser1": {
      "ai_outputParser": [
        [
          {
            "node": "Auto-fixing Output Parser",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "UpdatePayload",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Model1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Auto-fixing Output Parser",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Postgres6": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fix": {
      "ai_outputParser": [
        [
          {
            "node": "Extract Invoice",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "UpdatePayload": {
      "main": [
        [
          {
            "node": "access_token1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "firebaseId1": {
      "main": [
        [
          {
            "node": "CreateInvoice",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "access_token": {
      "main": [
        [
          {
            "node": "firebaseId1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "OnFailure",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "access_token1": {
      "main": [
        [
          {
            "node": "firebaseId",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields8",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "firebaseId": {
      "main": [
        [
          {
            "node": "Update",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch1": {
      "main": [
        [
          {
            "node": "InvoiceRecipient1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Format2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Router": {
      "main": [
        [
          {
            "node": "Switch1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RegisterCustomer": {
      "main": [
        [
          {
            "node": "Code2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code2": {
      "main": [
        [
          {
            "node": "Format2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code Tool": {
      "ai_tool": [
        [
          {
            "node": "Extract Invoice",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "ByInvoiceId": {
      "main": [
        [
          {
            "node": "If4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If3": {
      "main": [
        [
          {
            "node": "InvoiceOutput",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "ByRecAndAmount",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If4": {
      "main": [
        [
          {
            "node": "GetInvoices",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "ByRecAndAmount",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If5": {
      "main": [
        [
          {
            "node": "GetInvoices1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "ByRecipient",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If6": {
      "main": [
        [
          {
            "node": "InvoiceOutput1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "ByRecipient",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If7": {
      "main": [
        [
          {
            "node": "GetInvoices2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "ByAmount",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ByAmount": {
      "main": [
        [
          {
            "node": "If8",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If8": {
      "main": [
        [
          {
            "node": "GetInvoices3",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "InvoiceOutput3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If9": {
      "main": [
        [
          {
            "node": "InvoiceOutput2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "ByAmount",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ByRecAndAmount": {
      "main": [
        [
          {
            "node": "If5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GetInvoices": {
      "main": [
        [
          {
            "node": "If3",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GetInvoices1": {
      "main": [
        [
          {
            "node": "If6",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Error1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GetInvoices2": {
      "main": [
        [
          {
            "node": "If9",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Error2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GetInvoices3": {
      "main": [
        [
          {
            "node": "InvoiceOutput3",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Error3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ByRecipient": {
      "main": [
        [
          {
            "node": "If7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Auto-fixing Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields9",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code1": {
      "main": [
        [
          {
            "node": "Edit Fields6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CreateInvoice": {
      "main": [
        [
          {
            "node": "UserSession",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "OnFailure",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "InvoiceRecipient1": {
      "main": [
        [
          {
            "node": "If2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If2": {
      "main": [
        [
          {
            "node": "Edit Fields4",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "RegisterCustomer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields4": {
      "main": [
        [
          {
            "node": "Code2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format2": {
      "main": [
        [
          {
            "node": "Extract Invoice",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If11": {
      "main": [
        [
          {
            "node": "If12",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields10",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "UpdateSesssion6": {
      "main": [
        [
          {
            "node": "Edit Fields13",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields12",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CreateFile2": {
      "main": [
        [
          {
            "node": "Wait2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields12",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If12": {
      "main": [
        [
          {
            "node": "InvoicePayload",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "CreateFile2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait2": {
      "main": [
        [
          {
            "node": "Get Invoice4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Invoice4": {
      "main": [
        [
          {
            "node": "GetFile",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields12",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GetFile": {
      "main": [
        [
          {
            "node": "Add_invoicefile",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields12",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update": {
      "main": [
        [
          {
            "node": "Code1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields8",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "invoice_payload": {
      "main": [
        [
          {
            "node": "access_token",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain2": {
      "main": [
        [
          {
            "node": "New/Options",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model5": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain2",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser8": {
      "ai_outputParser": [
        [
          {
            "node": "Basic LLM Chain2",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "UpdateSesssion7": {
      "main": [
        [
          {
            "node": "If11",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GetUserSession1": {
      "main": [
        [
          {
            "node": "Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Input": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "firebaseId2": {
      "main": [
        [
          {
            "node": "Get Invoice",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "OnError",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "access_token2": {
      "main": [
        [
          {
            "node": "firebaseId2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "OnError",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "UpdateSesssion5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "UpdateSesssion5": {
      "main": [
        [
          {
            "node": "Edit Fields2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "OnError1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Invoice": {
      "main": [
        [
          {
            "node": "If10",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CreateFile1": {
      "main": [
        [
          {
            "node": "Wait1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "OnError2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If10": {
      "main": [
        [
          {
            "node": "Google Cloud Storage",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "CreateFile1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait1": {
      "main": [
        [
          {
            "node": "Get Invoice3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Cloud Storage": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "OnError2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Invoice3": {
      "main": [
        [
          {
            "node": "Google Cloud Storage",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "OnError2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "InvoicePayload": {
      "main": [
        [
          {
            "node": "GetFile",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "UserSession": {
      "main": [
        [
          {
            "node": "UpdateSesssion7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add_invoicefile": {
      "main": [
        [
          {
            "node": "UpdateSesssion6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-10-20T06:51:39.886Z",
  "id": "Mhc1JXCeOozU8L8z",
  "meta": null,
  "name": "invoice_helpers-V1.0.6",
  "nodes": [
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.action.includes(\"create\") }}",
                    "rightValue": "",
                    "operator": {
                      "type": "boolean",
                      "operation": "true",
                      "singleValue": true
                    },
                    "id": "a0d57f1e-2666-4549-a35d-9fb424095a98"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "3325ec49-ea5d-4532-a9ce-b2b72dc1172b",
                    "leftValue": "={{ $json.action.includes(\"pdf_request\") }}",
                    "rightValue": "",
                    "operator": {
                      "type": "boolean",
                      "operation": "true",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "18c4290d-49af-43d2-a73f-05ae633bcd63",
                    "leftValue": "={{ $json.action.includes(\"send_file\") }}",
                    "rightValue": "send_file",
                    "operator": {
                      "type": "boolean",
                      "operation": "true",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "3178b30e-5cff-4271-a4ab-f10a3199af22",
                    "leftValue": "={{ $json.action.includes(\"update\") }}",
                    "rightValue": "",
                    "operator": {
                      "type": "boolean",
                      "operation": "true",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "5dbddb92-dd71-4b8d-806c-0ac56308c93b",
                    "leftValue": "={{ $json.action.includes(\"check\") }}",
                    "rightValue": "",
                    "operator": {
                      "type": "boolean",
                      "operation": "true",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "3b46750e-88f5-4215-81a2-6e340b396b91",
                    "leftValue": "={{ $json.action.includes(\"analyze\") }}",
                    "rightValue": "",
                    "operator": {
                      "type": "boolean",
                      "operation": "true",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -5700,
        4723.25
      ],
      "id": "f97e2b6c-5855-416a-8c2f-abf87788358c",
      "name": "Switch"
    },
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "action"
            },
            {
              "name": "data",
              "type": "any"
            },
            {
              "name": "ai_input"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -6360,
        4786.25
      ],
      "id": "e4adc541-cef1-42ea-9834-c5fcf23df24d",
      "name": "Trigger"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Instructions: {{ $('Input').first().json.ai_input }}\n-----\nMetadata: {{ JSON.stringify($json.metadata.removeField('last_bot_response'), null, ' ') }}\n-----",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=You are an intelligent AI extraction agent responsible for parsing and extracting invoice-related data in strict accordance with the defined JSON parsing schema.\n\nYour task is to:\n- Fully analyze all available context sources.\n- Accurately extract the required fields.\n- Return the output **exactly matching** the structure, types, and enumerations defined in the JSON schema provided to you.\n\n---\n\n### Output Format\n\nYour response **must strictly follow** the following JSON schema structure:\n\n- All fields are **required** unless explicitly marked optional.\n- Use the correct data types (e.g., string, uuid, float, boolean, date).\n- Populate enum fields only with allowed values as defined (e.g., \"status\", \"deal_type\", \"currency\").\n\nRefer to the following schema definitions when forming the output.\n\n---\n\n### You will receive the following input sources:\n\n- **Email Thread / Deal Document**: Unstructured communication containing important deal or invoice context.\n- **Metadata**: Structured profile data of the manager, client, or associated entities.\n- **Tool Input**: Data retrieved via automated systems (e.g., deal lookups, previously stored values).\n- **Instructions**: Latest user instructions, which may contain constraints or field overrides.\n\n---\n\n### Key Guidelines\n\n1. Extract **only relevant and valid** information from the sources.\n2. If any metadata is missing, you must follow the instructions and set the values accordingly without any guess and hallucinations.\n3. Your output must be **machine-parseable**, **strictly valid JSON**, and conform exactly to the schema.\n\n---\n\nAct deterministically. Do not ask clarifying questions. Your job is to extract and format with precision.\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.9,
      "position": [
        -3544,
        3138.75
      ],
      "id": "707c6ae8-b1d7-41d2-9ca6-6219ae230073",
      "name": "Extract Invoice",
      "retryOnFail": true,
      "maxTries": 2
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {
          "responseFormat": "json_object",
          "temperature": 0
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -3516,
        3558.75
      ],
      "id": "21e05b5d-6625-4ad4-b66d-19c38d14f820",
      "name": "Model",
      "credentials": {
        "openAiApi": {
          "id": "mxdHDElSd4VQZiDt",
          "name": "OpenAi account 2"
        }
      }
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n  \"type\": \"object\",\n  \"properties\": {\n    \"book_number\": {\n      \"type\": \"string\",\n      \"format\": \"uuid\",\n      \"description\": \"book_id(uuid) provided in metadata.person_verification\"\n    },\n    \"title\": {\n      \"type\": \"string\",\n      \"description\": \"Appropriate title or label of the invoice\"\n    },\n    \"deal_number\": {\n      \"type\": [\"string\", null],\n      \"format\": \"uuid\",\n      \"description\": \"Search for deal_number(uuid) extracted from Metadata if provided. Set it to null\"\n    },\n    \"deal_type\": {\n      \"type\": [\"string\", null],\n      \"enum\": [\"Producer\", \"Mixer\", \"Featured Artist\", \"Publishing\", \"Record\", \"Brand\"],\n      \"description\": \"Type of deal related to the invoice. If no informations about the deal is present, set this to null\"\n    },\n    \"status\": {\n      \"type\": [\"string\", null],\n      \"enum\": [\"Draft\"],\n      \"description\": \"Status of the invoice. If not matched or provided, set to Draft.\"\n    },\n    \"amount\": {\n      \"type\": [\"number\"],\n      \"description\": \"Extract the approved amount by the manager in the given context. You must look for the amount and extract is accurately. For example: 500\"\n    },\n    \"currency\": {\n      \"type\": \"string\",\n      \"enum\": [\"EUR\", \"GBP\", \"USD\", \"CAD\", \"AUD\"],\n      \"description\": \"Currency of the invoice amount\"\n    },\n    \"commissioned_collected\": {\n      \"type\": \"boolean\",\n      \"description\": \"Whether the commissioned amount has been collected\"\n    },\n    \"management_commission\": {\n      \"type\": \"number\",\n      \"description\": \"Management commission amount, if clearly mentioned\"\n    },\n    \"management_commission_currency\": {\n      \"type\": \"string\",\n      \"enum\": [\"EUR\", \"GBP\", \"USD\", \"CAD\", \"AUD\"],\n      \"description\": \"Currency of the management commission. Set USD if no detail found.\"\n    },\n    \"legal_commissioned_collected\": {\n      \"type\": \"boolean\",\n      \"description\": \"Whether the legal commissioned amount has been collected\"\n    },\n    \"contact\": {\n      \"type\": [\"string\", null],\n      \"description\": \"Contact information of the person/customer who is recieving the invoice. Set null if not provided\"\n    },\n    \"customer_number\": {\n      \"type\": [\"string\", null],\n      \"format\": \"uuid\",\n      \"description\": \"Extract the uuid number from invoice_metadata.invoice_customer if provided, otherwise set to null\"\n    },\n    \"po_number\": {\n      \"type\": [\"string\", null],\n      \"description\": \"Purchase Order number for this invoice if provided\"\n    },\n    \"issued_on\": {\n      \"type\": [\"string\", null],\n      \"format\": \"date\",\n      \"description\": \"Date the invoice was issued. Retrieve the latest date for the invoice calling the tool\"\n    },\n    \"due_on\": {\n      \"type\": [\"string\", null],\n      \"format\": \"date\",\n      \"description\": \"Invoice due date provided in the context, set to null if not provided\"\n    },\n    \"details\": {\n      \"type\": [\"string\"],\n      \"description\": \"Short details of the invoice created.\"\n    }\n  },\n  \"required\": [\n    \"book_number\",\n    \"title\",\n    \"deal_number\",\n    \"deal_type\",\n    \"status\",\n    \"amount\",\n    \"currency\",\n    \"commissioned_collected\",\n    \"management_commission\",\n    \"management_commission_currency\",\n    \"legal_commissioned_collected\",\n    \"contact\",\n    \"customer_number\",\n    \"po_number\",\n    \"issued_on\",\n    \"due_on\",\n    \"details\"\n  ]\n}\n"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.2,
      "position": [
        -3228,
        3558.75
      ],
      "id": "999952cc-a591-4e6e-b6d3-36058c8dd24c",
      "name": "Parser"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=instructions: {{ $('Trigger').item.json.ai_input }}\n\nrecommended changes: {{ $('Trigger').item.json.data.recommended_invoice_updates }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=You are the Patchbay Invoice Update Agent responsible for analyzing invoice update instructions and extracting them into a structured JSON format.\n\nYour task:\n1. Analyze the provided instructions and recommended changes\n2. Extract ONLY the fields that need to be updated\n3. Return a clean JSON payload matching the UpdateInvoiceRequest schema\n\nEXTRACTION RULES:\n- Only include fields explicitly mentioned for update in the instructions\n- Never add fields that aren't mentioned\n- Return null if no valid updates can be extracted\n- Output ONLY valid JSON without any explanations or formatting\n\nFIELD MAPPING GUIDE:\n- \"status\" → Map to allowed values: \"Draft\", \"Paid\", \"In Transit\"\n  * \"processing\" → \"In Transit\"\n  * \"Sent/being sent\"→ \"Sent\"\n  * \"completed/complete\" → \"Paid\"\n  * \"pending/draft\" → \"Draft\"\n- \"amount\" → Extract numeric values for invoice amount (not commission amounts)\n- \"deal_id\" → Extract if instructions mention assigning/linking to a specific deal ID\n- \"commissioned_collected\" → Set to true if \"commission collected\" or \"management commission received\"\n- \"management_commission\" → Extract commission amount if specified\n- \"management_commission_currency\" → Extract currency for commission (EUR, GBP, USD, CAD, AUD)\n- \"legal_commissioned_collected\" → Set to true if \"legal commission collected\"\n- \"due_date\": Change recommended to the due date for the invoice.\n\nPATTERN RECOGNITION:\n- Status changes: Look for keywords like \"update status\", \"mark as\", \"change to\", \"set to\"\n- Amount changes: Look for \"$\", \"€\", \"£\" or phrases like \"update amount\", \"change invoice amount\"\n- Commission: Look for \"commission\", \"management fee\", \"admin fee\"\n- Deal assignment: Look for \"assign to deal\", \"link to deal\", \"deal #\", \"deal ID\"\n\nOUTPUT:\nReturn ONLY the JSON with fields that need updating based on the instructions."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.9,
      "position": [
        -4884,
        4490
      ],
      "id": "70ae6dc6-7f03-411b-8ac6-166736de5d10",
      "name": "AI Agent",
      "retryOnFail": true
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n  \"type\": [\"object\", \"null\"],\n  \"description\": \"Update payload for an invoice. Only include fields that require updating. Return null if no updates are needed.\",\n  \"properties\": {\n    \"status\": {\n      \"type\": \"string\",\n      \"enum\": [\"Draft\", \"Paid\", \"In Transit\", \"Sent\"],\n      \"description\": \"Updated invoice status. Map 'processing' to 'In Transit'\"\n    },\n    \"amount\": {\n      \"type\": \"number\",\n      \"description\": \"Updated invoice amount\"\n    },\n    \"deal_id\": {\n      \"type\": \"number\",\n      \"description\": \"Deal ID to assign\"\n    },\n    \"commissioned_collected\": {\n      \"type\": \"boolean\",\n      \"description\": \"Management commission collection status\"\n    },\n    \"management_commission\": {\n      \"type\": \"number\",\n      \"description\": \"Management commission amount\"\n    },\n    \"management_commission_currency\": {\n      \"type\": \"string\",\n      \"enum\": [\"EUR\", \"GBP\", \"USD\", \"CAD\", \"AUD\"],\n      \"description\": \"Management commission currency\"\n    },\n    \"legal_commissioned_collected\": {\n      \"type\": \"boolean\",\n      \"description\": \"Legal commission collection status\"\n    },\n    \"due_date\": {\n      \"type\": \"string\",\n      \"description\": \"Invoice due date proposed as a change. Follow ISO datetime format\"\n    }\n  }\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.2,
      "position": [
        -4692,
        4905
      ],
      "id": "a10f9344-173d-4733-83ee-beaafd913b7b",
      "name": "Parser1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "edbe88af-c3b5-405d-8125-984557fa1789",
              "leftValue": "={{ $json.output!==null }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -4424,
        4687.5
      ],
      "id": "56861168-db1e-4d8d-9118-3b7ef0bde235",
      "name": "If1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "2111359a-e427-4309-959d-330b0684f2f9",
              "name": "message",
              "value": "=No changes detected for updating the invoice. Inform the manager and Call the tool: InvoiceFileRequest to get the latest invoice file and follow the instructions of that tool to inform the manager.",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -4204,
        4886.25
      ],
      "id": "8cc3f738-eea7-4a25-9c8e-1752dd59792a",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "gpt-4.1-mini"
        },
        "options": {
          "responseFormat": "json_object",
          "temperature": 0
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -4860,
        4905
      ],
      "id": "5a152483-3443-42a6-b290-2dfd7848c5c6",
      "name": "Model1",
      "credentials": {
        "openAiApi": {
          "id": "mxdHDElSd4VQZiDt",
          "name": "OpenAi account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT * FROM invoices_invoice WHERE number = $1",
        "options": {
          "queryReplacement": "={{ $json.data.invoice_number }}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -5402,
        4886.25
      ],
      "id": "8540489a-5b83-4d18-9663-dd3ef862ad3b",
      "name": "Postgres6",
      "retryOnFail": true,
      "credentials": {
        "postgres": {
          "id": "wYLes21z9h3njdSn",
          "name": "postgress-prod"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserAutofixing",
      "typeVersion": 1,
      "position": [
        -3336,
        3361.25
      ],
      "id": "175bf10b-a072-46d6-9709-1270b36b2c26",
      "name": "Fix"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "4547bf90-18fa-4d61-95ed-ab6b85127523",
              "name": "output.number",
              "value": "={{ $('Trigger').item.json.data.invoice_number }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -4204,
        4538.75
      ],
      "id": "d14e5432-d383-4e48-af41-802e44246fef",
      "name": "UpdatePayload"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "3bd6ea95-7bc1-4589-bf96-9e863e87e14d",
              "name": "message",
              "value": "=Below updates were made to the invoice;\\n \nInvoice ID: {{ $('Update').first().json.invoice_number }}\n{{ $json.markdown }}\n\nNext, you must execute to tool: InvoiceFileRequest to get the updated invoice file and follow the instructions of that tool to inform the manager.",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -2740,
        4462.5
      ],
      "id": "c65d4a02-dc8a-4dc6-8f7b-772b7b12f10e",
      "name": "Edit Fields6"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT firebase_uid as x_acting_as_user FROM hub_user_hubuser WHERE number= $1",
        "options": {
          "queryReplacement": "={{ $('Trigger').item.json.data.user_id }}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -2520,
        3263.75
      ],
      "id": "16293bb1-5e96-4ff1-9c65-f15215e8d75e",
      "name": "firebaseId1",
      "credentials": {
        "postgres": {
          "id": "wYLes21z9h3njdSn",
          "name": "postgress-prod"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://hub-api-prod-649845453193.us-central1.run.app/api/v1/authentication/system-user/token",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-Key",
              "value": "=5dd3450f93dfb2415c97e282"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -2740,
        3338.75
      ],
      "id": "8089385f-9260-4e18-8719-169d5948b90c",
      "name": "access_token",
      "retryOnFail": false,
      "credentials": {
        "googleApi": {
          "id": "Hue2Vve59bazs83Y",
          "name": "Google Service Account account 2"
        },
        "httpBearerAuth": {
          "id": "db2me6PVtNUH5oYv",
          "name": "Bearer Auth account"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://hub-api-prod-649845453193.us-central1.run.app/api/v1/authentication/system-user/token",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-Key",
              "value": "=5dd3450f93dfb2415c97e282"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -3984,
        4538.75
      ],
      "id": "d2d7044d-b91c-4ea2-abfd-c00e9d70f818",
      "name": "access_token1",
      "retryOnFail": true,
      "credentials": {
        "googleApi": {
          "id": "Hue2Vve59bazs83Y",
          "name": "Google Service Account account 2"
        },
        "httpBearerAuth": {
          "id": "db2me6PVtNUH5oYv",
          "name": "Bearer Auth account"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT firebase_uid as x_acting_as_user FROM hub_user_hubuser WHERE number= $1",
        "options": {
          "queryReplacement": "={{ $('Trigger').item.json.data.user_id }}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -3764,
        4463.75
      ],
      "id": "d990e6c8-de53-4433-aae8-65d2a51bb761",
      "name": "firebaseId",
      "credentials": {
        "postgres": {
          "id": "wYLes21z9h3njdSn",
          "name": "postgress-prod"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "16461ce0-e9b9-4e0f-b827-b53a6cb9a326",
                    "leftValue": "={{ $json.invoice_recipient.route ==='register' }}",
                    "rightValue": "",
                    "operator": {
                      "type": "boolean",
                      "operation": "true",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "55e16791-8b8b-4cad-b168-d54be8dc7c2a",
                    "leftValue": "={{ $json.invoice_recipient.route ==='exists' }}",
                    "rightValue": "",
                    "operator": {
                      "type": "boolean",
                      "operation": "true",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.invoice_recipient.route ==='ask_manager' }}",
                    "rightValue": "",
                    "operator": {
                      "type": "boolean",
                      "operation": "true",
                      "singleValue": true
                    },
                    "id": "674a4b45-3662-47af-8741-10cc07c0aa60"
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {
          "fallbackOutput": 1
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -5104,
        3513.75
      ],
      "id": "d3f59565-77f8-4189-b4d0-688b179b6f23",
      "name": "Switch1"
    },
    {
      "parameters": {
        "jsCode": "// 1) Safe reads\nconst metadata = $json?.data?.metadata ?? {};\nconst user_id = $json?.data?.user_id ?? \"\";\nconst mdIR = metadata?.invoice_metadata?.invoice_recipient ?? {};\nconst mdStatus = mdIR?.status ?? \"\";\nconst mdName = (mdIR?.name ?? \"\").trim();\nconst userInput = ($json?.data?.invoice_recipient ?? \"\").trim();\nconst thread =\n  $json?.data?.thread ??\n  $json?.data?.session_data?.ThreadId ??\n  \"\";\n\n// Deal ID filtering logic\nconst rawDealId = $json?.data?.deal_id ?? \"\";\nconst normalizedDealId = rawDealId ? String(parseInt(rawDealId, 10)) : \"\";\nlet dealMetadata = metadata?.deal_metadata ?? [];\n\n// Filter deal_metadata if it's a list with more than one object and deal_id is provided\nif (Array.isArray(dealMetadata) && dealMetadata.length > 1 && normalizedDealId) {\n  dealMetadata = dealMetadata.filter(deal => {\n    const dealIdStr = deal?.deal_id ? String(parseInt(deal.deal_id, 10)) : \"\";\n    return dealIdStr === normalizedDealId;\n  });\n  // Update metadata with filtered deal_metadata\n  metadata.deal_metadata = dealMetadata;\n}\n\n// 2) Normalize invoice_recipient object + route\nlet invoice_recipient = {\n  status: \"\",   // exists | not_provided | missing | unknown\n  name: \"\",     // never hallucinated; empty string if unknown\n  source: \"\",   // metadata | user_input | none\n  route: \"\",    // use_existing | use_user_input | use_metadata_name | ask_manager | fallback\n};\n\n// CASE 1: metadata says it exists\nif (mdStatus === \"exists\") {\n  invoice_recipient = {\n    status: \"exists\",\n    name: mdName,\n    source: \"metadata\",\n    route: \"exists\",\n  };\n}\n// CASE 2: not_provided but user supplied input\nelse if ((mdStatus === \"not_provided\" || mdStatus==='') && userInput !== \"\") {\n  invoice_recipient = {\n    status: \"not_provided\",\n    name: userInput,\n    source: \"user_input\",\n    route: \"register\",\n  };\n}\n// CASE 3: missing in store, but metadata has a non-empty name\nelse if (mdStatus === \"missing\" && mdName !== \"\") {\n  invoice_recipient = {\n    status: \"missing\",\n    name: mdName,\n    source: \"metadata\",\n    route: \"register\",\n  };\n}\n// CASE 4: not_provided and no user input -> return METADATA ONLY\nelse if (mdStatus === \"not_provided\" && userInput === \"\") {\n  return [\n    {\n      json: {\n        metadata, // only metadata as requested\n        route: \"ask_manager\"\n      },\n    },\n  ];\n}\n// Fallback\nelse {\n  invoice_recipient = {\n    status: mdStatus || \"unknown\",\n    name: mdName || \"\",\n    source: mdStatus ? \"metadata\" : \"none\",\n    route: \"fallback\",\n  };\n}\n\n// 3) For Cases 1/2/3/fallback -> return thread + metadata + invoice_recipient\nreturn [\n  {\n    json: {\n      user_id,\n      thread,\n      metadata,\n      invoice_recipient,\n    },\n  },\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -5402,
        3513.75
      ],
      "id": "dd27b461-0632-437c-ac34-3589dccf1cdf",
      "name": "Router"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "bGR4MMtu87q0YiD9",
          "mode": "list",
          "cachedResultName": "InvoiceCustomer-V-1.0.6"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "action": "create",
            "data": "={{\n{\nuser_id:$('Trigger').first().json.data.user_id,\ninvoice_recipient: $json.invoice_recipient,\nmetadata: $('Trigger').first().json.data.metadata,\nthread: $('Trigger').first().json.data.thread\n}\n}}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "action",
              "displayName": "action",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "data",
              "displayName": "data",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        -4204,
        3365
      ],
      "id": "b917bf4b-6e32-445c-bb3b-b5a2cd7eba0b",
      "name": "RegisterCustomer"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f36c5ff6-d53f-434e-9a6b-7ebe81047c99",
              "name": "message",
              "value": "=To proceed with creating an invoice, a valid invoice recipient is needed. Ask the manager to provide a valid invoice recipient details and set the next_task to \"create_invoice\"",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -4764,
        3665
      ],
      "id": "bbcb68ca-e9eb-4e53-860f-93582e8b42a1",
      "name": "Edit Fields7"
    },
    {
      "parameters": {
        "jsCode": "const base = $('Switch1').first().json;\nconst rec  = $input.first().json.invoice_recipient;\n\nconst updated = JSON.parse(JSON.stringify(base)); // deep clone\n\n// Ensure path exists\nupdated.metadata = updated.metadata ?? {};\nupdated.metadata.invoice_metadata = updated.metadata.invoice_metadata ?? {};\nupdated.metadata.invoice_metadata.invoice_recipient = {\n  status: \"exists\",\n  name: rec.name ?? \"\",\n  invoice_recipient_number: rec?.data?.customer_number ?? rec?.data?.client_number ?? null\n};\ndelete updated.invoice_recipient\nreturn [{ json: updated }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -3980,
        3260
      ],
      "id": "d49a3e76-32ff-4ff0-b6bf-e0ac75602169",
      "name": "Code2"
    },
    {
      "parameters": {
        "name": "DateTime",
        "description": "Call this tool to provide current time.",
        "jsCode": "return new Date().toISOString()"
      },
      "type": "@n8n/n8n-nodes-langchain.toolCode",
      "typeVersion": 1.1,
      "position": [
        -3456,
        3358.75
      ],
      "id": "ae2b7ef4-6c57-40d7-a3df-b1badc319776",
      "name": "Code Tool"
    },
    {
      "parameters": {
        "jsCode": "// Get routes safely\nconst routes = $json?.data?.routes ?? [];\n\n// Find the first route with route_by === \"by_invoice_id\"\nconst matchedRoute = routes.find(r => r.route_by === \"by_invoice_id\") || null;\n\n// Return result\nreturn [\n  {\n    json: {\n      route: matchedRoute\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -5402,
        5360
      ],
      "id": "9ad71c65-bf58-43df-9470-fae924d2d2ba",
      "name": "ByInvoiceId"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "757ce2c4-8561-4815-8386-699787b7d3e5",
              "leftValue": "={{ $json.invoices.length != 0 }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -4424,
        5136.25
      ],
      "id": "8c425bce-c713-44bf-99d3-1f4e3824c21c",
      "name": "If3"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "5c5484d4-7a9b-4154-b35d-f35ba130478e",
              "leftValue": "={{ $json.route!=null }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -5104,
        5360
      ],
      "id": "50c8a44e-37d4-4a58-a24f-7739adcf4b27",
      "name": "If4"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "5c5484d4-7a9b-4154-b35d-f35ba130478e",
              "leftValue": "={{ $json.route!=null }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -3984,
        5460
      ],
      "id": "9d3bd577-efbd-4df8-b68d-fd708dbbcc88",
      "name": "If5"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "757ce2c4-8561-4815-8386-699787b7d3e5",
              "leftValue": "={{ $json.invoices.length != 0 }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -3362,
        5136.25
      ],
      "id": "53bb1776-9440-4377-bb41-d8006140381b",
      "name": "If6"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "5c5484d4-7a9b-4154-b35d-f35ba130478e",
              "leftValue": "={{ $json.route!=null }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -2740,
        5560
      ],
      "id": "8a75a8cd-0c79-4d4e-b930-dc9a2f068dd7",
      "name": "If7"
    },
    {
      "parameters": {
        "jsCode": "// Get routes safely\nconst routes = $(\"Switch\").first().json?.data?.routes ?? [];\n\n// Find the first route with route_by === \"by_invoice_id\"\nconst matchedRoute = routes.find(r => r.route_by === \"by_amount_only\") || null;\n\n// Return result\nreturn [\n  {\n    json: {\n      route: matchedRoute\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2080,
        5660
      ],
      "id": "8e44b25f-bc65-42f7-92a3-765885e2481b",
      "name": "ByAmount"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "c40961bf-6c6e-4d49-9479-eccaaa923faa",
              "name": "invoices",
              "value": "={{ $json.invoices?? [] }}",
              "type": "array"
            },
            {
              "id": "e560ccd1-2cf8-4fbf-8b1a-3a2bea01ce0d",
              "name": "route_by",
              "value": "={{ $('ByInvoiceId').first().json.route.route_by }}",
              "type": "string"
            },
            {
              "id": "48020a1b-789f-4b3c-8099-b2769ee88703",
              "name": "=invoice_next_step",
              "value": "={{ $('ByInvoiceId').first().json.route.next_step }}",
              "type": "string"
            },
            {
              "id": "dcbf256a-ea6d-432c-8986-72fec89726f7",
              "name": "status",
              "value": true,
              "type": "boolean"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -4204,
        5086.25
      ],
      "id": "78eae4d5-f26a-447c-987f-0cef0c92a855",
      "name": "InvoiceOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "5c5484d4-7a9b-4154-b35d-f35ba130478e",
              "leftValue": "={{ $json.route!=null }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -1860,
        5660
      ],
      "id": "bb5014cc-f549-4055-9093-39ac70b6b03f",
      "name": "If8"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "757ce2c4-8561-4815-8386-699787b7d3e5",
              "leftValue": "={{ $json.invoices.length != 0 }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -2300,
        4637.5
      ],
      "id": "195cbda7-3464-4475-956d-32f88b40733d",
      "name": "If9"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "c40961bf-6c6e-4d49-9479-eccaaa923faa",
              "name": "invoices",
              "value": "={{ $json.invoices?? [] }}",
              "type": "array"
            },
            {
              "id": "e560ccd1-2cf8-4fbf-8b1a-3a2bea01ce0d",
              "name": "route_by",
              "value": "={{ $('ByRecAndAmount').first().json.route.route_by }}",
              "type": "string"
            },
            {
              "id": "e58469f7-ceab-460f-8184-090ae925a99c",
              "name": "status",
              "value": true,
              "type": "boolean"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -2960,
        5086.25
      ],
      "id": "d53c6824-4e01-45c6-97c1-ad0f14aab3c8",
      "name": "InvoiceOutput1"
    },
    {
      "parameters": {
        "jsCode": "// Get routes safely\nconst routes = $(\"Switch\").first().json?.data?.routes ?? [];\n\n// Find the first route with route_by === \"by_invoice_id\"\nconst matchedRoute = routes.find(r => r.route_by === \"by_recipient_with_amount\") || null;\n\n// Return result\nreturn [\n  {\n    json: {\n      route: matchedRoute\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -4204,
        5460
      ],
      "id": "fe872f32-65df-4bb8-9314-f0f25eda5701",
      "name": "ByRecAndAmount"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT\n  COALESCE(\n    (\n      SELECT jsonb_agg(\n               jsonb_build_object(\n                'invoice_id', i.invoice_number,\n                'invoice_number', i.number,\n                'title', i.title,\n                'details', i.details,\n                'invoice_amount', i.amount,\n                'invoice_status', i.status,\n                'book_id', i.book_id\n               )\n               ORDER BY i.created_at DESC\n             )\n      FROM (\n        SELECT *\n        FROM invoices_invoice i\n        WHERE i.book_id = $1\n          AND i.invoice_number = $2\n        ORDER BY i.created_at DESC\n        LIMIT 3\n      ) i\n    ),\n    '[]'::jsonb\n  ) AS invoices;\n",
        "options": {
          "queryReplacement": "={{ $json.route.book_id }}, {{ $json.route.invoice_id }}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -4764,
        5285
      ],
      "id": "e981835b-c2c4-42f4-811c-7f9dda97e8bd",
      "name": "GetInvoices",
      "retryOnFail": true,
      "executeOnce": true,
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "wYLes21z9h3njdSn",
          "name": "postgress-prod"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT\n  COALESCE(\n    (\n      SELECT jsonb_agg(\n               jsonb_build_object(\n                 'invoice_id', i.invoice_number,\n                 'invoice_number', i.number,\n                 'title', i.title,\n                 'details', i.details,\n                 'invoice_amount', i.amount,\n                 'invoice_status', i.status,\n                 'invoice_customer_id', i.customer_id,\n                 'invoice_recipient', $4   -- still supplied by caller\n               )\n             )\n      FROM (\n        SELECT i.*\n        FROM invoices_invoice i\n        JOIN invoices_invoiceclient ic\n          ON ic.id = i.customer_id\n        WHERE i.amount = $1          -- amount\n          AND ic.number = $2         -- customer number\n          AND i.book_id = $3         -- scope by book\n        ORDER BY i.created_at DESC\n        LIMIT 3\n      ) i\n    ),\n    '[]'::jsonb\n  ) AS invoices;\n",
        "options": {
          "queryReplacement": "={{ $json.route.amount }}, {{ $json.route.recipient_number }}, {{ $json.route.book_id }}, {{ $json.route.recipient_name }}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -3764,
        5236.25
      ],
      "id": "63a71969-793c-4ae6-8133-0239633352fd",
      "name": "GetInvoices1",
      "retryOnFail": true,
      "executeOnce": true,
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "wYLes21z9h3njdSn",
          "name": "postgress-prod"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT\n  COALESCE(\n    (\n      SELECT jsonb_agg(\n               jsonb_build_object(\n                 'invoice_id', i.invoice_number,\n                 'invoice_number', i.number,\n                 'title', i.title,\n                 'details', i.details,\n                 'invoice_amount', i.amount,\n                 'invoice_status', i.status,\n                 'invoice_customer_id', i.customer_id,\n                 'invoice_recipient', $3   -- still supplied by caller\n               )\n               ORDER BY i.created_at DESC\n             )\n      FROM (\n        SELECT *\n        FROM invoices_invoice\n        WHERE book_id = $2\n          AND customer_id = (\n            SELECT ic.id\n            FROM invoices_invoiceclient ic\n            WHERE ic.number = $1\n          )\n        ORDER BY created_at DESC\n        LIMIT 3\n      ) i\n    ),\n    '[]'::jsonb\n  ) AS invoices;\n",
        "options": {
          "queryReplacement": "={{ $json.route.recipient_number }}, {{ $json.route.book_id }}, {{ $json.route.recipient_name }}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -2520,
        4762.5
      ],
      "id": "16a89c85-3e8e-4d7c-9eae-f00dba3003db",
      "name": "GetInvoices2",
      "retryOnFail": true,
      "executeOnce": true,
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "wYLes21z9h3njdSn",
          "name": "postgress-prod"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT\n  COALESCE(\n    (\n      SELECT jsonb_agg(t)\n      FROM (\n        SELECT jsonb_build_object(\n                 'invoice_id', i.invoice_number,\n                 'invoice_number', i.number,\n                 'title', i.title,\n                 'details', i.details,\n                 'invoice_amount', i.amount,\n                 'invoice_status', i.status,\n                 'book_id', i.book_id,\n                 'invoice_customer_id', i.customer_id\n               ) AS t\n        FROM invoices_invoice i\n        WHERE i.amount = $1\n          AND i.book_id = $2\n        ORDER BY i.created_at DESC\n        LIMIT 3\n      ) sub\n    ),\n    '[]'::jsonb\n  ) AS invoices;\n",
        "options": {
          "queryReplacement": "={{ $json.route.amount }}, {{ $json.route.book_id }}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -1640,
        4612.5
      ],
      "id": "61ea1e04-9839-476a-b4a8-2a3e4a50f5f0",
      "name": "GetInvoices3",
      "retryOnFail": true,
      "executeOnce": true,
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "wYLes21z9h3njdSn",
          "name": "postgress-prod"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "c40961bf-6c6e-4d49-9479-eccaaa923faa",
              "name": "invoices",
              "value": "={{ $json.invoices?? [] }}",
              "type": "array"
            },
            {
              "id": "e560ccd1-2cf8-4fbf-8b1a-3a2bea01ce0d",
              "name": "route_by",
              "value": "={{ $('ByRecipient').first().json.route.route_by }}",
              "type": "string"
            },
            {
              "id": "4d77d828-2b50-4534-b015-8c5eac22dc4a",
              "name": "status",
              "value": true,
              "type": "boolean"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -2080,
        4587.5
      ],
      "id": "25194458-2437-4fee-a441-157afdcfdfd3",
      "name": "InvoiceOutput2"
    },
    {
      "parameters": {
        "jsCode": "// Get routes safely\nconst routes = $(\"Switch\").first().json?.data?.routes ?? [];\n\n// Find the first route with route_by === \"by_invoice_id\"\nconst matchedRoute = routes.find(r => r.route_by === \"by_recipient_no_amount\") || null;\n\n// Return result\nreturn [\n  {\n    json: {\n      route: matchedRoute\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2960,
        5560
      ],
      "id": "01d98a0f-afa6-42d2-bfeb-9ec4cc5a9ca2",
      "name": "ByRecipient"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "c40961bf-6c6e-4d49-9479-eccaaa923faa",
              "name": "invoices",
              "value": "={{ $json.invoices?? [] }}",
              "type": "array"
            },
            {
              "id": "e560ccd1-2cf8-4fbf-8b1a-3a2bea01ce0d",
              "name": "route_by",
              "value": "={{ $('ByAmount').first().json.route.route_by }}",
              "type": "string"
            },
            {
              "id": "7475bba3-5526-42fa-920c-66eea607fc17",
              "name": "status",
              "value": true,
              "type": "boolean"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1420,
        5760
      ],
      "id": "a7bb420c-e085-4edc-9b75-355081af390e",
      "name": "InvoiceOutput3"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "162a3fa5-af95-4298-aee0-c7da07a90bae",
              "name": "status",
              "value": false,
              "type": "boolean"
            },
            {
              "id": "bb557265-4bfd-4fcd-b122-4202d7575eaf",
              "name": "message",
              "value": "Failed due to technical reasons",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -4424,
        5385
      ],
      "id": "f687e1f6-1c4a-4f40-9a49-37bdd1a8783e",
      "name": "Error"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "162a3fa5-af95-4298-aee0-c7da07a90bae",
              "name": "status",
              "value": false,
              "type": "boolean"
            },
            {
              "id": "bb557265-4bfd-4fcd-b122-4202d7575eaf",
              "name": "message",
              "value": "Failed due to technical reasons",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -3362,
        5336.25
      ],
      "id": "c251f65f-886a-49bb-8711-b844c45f776c",
      "name": "Error1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "162a3fa5-af95-4298-aee0-c7da07a90bae",
              "name": "status",
              "value": false,
              "type": "boolean"
            },
            {
              "id": "bb557265-4bfd-4fcd-b122-4202d7575eaf",
              "name": "message",
              "value": "Failed due to technical reasons",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -2300,
        4862.5
      ],
      "id": "3a2566ab-0415-4cba-91c0-1d6aff2affd5",
      "name": "Error2"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "162a3fa5-af95-4298-aee0-c7da07a90bae",
              "name": "status",
              "value": false,
              "type": "boolean"
            },
            {
              "id": "bb557265-4bfd-4fcd-b122-4202d7575eaf",
              "name": "message",
              "value": "Failed due to technical reasons",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1420,
        4562.5
      ],
      "id": "6e98e37b-905b-4f0c-a42d-2e73e0d4bf4c",
      "name": "Error3"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserAutofixing",
      "typeVersion": 1,
      "position": [
        -4800,
        4710
      ],
      "id": "dd25fc0c-99a9-4d5a-b91f-b4ab22d2033a",
      "name": "Auto-fixing Output Parser"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "2111359a-e427-4309-959d-330b0684f2f9",
              "name": "message",
              "value": "=Encountered some technical issue while creating the invoice. Excuse to the usre. Ask the manager to retry after some time and set the next_task = 'no_action'.",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -2960,
        4861.25
      ],
      "id": "e250f6cd-5dc0-4d1f-81b6-bc3075ced88e",
      "name": "Edit Fields8"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "f5ef10ea-156d-417f-bb44-a161c486a098",
              "leftValue": "={{ $json.status!=\"Paid\" }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -5104,
        4886.25
      ],
      "id": "0566f3ff-9808-4bcd-9006-e531daec146b",
      "name": "If"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "2111359a-e427-4309-959d-330b0684f2f9",
              "name": "message",
              "value": "=The invoice status is already Paid and cannot be processed further. Inform the manager about it. If the Manager hase requested invoice file specifically, next call the tool 'InvoiceFileRequest' to generate and send the invoice file.",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -4764,
        5085
      ],
      "id": "2859c0df-200d-4b6a-b211-fc5ad002977f",
      "name": "Edit Fields9"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "28d9ee30-04e5-43d5-b29a-38211df99b7c",
              "name": "message",
              "value": "The feature to send files as email to recipients is not build yet.",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -5280,
        4580
      ],
      "id": "debbd806-e747-4184-bdbc-ba255f19b5f5",
      "name": "Edit Fields11"
    },
    {
      "parameters": {
        "jsCode": "// Get the AI Agent output\nconst aiAgentOutput = $('AI Agent').item.json.output;\n\n// Parse if string, otherwise use as-is\nconst data = typeof aiAgentOutput === 'string' ? JSON.parse(aiAgentOutput) : aiAgentOutput;\n\n// Convert to markdown format\nfunction toMarkdownString(obj, prefix = '') {\n    let result = '';\n    \n    if (obj === null || obj === undefined) {\n        return `${prefix}: null\\n`;\n    }\n    \n    if (Array.isArray(obj)) {\n        if (obj.length === 0) {\n            return `${prefix}: []\\n`;\n        }\n        obj.forEach((item, index) => {\n            const newPrefix = prefix ? `${prefix}[${index}]` : `[${index}]`;\n            if (typeof item === 'object' && item !== null) {\n                result += toMarkdownString(item, newPrefix);\n            } else {\n                result += `${newPrefix}: ${String(item)}\\n`;\n            }\n        });\n        return result;\n    }\n    \n    if (typeof obj === 'object') {\n        const entries = Object.entries(obj);\n        if (entries.length === 0) {\n            return `${prefix}: {}\\n`;\n        }\n        \n        entries.forEach(([key, value]) => {\n            const newPrefix = prefix ? `${prefix}.${key}` : key;\n            \n            if (value === null || value === undefined) {\n                result += `${newPrefix}: null\\n`;\n            } else if (Array.isArray(value)) {\n                if (value.length === 0) {\n                    result += `${newPrefix}: []\\n`;\n                } else {\n                    value.forEach((item, index) => {\n                        const arrayPrefix = `${newPrefix}[${index}]`;\n                        if (typeof item === 'object' && item !== null) {\n                            result += toMarkdownString(item, arrayPrefix);\n                        } else {\n                            result += `${arrayPrefix}: ${String(item)}\\n`;\n                        }\n                    });\n                }\n            } else if (typeof value === 'object') {\n                result += toMarkdownString(value, newPrefix);\n            } else {\n                result += `${newPrefix}: ${String(value)}\\n`;\n            }\n        });\n        return result;\n    }\n    \n    return `${prefix}: ${String(obj)}\\n`;\n}\n\n// Generate markdown\nconst markdown = toMarkdownString(data);\n\n// Return for next node\nreturn {\n    markdown: markdown\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2960,
        4462.5
      ],
      "id": "dbfc2f25-9f66-4fc9-abd5-963e2486006c",
      "name": "Code1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://hub-api-prod-649845453193.us-central1.run.app/api/v1/invoices",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{$('access_token').item.json.access_token.trim() }}"
            },
            {
              "name": "X-Acting-As-User",
              "value": "={{ $json.x_acting_as_user }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $('invoice_payload').first().json.output }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -2300,
        3260
      ],
      "id": "da436c76-d5d4-4835-9019-6706841e4b14",
      "name": "CreateInvoice",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "3bd6ea95-7bc1-4589-bf96-9e863e87e14d",
              "name": "message",
              "value": "=The invoice creation failed due to technical issues. Inform the manager about the issue and that a Patchbay representative will reach out to him soon..\n- Set the next_task to \"no_action\"",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -2080,
        3565
      ],
      "id": "f080e28a-1711-47f1-b5d6-bae33add74e8",
      "name": "OnFailure"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "DI0OK2QjzXrFmcrM",
          "mode": "list",
          "cachedResultName": "InvoiceCustomer-V-1.0.3"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "action": "retrieve",
            "data": "={{  \n{\n\"invoice_recipient\": $json.invoice_recipient.name ?? \"\", \"threshold\": 0.05,\nbook_number: $json.metadata.client_verification.book_number\n}\n}}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "action",
              "displayName": "action",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "data",
              "displayName": "data",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        -4764,
        3263.75
      ],
      "id": "e23663ef-bfbd-42c0-962c-d0d137483f12",
      "name": "InvoiceRecipient1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "d788525e-ebda-43f4-b7af-93b4cfd9eb08",
              "leftValue": "={{ $json.invoice_recipient.status }}",
              "rightValue": "exists",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -4424,
        3263.75
      ],
      "id": "d447d3d7-d78e-4bf5-8766-7b272489186d",
      "name": "If2"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "c8ce596d-8435-4fbd-ab81-a988d92acfc5",
              "name": "invoice_recipient.status",
              "value": "={{ $json.invoice_recipient.status }}",
              "type": "string"
            },
            {
              "id": "80da6f4c-5a53-49a9-83db-02ed91616074",
              "name": "invoice_recipient.name",
              "value": "={{ $json.invoice_recipient.name }}",
              "type": "string"
            },
            {
              "id": "b129ee59-aa3c-4e37-9f80-8561ee0d74c6",
              "name": "invoice_recipient.data.customer_number",
              "value": "={{ $json.invoice_recipient.invoice_recipient_number }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -4204,
        3165
      ],
      "id": "21684de7-c252-4ea8-960e-206edf941d64",
      "name": "Edit Fields4"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={{ $json }}",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -3760,
        3480
      ],
      "id": "b6a41373-6437-4e98-8479-364c8cb78b9f",
      "name": "Format2"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "08bf5a51-376f-4344-9a6e-d5aa531a3506",
              "leftValue": "={{ $('Trigger').first()?.json?.data?.invoice_file_request}}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -1620,
        3200
      ],
      "id": "150ba783-6f03-4bbb-822f-622072022cbc",
      "name": "If11"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f36c5ff6-d53f-434e-9a6b-7ebe81047c99",
              "name": "message",
              "value": "=Invoice created successfully with below details;\n\nInvoice ID: {{ $('CreateInvoice').first().json.invoice_number }}\nTitle: {{ $('CreateInvoice').first().json.title }}\nInvoice Amount: {{ $('CreateInvoice').first().json.amount }}\nStatus: {{ $('CreateInvoice').first().json.status }}\nRecipient: {{ $('CreateInvoice').first().json.customer?.address?.name || \"Not Mentioned\" }}\nCurrency: {{ $('CreateInvoice').first().json.currency }}\nIssue_date: {{ $('CreateInvoice').first().json.issued_on }}\nDue_date: {{ $('CreateInvoice').first().json.due_on }}\n\nNext:\n- Set the next_task = no_action\n- Don't call any other tool further.\n\nInform the manager about the invoice created.",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1200,
        3420
      ],
      "id": "e431ef9b-c64a-45b9-8f3a-c0c9df034e9c",
      "name": "Edit Fields10"
    },
    {
      "parameters": {
        "operation": "set",
        "key": "=user_session_{{ $('Trigger').first().json.data.ThreadId+$('Trigger').first().json.data.user_id }}",
        "value": "={{ $json.user_session.toJsonString() }}",
        "expire": true,
        "ttl": "={{ 60 * 60 * 24 * 30 }}"
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        120,
        2890
      ],
      "id": "f047aca8-3852-4c30-82f1-e826c3d2960a",
      "name": "UpdateSesssion6",
      "retryOnFail": true,
      "credentials": {
        "redis": {
          "id": "ujdbLpmKXmUC4bPj",
          "name": "Redis account 2"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://hub-api-prod-649845453193.us-central1.run.app/api/v1/invoices/{{ $('CreateInvoice').item.json.number }}/pdf",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{$('access_token').item.json.access_token.trim() }}"
            },
            {
              "name": "X-Acting-As-User",
              "value": "={{ $('firebaseId1').item.json.x_acting_as_user }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1000,
        3220
      ],
      "id": "d399074b-76eb-4dc3-aa5a-cdc3fe360492",
      "name": "CreateFile2",
      "retryOnFail": true,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "59f956fe-e4a5-436f-bd2f-edd234f22e44",
              "leftValue": "={{ $json.pdf_on_file===true }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -1440,
        3020
      ],
      "id": "9a2163ab-d439-44ec-81b4-059eb99fec4e",
      "name": "If12"
    },
    {
      "parameters": {
        "amount": 60
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -760,
        3140
      ],
      "id": "be413294-95ec-44a4-a09d-617e44468997",
      "name": "Wait2",
      "webhookId": "bf03785d-b139-4884-936c-054436d216db"
    },
    {
      "parameters": {
        "url": "=https://hub-api-prod-649845453193.us-central1.run.app/api/v1/invoices/{{ $('CreateInvoice').item.json.number }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{$('access_token').item.json.access_token.trim() }}"
            },
            {
              "name": "X-Acting-As-User",
              "value": "={{ $('firebaseId1').item.json.x_acting_as_user }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -540,
        3140
      ],
      "id": "d8c8c4c6-b5b9-487b-a2d0-b08f34019390",
      "name": "Get Invoice4",
      "retryOnFail": true,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f36c5ff6-d53f-434e-9a6b-7ebe81047c99",
              "name": "message",
              "value": "=Invoice created successfully with below details;\n\nInvoice ID: {{ $('CreateInvoice').first().json.invoice_number }}\nTitle: {{ $('CreateInvoice').first().json.title }}\nInvoice Amount: {{ $('CreateInvoice').first().json.amount }}\nStatus: {{ $('CreateInvoice').first().json.status }}\nRecipient: {{ $('CreateInvoice').first().json.customer?.address?.name || \"Not Mentioned\" }}\nCurrency: {{ $('CreateInvoice').first().json.currency }}\nIssue_date: {{ $('CreateInvoice').first().json.issued_on }}\nDue_date: {{ $('CreateInvoice').first().json.due_on }}\n\nHowever, the attempt to retrieve invoice file for Manager failed due to technical reasons.\n\nNext:\n- Set the next_task = no_action\n- Don't call any other tool further.\n\nInform the manager about the invoice created.",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        340,
        3213.75
      ],
      "id": "3d2a9439-5a2d-443b-bc25-dec05862e0fe",
      "name": "Edit Fields12"
    },
    {
      "parameters": {
        "resource": "object",
        "operation": "get",
        "bucketName": "hub-file-storage-prod",
        "objectName": "={{ `books/${$json.book_number}/invoices/${$json.number}/${$json.download_file_name}`.replace(/\\//g, '%2F') }}",
        "alt": "media",
        "binaryPropertyName": "invoice",
        "getParameters": {},
        "encryptionHeaders": {},
        "requestOptions": {}
      },
      "type": "n8n-nodes-base.googleCloudStorage",
      "typeVersion": 1,
      "position": [
        -300,
        2900
      ],
      "id": "ea78b065-05e0-40e5-ac0b-7b85e28675f4",
      "name": "GetFile",
      "retryOnFail": true,
      "maxTries": 2,
      "credentials": {
        "googleCloudStorageOAuth2Api": {
          "id": "jzaYLc3hMj1WhMUi",
          "name": "Google Cloud Storage account 2"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f36c5ff6-d53f-434e-9a6b-7ebe81047c99",
              "name": "message",
              "value": "=Invoice created successfully with below details;\n\nInvoice ID: {{ $('CreateInvoice').first().json.invoice_number }}\nTitle: {{ $('CreateInvoice').first().json.title }}\nInvoice Amount: {{ $('CreateInvoice').first().json.amount }}\nStatus: {{ $('CreateInvoice').first().json.status }}\nRecipient: {{ $('CreateInvoice').first().json.customer?.address?.name || \"Not Mentioned\" }}\nCurrency: {{ $('CreateInvoice').first().json.currency }}\nIssue_date: {{ $('CreateInvoice').first().json.issued_on }}\nDue_date: {{ $('CreateInvoice').first().json.due_on }}\n\nNext:\n- Set the next_task = send_file_to_user\n- Don't call any other tool.\n\nInform the manager about the invoice created and let him know to find the invoice file as attached.",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        340,
        2840
      ],
      "id": "bf505696-d2f9-42d6-ab0a-01b67e8bfef0",
      "name": "Edit Fields13"
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=https://hub-api-prod-649845453193.us-central1.run.app/api/v1/invoices/{{ $('Trigger').item.json.data.invoice_number }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{$('access_token1').item.json.access_token.trim() }}"
            },
            {
              "name": "X-Acting-As-User",
              "value": "={{ $json.x_acting_as_user }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $('UpdatePayload').item.json.output }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -3362,
        4463.75
      ],
      "id": "b03541d0-08f1-4253-a1e9-0260d3e2ee1d",
      "name": "Update",
      "retryOnFail": true,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "91511acc-0775-4b15-ac71-fa59b0dfa57f",
              "name": "output.book_number",
              "value": "={{ $('Trigger').item.json.data.metadata.client_verification.book_number }}",
              "type": "string"
            },
            {
              "id": "287f313a-9203-462b-9540-795de1f2961b",
              "name": "output.customer_number",
              "value": "={{ $('Format2').first()?.json?.metadata?.invoice_metadata?.invoice_recipient?.status === \"exists\" \n   ? $('Format2').first()?.json?.metadata?.invoice_metadata?.invoice_recipient?.invoice_recipient_number \n   : null }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -2960,
        3338.75
      ],
      "id": "350da00e-e4c5-4f52-a017-6dfa6ae0ead3",
      "name": "invoice_payload"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "40d7397e-7161-46b6-a482-274968d356d7",
              "name": "invoice_search_findings",
              "value": "={{ $json.output.invoice_findings }}",
              "type": "string"
            },
            {
              "id": "f6f9f910-0297-41dc-a18b-5076731f6203",
              "name": "invoice_next_step",
              "value": "={{ $json.output.invoice_next_steps }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -5104,
        5660
      ],
      "id": "9a32d480-4b62-4cda-b471-8ab6011eba25",
      "name": "New/Options"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.data.input }}",
        "hasOutputParser": true,
        "messages": {
          "messageValues": [
            {
              "message": "={{ $json.data.system_prompt }}"
            }
          ]
        }
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.6,
      "position": [
        -5480,
        5660
      ],
      "id": "b5e645c5-4b06-4347-8d04-e48f165b3c5e",
      "name": "Basic LLM Chain2",
      "retryOnFail": true
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "gpt-4.1-mini"
        },
        "options": {
          "responseFormat": "json_object",
          "temperature": 0.1
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -5452,
        5880
      ],
      "id": "86097b06-205a-4d5e-bf1b-330f6ee96c25",
      "name": "OpenAI Chat Model5",
      "credentials": {
        "openAiApi": {
          "id": "mxdHDElSd4VQZiDt",
          "name": "OpenAi account 2"
        }
      }
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n\t\"type\": \"object\",\n\t\"properties\": {\n\t\t\"invoice_next_steps\": {\n\t\t\t\"type\": \"string\",\n            \"enum\": [\"update\", \"not_update\", \"create_new\"],\n            \"description\": \"decide based on the invoice analysis\"\n    \t},\n      \t\"invoice_findings\": {\n\t\t\t\"type\": \"string\",\n            \"description\": \"<Invoice Findings>.\"\n\t\t}\n    }\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.2,
      "position": [
        -5332,
        5880
      ],
      "id": "a58dc06b-a33a-458b-8df7-2cfa0c12f853",
      "name": "Structured Output Parser8"
    },
    {
      "parameters": {
        "operation": "set",
        "key": "=user_session_{{ $('Trigger').first().json.data.ThreadId+$('Trigger').first().json.data.user_id }}",
        "value": "={{ $json.user_session.toJsonString() }}",
        "expire": true,
        "ttl": "={{ 60 * 60 * 24 * 30 }}"
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        -1860,
        3213.75
      ],
      "id": "cf4b9c11-65ad-416c-98d3-0009fb640e73",
      "name": "UpdateSesssion7",
      "retryOnFail": true,
      "credentials": {
        "redis": {
          "id": "ujdbLpmKXmUC4bPj",
          "name": "Redis account 2"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "operation": "get",
        "propertyName": "user_session",
        "key": "=user_session_{{ $('Trigger').item.json.data.ThreadId+$('Trigger').item.json.data.user_id }}",
        "keyType": "string",
        "options": {}
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        -6140,
        4786.25
      ],
      "id": "addc8bd1-76a6-41cc-9c8e-a268419941f3",
      "name": "GetUserSession1",
      "credentials": {
        "redis": {
          "id": "ujdbLpmKXmUC4bPj",
          "name": "Redis account 2"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "let trigger_input = $(\"Trigger\").first().json;\nconst user_session = $json.user_session;\n// Validate and parse user_session\nlet validatedSession;\nif (typeof user_session === \"string\") {\n  try {\n    validatedSession = JSON.parse(user_session);\n  } catch (error) {\n    console.error(\"Failed to parse user_session:\", error);\n    validatedSession = { sessionStatus: false, error: \"Invalid JSON\" };\n  }\n} else if (user_session && typeof user_session === \"object\") {\n  validatedSession = user_session;\n} else {\n  validatedSession = { sessionStatus: false, error: \"No session data\" };\n}\n// Check if deal_id exists and has a valid value\nif (trigger_input.data && trigger_input.data.deal_id && trigger_input.data.deal_id !== null && trigger_input.data.deal_id !== '') {\n  // Remove leading zeros from deal_id\n  const dealIdFromTrigger = String(trigger_input.data.deal_id).replace(/^0+/, '') || '0';\n  \n  // Filter deal_metadata if it exists\n  if (validatedSession.deal_metadata && Array.isArray(validatedSession.deal_metadata)) {\n    validatedSession.deal_metadata = validatedSession.deal_metadata.filter(deal => {\n      if (deal.deal_id) {\n        // Remove leading zeros from deal_id for comparison\n        const dealId = String(deal.deal_id).replace(/^0+/, '') || '0';\n        return dealId === dealIdFromTrigger;\n      }\n      return false;\n    });\n  }\n}\n// If deal_id is missing/invalid, deal_metadata remains as it was in user_session\n\n// Ensure trigger_input has metadata object\nif (!trigger_input.data.metadata) {\n  trigger_input.data.metadata = {};\n}\ntrigger_input.data.metadata = validatedSession;\nreturn trigger_input;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -5920,
        4786.25
      ],
      "id": "ebe5513c-31e1-4091-b948-6098c226ceee",
      "name": "Input"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT firebase_uid as x_acting_as_user FROM hub_user_hubuser WHERE number= $1",
        "options": {
          "queryReplacement": "={{ $('Trigger').item.json.data.user_id }}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -4860,
        4100
      ],
      "id": "29e150f5-0393-4589-95a7-11925b614671",
      "name": "firebaseId2",
      "retryOnFail": true,
      "credentials": {
        "postgres": {
          "id": "wYLes21z9h3njdSn",
          "name": "postgress-prod"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://hub-api-prod-649845453193.us-central1.run.app/api/v1/authentication/system-user/token",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-Key",
              "value": "=5dd3450f93dfb2415c97e282"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -5160,
        4180
      ],
      "id": "3d62b1e9-fb81-46d8-864e-9f162535f956",
      "name": "access_token2",
      "retryOnFail": true,
      "executeOnce": false,
      "credentials": {
        "googleApi": {
          "id": "Hue2Vve59bazs83Y",
          "name": "Google Service Account account 2"
        },
        "httpBearerAuth": {
          "id": "db2me6PVtNUH5oYv",
          "name": "Bearer Auth account"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "jsCode": "// Get the metadata string from Trigger node\nconst metadataString = $('GetUserSession1').item.json.user_session;\n\n// Safely parse the JSON string into an object\nlet updatedMetadata;\ntry {\n  updatedMetadata = typeof metadataString === 'string' \n    ? JSON.parse(metadataString) \n    : metadataString;\n} catch (error) {\n  throw new Error(`Failed to parse metadata: ${error.message}`);\n}\n\n// Ensure invoice_metadata exists, but preserve all other data\nif (!updatedMetadata.invoice_metadata) {\n  updatedMetadata.invoice_metadata = {};\n}\n\n// Only update the pdf_invoice_content field\nupdatedMetadata.invoice_metadata.invoice_file = {}\n  updatedMetadata.invoice_metadata.invoice_file.pdf_invoice_content = $input.first().binary.invoice.data;\nupdatedMetadata.invoice_metadata.invoice_file.file_name = $('Get Invoice')?.first()?.json.download_file_name || $('Get Invoice3')?.first()?.json.download_file_name \n  \n// Return updated object\nreturn [\n  {\n    json: {\n      user_session: updatedMetadata,\n    },\n  },\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2800,
        3860
      ],
      "id": "a44469c3-7708-4f64-9a6f-e262301f1f77",
      "name": "Code"
    },
    {
      "parameters": {
        "operation": "set",
        "key": "=user_session_{{ $('Trigger').first().json.data.ThreadId+$('Trigger').first().json.data.user_id }}",
        "value": "={{ $json.user_session.toJsonString() }}",
        "expire": true,
        "ttl": "={{ 60 * 60 * 24 * 30 }}"
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        -2500,
        3860
      ],
      "id": "d48f8b54-46c8-4d55-978a-15b05d7da747",
      "name": "UpdateSesssion5",
      "retryOnFail": true,
      "credentials": {
        "redis": {
          "id": "ujdbLpmKXmUC4bPj",
          "name": "Redis account 2"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "url": "=https://hub-api-prod-649845453193.us-central1.run.app/api/v1/invoices/{{ $('Trigger').item.json.data.invoice_number }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{$('access_token2').item.json.access_token.trim() }}"
            },
            {
              "name": "X-Acting-As-User",
              "value": "={{ $json.x_acting_as_user }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -4520,
        4020
      ],
      "id": "709d1762-1296-4cf2-8be3-8f8bccd6a32c",
      "name": "Get Invoice",
      "retryOnFail": true,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "28d9ee30-04e5-43d5-b29a-38211df99b7c",
              "name": "message",
              "value": "=Encountered a technical issue to retrieve the invoice file. Inform the manager that Patchbay technical support team will reach out to him soon. set next_task = no_action.",
              "type": "string"
            },
            {
              "id": "db9c080a-7efd-44a2-892f-f3299cd0d62a",
              "name": "status",
              "value": false,
              "type": "boolean"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -4520,
        4280
      ],
      "id": "650cffed-cff7-4e6d-9715-0698b24fb57c",
      "name": "OnError"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "28d9ee30-04e5-43d5-b29a-38211df99b7c",
              "name": "message",
              "value": "=Encountered a technical issue to retrieve the invoice file. Inform the user and set next_task = no_action.",
              "type": "string"
            },
            {
              "id": "58a4d5a7-cdce-4bb5-bd3b-31448e733d16",
              "name": "status",
              "value": false,
              "type": "boolean"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -2280,
        4200
      ],
      "id": "5145be41-3a19-445e-ad2a-fe06de796922",
      "name": "OnError1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://hub-api-prod-649845453193.us-central1.run.app/api/v1/invoices/{{ $json.number }}/pdf",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{$('access_token2').item.json.access_token.trim() }}"
            },
            {
              "name": "X-Acting-As-User",
              "value": "={{ $('firebaseId2').item.json.x_acting_as_user }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -3960,
        4220
      ],
      "id": "d58deae7-e0eb-4154-87e4-834ffa4db6ce",
      "name": "CreateFile1",
      "retryOnFail": true,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "59f956fe-e4a5-436f-bd2f-edd234f22e44",
              "leftValue": "={{ $json.pdf_on_file===true }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -4160,
        3980
      ],
      "id": "31444eee-d533-4d4f-b469-0b52f86c9a4d",
      "name": "If10"
    },
    {
      "parameters": {
        "amount": 60
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -3760,
        4060
      ],
      "id": "1e7aad3a-8619-4e9f-9609-2c068602fd43",
      "name": "Wait1",
      "webhookId": "bf03785d-b139-4884-936c-054436d216db"
    },
    {
      "parameters": {
        "resource": "object",
        "operation": "get",
        "bucketName": "hub-file-storage-prod",
        "objectName": "={{ `books/${$json.book_number}/invoices/${$json.number}/${$json.download_file_name}`.replace(/\\//g, '%2F') }}",
        "alt": "media",
        "binaryPropertyName": "invoice",
        "getParameters": {},
        "encryptionHeaders": {},
        "requestOptions": {}
      },
      "type": "n8n-nodes-base.googleCloudStorage",
      "typeVersion": 1,
      "position": [
        -3160,
        3960
      ],
      "id": "9060edef-646c-4b43-95ef-e976b8f8b910",
      "name": "Google Cloud Storage",
      "retryOnFail": true,
      "maxTries": 2,
      "credentials": {
        "googleCloudStorageOAuth2Api": {
          "id": "jzaYLc3hMj1WhMUi",
          "name": "Google Cloud Storage account 2"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "url": "=https://hub-api-prod-649845453193.us-central1.run.app/api/v1/invoices/{{ $('Trigger').item.json.data.invoice_number }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{$('access_token2').item.json.access_token.trim() }}"
            },
            {
              "name": "X-Acting-As-User",
              "value": "={{ $('firebaseId2').item.json.x_acting_as_user }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -3500,
        4060
      ],
      "id": "c86e6daa-c4be-40ee-8af7-093ec653955f",
      "name": "Get Invoice3",
      "retryOnFail": true,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "28d9ee30-04e5-43d5-b29a-38211df99b7c",
              "name": "message",
              "value": "=Encountered a technical issue to retrieve the invoice file. Inform the manager that Patchbay technical support team will reach out to him soon. set next_task = no_action.",
              "type": "string"
            },
            {
              "id": "506e20ee-5f91-43a1-a920-5f2b95680303",
              "name": "status",
              "value": false,
              "type": "boolean"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -2920,
        4220
      ],
      "id": "7dd7dc4d-3ed2-4c73-a308-97c84f6220e4",
      "name": "OnError2"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "34849289-7322-4a23-923a-ab1a7f20a242",
              "name": "message",
              "value": "=Requested Invoice File for below details is attached. Inform the manager to find the file as attachement. \n\nInvoice ID: {{ $('Get Invoice').item.json.invoice_number }}\nTitle: {{ $('Get Invoice').first().json.title }}\nInvoice Amount: {{ $('Get Invoice').first().json.amount }}\nStatus: {{ $('Get Invoice').first().json.status }}\nRecipient: {{ $('Get Invoice').first().json.customer?.address?.name || \"Not Mentioned\" }}\nCurrency: {{ $('Get Invoice').first().json.currency }}\nIssue_date: {{ $('Get Invoice').first().json.issued_on }}\nDue_date: {{ $('Get Invoice').first().json.due_on }}\n\n- Set next_task = send_file_to_user.",
              "type": "string"
            },
            {
              "id": "a57a8171-2ccf-4746-aed4-7c086ecf88ce",
              "name": "file_status",
              "value": true,
              "type": "boolean"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -2280,
        3760
      ],
      "id": "6ae08536-6239-4a31-9ae4-9af22bd5a1e4",
      "name": "Edit Fields2"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={{ $('CreateInvoice').item.json }}",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -860,
        2900
      ],
      "id": "657926d6-16bb-46cc-b726-fb755749d0ac",
      "name": "InvoicePayload"
    },
    {
      "parameters": {
        "jsCode": "const prev = $('Format2').item.json.metadata;\nconst currentInvoice = $input.item.json;\n\n// Validate presence of metadata\nif (!prev) {\n  throw new Error(\"Missing metadata from Format2\");\n}\n\n// Get existing invoice_metadata structure\nconst existingInvoiceMetadata = prev.invoice_metadata || { invoices: [] };\nconst existingInvoices = existingInvoiceMetadata.invoices || [];\n\n// Create Map from existing data - only include entries with invoice_number\n// 🔑 THIS ENSURES UNIQUENESS BY invoice_number\nconst uniqueInvoicesMap = new Map(\n  existingInvoices\n    .filter(inv => inv.invoice_number) // Only include entries with invoice_number\n    .map(inv => [inv.invoice_number, inv]) // Key = invoice_number, Value = invoice object\n);\n\n// Add/update current invoice\n// 🔑 IF invoice_number EXISTS, IT UPDATES; IF NEW, IT ADDS\nif (currentInvoice.number) {\n  uniqueInvoicesMap.set(currentInvoice.number, {\n    exists: true,\n    invoice_id: currentInvoice.invoice_number,\n    invoice_number: currentInvoice.number,\n    deal_id: $('Trigger')?.first()?.json?.data?.deal_id || null\n  });\n}\n\n// Convert Map to array - guaranteed unique by invoice_number\nconst invoices = Array.from(uniqueInvoicesMap.values());\n\n// Build invoice_metadata structure\nconst invoice_metadata = {\n  invoice_recipient: existingInvoiceMetadata.invoice_recipient || null,\n  invoices: invoices\n};\n\n// Return with updated invoice_metadata, keeping all other keys untouched\nreturn {\n  json: {\n    user_session: {\n      ...prev,\n      invoice_metadata: invoice_metadata\n    }\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2080,
        3213.75
      ],
      "id": "5a82e2ee-38a4-40ac-aec4-6c7b3d83a8ad",
      "name": "UserSession"
    },
    {
      "parameters": {
        "jsCode": "// Get the metadata string from Trigger node\nconst metadataString = $('UserSession').first().json.user_session;\n\n// Safely parse the JSON string into an object\nlet updatedMetadata;\ntry {\n  updatedMetadata = typeof metadataString === 'string' \n    ? JSON.parse(metadataString) \n    : metadataString;\n} catch (error) {\n  throw new Error(`Failed to parse metadata: ${error.message}`);\n}\n\n// Ensure invoice_metadata exists, but preserve all other data\nif (!updatedMetadata.invoice_metadata) {\n  updatedMetadata.invoice_metadata = {};\n}\n\n// Only update the pdf_invoice_content field\nupdatedMetadata.invoice_metadata.invoice_file = {}\n  updatedMetadata.invoice_metadata.invoice_file.pdf_invoice_content = $input.first().binary.invoice.data;\nupdatedMetadata.invoice_metadata.invoice_file.file_name = $('Get Invoice4')?.first()?.json.download_file_name\n  \n// Return updated object\nreturn [\n  {\n    json: {\n      user_session: updatedMetadata,\n    },\n  },\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -60,
        2880
      ],
      "id": "e3ef9d51-1ed3-4ec0-b523-6a045791deb2",
      "name": "Add_invoicefile"
    }
  ],
  "pinData": {
    "Trigger": [
      {
        "json": {
          "action": "update",
          "data": {
            "ThreadId": "19a71e0eddc75ef9",
            "user_id": "2edfd81b-b1a1-4cb9-89b5-6c84b8bd6dc2",
            "recommended_invoice_updates": "Change invoice status from 'Draft' to 'Sent'. No other changes required.",
            "invoice_id": "73",
            "invoice_number": "1a096b23-0e89-438b-8ef2-a50b716e7c85"
          },
          "ai_input": "Update the status of Invoice ID 91 (for Deal ID 879, Producer Quincy Jones, Alex Goldblatt x Quincy Jones Producer Deal for Bella Poarch Master Recording) from 'Draft' to 'Sent' to reflect that the invoice has been sent to the user. No other changes are required. Manager: Dwayne Hoover (dwayne@patchbay.xyz, user_id: 2edfd81b-b1a1-4cb9-89b5-6c84b8bd6dc2)."
        }
      }
    ]
  },
  "repo_name": "hub-n8n",
  "repo_owner": "ck-bit",
  "repo_path": "",
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "executionTimeout": 600
  },
  "staticData": null,
  "tags": [
    {
      "createdAt": "2025-05-15T17:50:30.024Z",
      "updatedAt": "2025-05-15T17:50:30.024Z",
      "id": "lqzFxyosGtACqbc3",
      "name": "Abid"
    },
    {
      "createdAt": "2025-10-10T18:41:25.635Z",
      "updatedAt": "2025-10-10T18:41:25.635Z",
      "id": "AlGcOoQu5NWKEayQ",
      "name": "development"
    }
  ],
  "triggerCount": 0,
  "updatedAt": "2025-11-11T14:41:26.655Z",
  "versionId": "3cbd2f2d-5792-4545-a123-3e0659b82ab6"
}