2025/10/NUuedRX9L2N9VMEY.json
{
  "active": false,
  "connections": {
    "Trigger": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Postgres",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Add/Update",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "CreateMessage",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Postgres1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "If4",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields11",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Code3",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GetSignedURL": {
      "main": [
        [
          {
            "node": "OCR-DOC",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "UploadFile": {
      "main": [
        [
          {
            "node": "GetSignedURL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields3": {
      "main": [
        [
          {
            "node": "Code6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres": {
      "main": [
        [
          {
            "node": "Switch1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields11": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "OpenAI Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "Analyze Person",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "If4": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code3": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Switch2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Information Extractor": {
      "main": [
        [
          {
            "node": "Edit Fields3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Information Extractor",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Switch1": {
      "main": [
        [
          {
            "node": "Verified",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Analyze Person",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Not-Verified",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Analyze Person": {
      "main": [
        [
          {
            "node": "Verified",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Not-Verified",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Verified": {
      "main": [
        [
          {
            "node": "Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Not-Verified": {
      "main": [
        [
          {
            "node": "Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add/Update": {
      "main": [
        [
          {
            "node": "UpdateSesssion",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CreateMessage": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch2": {
      "main": [
        [
          {
            "node": "OCR-PDF",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "UploadFile",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OCR-PDF": {
      "main": [
        [
          {
            "node": "OCR-Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OCR-DOC": {
      "main": [
        [
          {
            "node": "OCR-Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OCR-Payload": {
      "main": [
        [
          {
            "node": "Information Extractor",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "UpdateSesssion": {
      "main": [
        []
      ]
    }
  },
  "createdAt": "2025-10-20T06:52:39.048Z",
  "id": "NUuedRX9L2N9VMEY",
  "meta": null,
  "name": "agent_helpers-V1.0.6",
  "nodes": [
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "action"
            },
            {
              "name": "data",
              "type": "any"
            },
            {
              "name": "binary",
              "type": "any"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -940,
        1320
      ],
      "id": "a45fdb1e-b270-40d3-a1d4-4a152454281a",
      "name": "Trigger"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "53d10812-ad66-4782-a774-6bf02ea013ad",
                    "leftValue": "={{ $json.action }}",
                    "rightValue": "user_identification",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "9ac6abc6-7eb1-47f9-bf16-ed1ea6e82614",
                    "leftValue": "={{ $json.action }}",
                    "rightValue": "verify_client",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.action }}",
                    "rightValue": "check_attachement",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    },
                    "id": "ada614fc-3dc2-46c1-a467-bc053a62fc08"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "e65aa068-779c-40f3-be13-356343deb8c2",
                    "leftValue": "={{ $json.action }}",
                    "rightValue": "add_client",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "1a7ef53e-14c0-46d3-929c-ae1ebfe85b53",
                    "leftValue": "={{ $json.action }}",
                    "rightValue": "deliver_email",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "9915b7f8-aa50-4d41-8394-74da14cdbed8",
                    "leftValue": "={{ $json.action }}",
                    "rightValue": "thread_last_updated",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -720,
        1260
      ],
      "id": "da02ace8-13af-4c83-871b-5f4e8d562c7a",
      "name": "Switch"
    },
    {
      "parameters": {
        "url": "https://hub-api-prod-649845453193.us-central1.run.app/api/v1/authentication/user/email",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleApi",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "email",
              "value": "={{ $json.address }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -280,
        160
      ],
      "id": "29b6be3e-95fa-43e1-bdc4-de06e3b0e340",
      "name": "HTTP Request1",
      "alwaysOutputData": true,
      "credentials": {
        "httpBasicAuth": {
          "id": "ArpRdu67NL4IaCm0",
          "name": "Unnamed credential 2"
        },
        "googleApi": {
          "id": "Hue2Vve59bazs83Y",
          "name": "Google Service Account account 2"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={   \"name\": {{ $json.user_person_name.toJsonString() }},   \"address\": {{ $('Split Out').item.json.address.toJsonString() }},   \"user_id\": {{ $json.number.toJsonString() }},   \"person_number\": {{ $json.person_number.toJsonString() }},   \"Role\": \"Manager\",   \"Clients\": [] }  ",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        320,
        20
      ],
      "id": "8403134a-0571-4bab-9398-6dd6abdbbccb",
      "name": "Edit Fields",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "858f6cf1-f34c-4490-8fed-a34d59c36f0f",
              "leftValue": "={{ $('Trigger').item.json.binary && Object.keys($('Trigger').item.json.binary).length > 0 }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -500,
        700
      ],
      "id": "ccd40f6a-ff71-494b-87d1-1704008b3c5c",
      "name": "If"
    },
    {
      "parameters": {
        "url": "=https://api.mistral.ai/v1/files/{{ $json.id }}/url",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "mistralCloudApi",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        720,
        760
      ],
      "id": "6a10b276-aa4e-4d6b-ae2c-310e484ddca8",
      "name": "GetSignedURL",
      "retryOnFail": true,
      "credentials": {
        "mistralCloudApi": {
          "id": "2AOeyxzPZBYlq1p6",
          "name": "Mistral Cloud account 4"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.mistral.ai/v1/files",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "mistralCloudApi",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "name": "purpose",
              "value": "ocr"
            },
            {
              "parameterType": "formBinaryData",
              "name": "file",
              "inputDataFieldName": "=target_file"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        520,
        760
      ],
      "id": "40952d67-7e81-429c-9f86-4de9ca10b244",
      "name": "UploadFile",
      "retryOnFail": true,
      "credentials": {
        "mistralCloudApi": {
          "id": "2AOeyxzPZBYlq1p6",
          "name": "Mistral Cloud account 4"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "9c2ec74e-187f-4a78-a533-26775d9be5b1",
              "name": "deal_document",
              "value": "={{ $('OCR-Payload')?.item?.json?.pages }}",
              "type": "array"
            },
            {
              "id": "db2c4a5b-41aa-4b3c-aee2-929cd69c372a",
              "name": "deal_type",
              "value": "={{ $json.output.deal_type }}",
              "type": "string"
            },
            {
              "id": "b0fd9b12-cf06-4b63-9585-572fab6ef63f",
              "name": "file",
              "value": "={{ $('Code3').item.json.file }}",
              "type": "object"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1760,
        660
      ],
      "id": "8a8d0e99-85cc-4005-a621-9e83da3464f3",
      "name": "Edit Fields3"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "9c2ec74e-187f-4a78-a533-26775d9be5b1",
              "name": "deal_document",
              "value": "=null",
              "type": "string"
            },
            {
              "id": "29131c45-26bd-450a-827c-7f8de71f7af3",
              "name": "status",
              "value": "=false",
              "type": "boolean"
            },
            {
              "id": "3428d3be-b3c8-40af-9514-4aa9ced231ef",
              "name": "response",
              "value": "I could not locate the document for the deal in the attachments. Can you please attach the required document?",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        320,
        900
      ],
      "id": "00ceefbf-29d9-4ee0-9c0e-903ac6ab3261",
      "name": "Edit Fields5"
    },
    {
      "parameters": {
        "fieldToSplitOut": "data",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        -500,
        160
      ],
      "id": "d5591764-ba52-49c2-83b5-af957a9d82e8",
      "name": "Split Out"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT\n  bw.number AS book_number,\n  bw.id AS book_id,\n  pp.name AS person_legal_name,\n  pp.performer_name AS person_performer_name,\n  ROUND(\n    (GREATEST(similarity(pp.name, $2), similarity(pp.performer_name, $2)) * 100.0)::numeric, \n    2\n  ) AS confidence_score\nFROM \n  hub_user_hubuser hu\nJOIN hub_user_manager hm \n  ON hm.user_id = hu.id AND hm.deleted_at IS NULL\nJOIN books_bookofwork bw \n  ON bw.id = hm.book_id AND bw.deleted_at IS NULL\nJOIN person_person p \n  ON p.id = bw.person_id AND p.deleted_at IS NULL\nJOIN person_personproperties pp \n  ON pp.id = p.current_properties_id AND pp.deleted_at IS NULL\nWHERE \n  hu.number = $1\nORDER BY \n  GREATEST(similarity(pp.name, $2), similarity(pp.performer_name, $3)) DESC\nLIMIT 1;",
        "options": {
          "queryReplacement": "={{ $json.data.user_id }}, {{ ($json.data.person_legal_name && $json.data.person_legal_name.trim() !== '') ? $json.data.person_legal_name : $json.data.person_performer_name }}\n, {{ ($json.data.person_performer_name && $json.data.person_performer_name.trim() !== '') ? $json.data.person_performer_name : $json.data.person_legal_name }} "
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -500,
        1260
      ],
      "id": "f6ac6ca5-6175-4707-aa60-32f7b24ca528",
      "name": "Postgres",
      "alwaysOutputData": true,
      "retryOnFail": true,
      "executeOnce": false,
      "credentials": {
        "postgres": {
          "id": "wYLes21z9h3njdSn",
          "name": "postgress-prod"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "{}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        320,
        420
      ],
      "id": "c0df8c50-1d45-4285-9590-f6d5048abf02",
      "name": "Edit Fields11",
      "executeOnce": true
    },
    {
      "parameters": {
        "mode": "chooseBranch"
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.1,
      "position": [
        540,
        220
      ],
      "id": "2b51f108-20a1-49b2-bddc-bee079831667",
      "name": "Merge",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1",
          "mode": "list",
          "cachedResultName": "gpt-4.1"
        },
        "options": {
          "responseFormat": "json_object",
          "temperature": 0.1
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -20,
        1500
      ],
      "id": "8390c8e4-728a-4ab0-82cf-9f57a9a17185",
      "name": "OpenAI Chat Model2",
      "credentials": {
        "openAiApi": {
          "id": "mxdHDElSd4VQZiDt",
          "name": "OpenAi account 2"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://gmail.googleapis.com/gmail/v1/users/me/messages/send",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "gmailOAuth2",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"raw\": \"{{ $json.email_payload.raw }}\",\n  \"threadId\": \"{{ $json.email_payload.threadId }}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        120,
        1840
      ],
      "id": "e8e713c8-1d93-420f-9acd-fd6c62e510f3",
      "name": "HTTP Request",
      "credentials": {
        "gmailOAuth2": {
          "id": "0X16CjC69yGvvRLO",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "50a36916-69d4-4dd2-bc68-4c7739328233",
              "leftValue": "={{ $json.isNotEmpty() }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        20,
        60
      ],
      "id": "b1d28ccc-1c75-454d-b8e8-7f67ae89d7b0",
      "name": "If4"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={\n\n}  ",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        320,
        220
      ],
      "id": "e55ac5c3-2bd2-4692-b62c-a68b0c34a474",
      "name": "Edit Fields1",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "jsCode": "const binaryData = $(\"Trigger\").item.json.binary;\nconst allowedTypes = ['pdf', 'doc', 'docx'];\n\nconst entries = Object.entries(binaryData || {}).reverse();\nconst results = [];\n\nfor (const [filename, fileData] of entries) {\n  if (allowedTypes.includes(fileData.fileExtension)) {\n    results.push({\n      json: {\n        filename: filename,\n        fileType: fileData?.fileType || fileData?.fileExtension,\n        status: true,\n        orgFilename: fileData.fileName,\n        file: fileData,\n\n      },\n      binary: {\n        target_file: {\n          ...fileData,\n          fileName: filename\n        }\n      }\n    });\n  }\n}\n\n// Return matching files, or fallback if none found\nif (results.length > 0) {\n  return results;\n} else {\n  return [\n    {\n      json: {\n        message: \"No valid attachment found\",\n        status: false\n      }\n    }\n  ];\n}\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -180,
        680
      ],
      "id": "75885714-5dd9-4644-a0b1-d94acf3d9d1d",
      "name": "Code3"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "651d1f12-a465-4811-a11d-754e072bc9da",
              "leftValue": "={{ $json.status }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        20,
        700
      ],
      "id": "a601d5fc-93cd-4565-b141-4cf57e07fbdb",
      "name": "If1"
    },
    {
      "parameters": {
        "text": "={{ $json.pages.slice(0, 2).map(item => item.markdown).join('\\n') }}",
        "schemaType": "manual",
        "inputSchema": "{\n  \"title\": \"Deals Classification\",\n  \"description\": \"This schema defines the structure of classification output for music industry agreements. The output consists of field: `type`, which indicates the category of the deal.\",\n  \"type\": \"object\",\n  \"properties\": {\n    \"deal_type\": {\n      \"type\": \"string\",\n      \"description\": \"The primary classification of the deal type, based on document content.\",\n      \"enum\": [\n        \"Record\",\n        \"Master\",\n        \"Simple Royalty\",\n        \"Live Performance\",\n        \"Sync License\",\n        \"Publishing\",\n        \"Neighboring Rights\",\n        \"Unrecognised\"\n      ]\n    }\n  },\n  \"required\": [\"is_deal\", \"deal_type\"],\n  \"additionalProperties\": false\n}\n",
        "options": {
          "systemPromptTemplate": "=You are an expert contract classifier specializing in entertainment industry agreements. Based on the content of a provided document, identify which **recording-related deal type** it represents, along with any applicable **enumeration or subtype** such as deal roles, categories, or royalty types.\n\nYour goal is to return a **structured JSON response** as specified:\n\n---\n\n### **Deal Types and Tags**\n\n#### **Record Deal** (`Record`)\n- Agreement between an **artist** and a **label**\n- Mentions **recording rights**, `label_split`, `distribution_split`\n- Often contains `reversion_type` or `reversion_period`\n- Language includes **record label**, **recording contract**, **royalty**, **ownership**\n\n---\n\n#### **Master Deal** (`Master`)\n- Related to **master recordings**\n- May mention **producer**, **mixer**, **musician**, or other roles\n- Often includes `work_for_hire`, `fee_schedule`, `payment_status`, `recoupable`\n\n---\n\n#### **Simple Royalty Deal** (`Simple Royalty`)\n- Agreement with a **manager**, **attorney**, or **agent**\n- Focused on **royalty percentages**, **representation**, or **commissions**\n\n---\n\n#### **Live Performance Deal** (`Live Performance`)\n- Related to **live shows**, **touring**, or **performances**\n- Mentions **fee**, **performance date**, **venue**, **payment**\n\n---\n\n#### **Sync License Deal** (`Sync License`)\n A Sync License Deal involves the licensing of a song or master recording for use in visual media (such as films, TV shows, commercials, video games, etc.).\n\nKey Indicators:\n\nMentions of licensing for media or audiovisual use.\n\nParties involved: typically an artist and a licensor or production company.\n\nTerms like “sync rights”, “synchronization license”, “use in film/TV/ad”, “visual media”.\n\nPayment in the form of a flat fee or sync fee for the usage rights.\n\n---\n\n#### **Publishing deal** (`Publishing`)\n- A Publishing deal broadly includes any agreement involving musical compositions, publishing rights, royalty splits for compositions, or roles such as Publisher, Administrator, Co-Publisher, Sub-Publisher, or Self-Publisher.\n\n---\n\n#### **Neighboring Rights Deal** (`Neighboring Rights`)\n- Agreement regarding **neighboring rights** (rights of performers and producers in sound recordings)\n- Involves **artists**, **organizations (CMOs/PROs)**, or **collecting societies**\n- Typically includes:\n  - `collection_mandates` such as \"Performer\" or \"Rights Owner\"\n  - `territories` indicating geographic coverage\n  - `client_share` / `counterparty_share` percentage splits\n  - Mentions of **exclusive mandates**, **repertoire eligibility**, or **territorial representation**\n\n---\n\n### **Instructions**\n1. Analyze the full content of the provided document.\n2. Classify it into the most relevant deal type using `deal_type`.\n3. If the deal type cannot be confidently determined, return `unrecognised`\n4) Clearly assign 'unrecongnised' if the provided content is invoice. "
        }
      },
      "type": "@n8n/n8n-nodes-langchain.informationExtractor",
      "typeVersion": 1,
      "position": [
        1440,
        660
      ],
      "id": "4d9feafc-b4db-4788-a5c8-fa48294df5d7",
      "name": "Information Extractor"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {
          "responseFormat": "json_object",
          "temperature": 0
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        1440,
        840
      ],
      "id": "2d3db214-78c4-45af-8c0b-648364213741",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "mxdHDElSd4VQZiDt",
          "name": "OpenAi account 2"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const inputList = $input.all().map(item => item.json);\n\n// Find the first deal_type that is not 'Unrecognised'\nconst validDeal = inputList.find(obj => obj.deal_type && obj.deal_type !== 'Unrecognised');\n\nif (validDeal) {\n  return [\n    {\n      json: {\n        ...validDeal,\n        status: true\n      }\n    }\n  ];\n} else {\n  return [\n    {\n      json: {\n        message: \"No deal was found\",\n        status: false\n      }\n    }\n  ];\n}\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1920,
        660
      ],
      "id": "6369a924-90d8-4ad8-8c44-cf937dc20f0f",
      "name": "Code6"
    },
    {
      "parameters": {
        "jsCode": "// n8n Code node (JavaScript)\nconst input = $input.first()?.json ?? [];\n// Handle both single object and array\nconst data = Array.isArray(input) ? input : [input];\nconst responses = data.map(item => {\n  const {\n    person_legal_name,\n    person_performer_name,\n    book_number,\n    book_id,\n    verification_status\n  } = item;\n  // Helper function to check if value exists and is not empty\n  const hasValue = (value) => value && value !== null && value.toString().trim() !== '';\n  // Start building the response\n  let response = '';\n  \n  if (verification_status === true) {\n    // Verified case\n    if (hasValue(person_legal_name)) {\n      response = `The ${person_legal_name}`;\n      \n      // Add performer name if it exists and is different from legal name\n      if (hasValue(person_performer_name) && person_performer_name !== person_legal_name) {\n        response += ` also referred to as ${person_performer_name}`;\n      }\n      \n      response += ' is verified in the Manager\\'s workspace.';\n      \n      // Add verification details\n      let details = [];\n      details.push(`Legal Name: ${person_legal_name}`);\n      \n      if (hasValue(person_performer_name)) {\n        details.push(`Performer Name: ${person_performer_name}`);\n      }\n      \n      if (hasValue(book_number)) {\n        details.push(`book_number: ${book_number}`);\n      }\n      \n      if (hasValue(book_id)) {\n        details.push(`book_id: ${book_id}`);\n      }\n      \n      details.push(`Verification Status: verified`);\n      \n      response += '\\n\\nDetails:\\n' + details.join('\\n');\n    } else {\n      response = 'Person is verified in the Manager\\'s workspace but no legal name provided.';\n    }\n  } else {\n    // Not verified case\n    if (hasValue(person_legal_name)) {\n      response = `The ${person_legal_name}`;\n      \n      if (hasValue(person_performer_name) && person_performer_name !== person_legal_name) {\n        response += ` also referred to as ${person_performer_name}`;\n      }\n      \n      response += ' is not verified in the Manager\\'s workspace.';\n      \n      // Add basic details (excluding book_number and book_id for unverified)\n      let details = [];\n      details.push(`Legal Name: ${person_legal_name}`);\n      \n      if (hasValue(person_performer_name)) {\n        details.push(`Performer Name: ${person_performer_name}`);\n      }\n      \n      details.push(`Verification Status: not_verified`);\n      \n      response += '\\n\\nDetails:\\n' + details.join('\\n');\n    } else {\n      response = 'Person is not verified and no legal name provided.';\n    }\n  }\n  \n  return response;\n});\n// Return the formatted responses\nreturn responses.map(response => ({ json: { message: response } }));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1140,
        1260
      ],
      "id": "c3ec6261-77a8-4fcc-8117-dfb2fdd0cb3b",
      "name": "Response"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.isNotEmpty() && $json.confidence_score.toNumber()>=90 }}",
                    "rightValue": "",
                    "operator": {
                      "type": "boolean",
                      "operation": "true",
                      "singleValue": true
                    },
                    "id": "04d860ea-9c1f-4346-86cf-128b2f90128e"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "1903d193-626b-44b2-b3d9-ee5ce0a7d1ca",
                    "leftValue": "={{ $json.isNotEmpty() && ($json.confidence_score.toNumber() >= 25 && $json.confidence_score.toNumber() < 90) }}",
                    "rightValue": "",
                    "operator": {
                      "type": "boolean",
                      "operation": "true",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "ca5f3fee-aac7-44c0-9907-adb4a93ae4f7",
                    "leftValue": "={{ $json.isEmpty() || $json.confidence_score.toNumber()<25 }}",
                    "rightValue": "",
                    "operator": {
                      "type": "boolean",
                      "operation": "true",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -280,
        1260
      ],
      "id": "6ceda00a-8721-4213-b7ed-65021dfcec83",
      "name": "Switch1"
    },
    {
      "parameters": {
        "inputText": "=input-1: {{ \n  (() => {\n    let result = [];\n    \n    if ($json.person_legal_name && $json.person_legal_name !== null && $json.person_legal_name.trim() !== '') {\n      result.push(`Legal Name: ${$json.person_legal_name}`);\n    }\n    \n    if ($json.person_performer_name && $json.person_performer_name !== null && $json.person_performer_name.trim() !== '') {\n      result.push(`Performer Name: ${$json.person_performer_name}`);\n    }\n    \n    return result.join(', ');\n  })()\n}}\n\nInput: {{ \n  (() => {\n    let result = [];\n    \n    if ($('Trigger').first().json.data.person_legal_name && $json.person_legal_name !== null && $json.person_legal_name.trim() !== '') {\n      result.push(`Legal Name: ${$json.person_legal_name}`);\n    }\n    \n    if ($json.person_performer_name && $json.person_performer_name !== null && $json.person_performer_name.trim() !== '') {\n      result.push(`Performer Name: ${$json.person_performer_name}`);\n    }\n    \n    return result.join(', ');\n  })()\n}}",
        "categories": {
          "categories": [
            {
              "category": "verified",
              "description": "=When comparing Input-1 and Input-2, if the Legal Name and/or Performer Name are the same (even if not exactly identical, e.g., due to spelling variations, abbreviations, or common aliases) and you reasonably determine they refer to the same individual, then classify the result as Verified."
            },
            {
              "category": "Not Verified",
              "description": "=When comparing Input-1 and Input-2, if the Legal Name and Performer Name do not sufficiently match, or there is not enough evidence to reasonably conclude that they refer to the same individual, then classify the result as Not Verified. This includes cases where the names are distinctly different, unrelated, or ambiguous enough that verification cannot be confidently made."
            }
          ]
        },
        "options": {
          "enableAutoFixing": true
        }
      },
      "type": "@n8n/n8n-nodes-langchain.textClassifier",
      "typeVersion": 1,
      "position": [
        20,
        1260
      ],
      "id": "ee19aabb-33e2-4a53-8602-f9c145a4db5d",
      "name": "Analyze Person",
      "retryOnFail": true
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "3db57f33-586e-4ec5-9fc8-af302a21d8c9",
              "name": "verification_status",
              "value": true,
              "type": "boolean"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        360,
        1120
      ],
      "id": "8402009c-cb00-4b23-a93c-c4771a82c166",
      "name": "Verified"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "3db57f33-586e-4ec5-9fc8-af302a21d8c9",
              "name": "verification_status",
              "value": false,
              "type": "boolean"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        360,
        1420
      ],
      "id": "795d65a8-5d2c-4155-b2bb-26488356abea",
      "name": "Not-Verified"
    },
    {
      "parameters": {
        "jsCode": "// n8n Node.js Code for Client Management\n// This code should be used in an n8n \"Code\" node\n\n// Get input data from previous node\nconst inputData = $input.all();\nconst data = inputData[0].json.data;\n\n// Extract the required components\nconst sessionManager = data.session_manager;\nconst sessionData = data.sessioin_data; // Note: keeping original typo from input\nconst clientInfo = data.client;\n\n// Function to add client to manager's client list\nfunction addClientToManager(sessionData, sessionManager, clientInfo) {\n  // Check if client verification status is true - if not, skip adding\n  if (clientInfo.verification_status !== true) {\n    console.log(`Client ${clientInfo.client_legal_name} skipped - verification_status is not true`);\n    return sessionData; // Return unchanged session data\n  }\n  \n  // Make a deep copy to avoid modifying original data\n  const updatedSessionData = JSON.parse(JSON.stringify(sessionData));\n  \n  // Find the manager in the managers list\n  const managerIndex = updatedSessionData.Managers.findIndex(\n    manager => manager.user_id === sessionManager.user_id\n  );\n  \n  if (managerIndex === -1) {\n    throw new Error(`Manager with user_id ${sessionManager.user_id} not found in managers list`);\n  }\n  \n  // Get the manager's current clients list\n  const manager = updatedSessionData.Managers[managerIndex];\n  \n  // Initialize Clients array if it doesn't exist\n  if (!manager.Clients) {\n    manager.Clients = [];\n  }\n  \n  // Filter existing clients to keep only verified ones\n  manager.Clients = manager.Clients.filter(client => client.verification_status === true);\n  console.log(`Filtered clients list - keeping only verified clients (${manager.Clients.length} remaining)`);\n  \n  // Check if client already exists in the manager's client list\n  const clientExists = manager.Clients.some(client => {\n    // Check by book_number (primary identifier) or person_name as fallback\n    return (clientInfo.book_number && client.book_number === clientInfo.book_number) ||\n           (client.client_legal_name === clientInfo.client_legal_name);\n  });\n  \n  // If client doesn't exist, add them to the list\n  if (!clientExists) {\n    // Create client object with all provided information\n    const newClient = {\n      client_legal_name: clientInfo.client_legal_name,\n      client_performer_name: clientInfo.client_performer_name,\n      status: clientInfo.status,\n      book_number: clientInfo.book_number,\n      book_id: clientInfo.book_id,\n      client_role: clientInfo.client_role,\n      message: clientInfo.message,\n      verification_status: clientInfo.verification_status\n    };\n    \n    // Add the new client to the manager's clients list\n    updatedSessionData.Managers[managerIndex].Clients.push(newClient);\n    \n    console.log(`Client ${clientInfo.client_legal_name} added to manager ${sessionManager.name}'s client list`);\n  } else {\n    console.log(`Client ${clientInfo.client_legal_name} already exists in manager ${sessionManager.name}'s client list`);\n  }\n  \n  return updatedSessionData;\n}\n\n// Execute the function\ntry {\n  const updatedSessionData = addClientToManager(sessionData, sessionManager, clientInfo);\n  \n  // Return session data with success status\n  return [{ \n    json: {\n      sessionData: updatedSessionData,\n      status: true\n    }\n  }];\n  \n} catch (error) {\n  // Handle errors gracefully\n  console.error('Error processing client management:', error.message);\n  \n  // Return original session data with failure status\n  return [{ \n    json: {\n      sessionData: sessionData,\n      status: false\n    }\n  }];\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -100,
        1640
      ],
      "id": "4991153b-34be-4b65-a2ed-504783da067e",
      "name": "Add/Update"
    },
    {
      "parameters": {
        "operation": "set",
        "key": "=thread_{{ $json.sessionData.ThreadId }}",
        "value": "={{ $json.sessionData.toJsonString() }}",
        "expire": true,
        "ttl": "={{ 60 * 60 * 24 * 30 }}"
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        120,
        1640
      ],
      "id": "1621a4d0-8f05-4248-a092-8ac908aaf11c",
      "name": "UpdateSesssion",
      "retryOnFail": true,
      "credentials": {
        "redis": {
          "id": "ujdbLpmKXmUC4bPj",
          "name": "Redis account 2"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const input = $input.item.json.data || {};\n// Extract data from the new structure\nconst toEmails = (input.recipients || []).join(', ');\nconst ccEmails = (input.cc || []).join(', '); // Fixed: Added missing (\nconst messageId = input.MessageId || '<no-message-id>';\nconst references = (input.References || []).join(' ');\nconst subject = input.subject || 'No Subject'; // Fixed: Changed Subject to subject\nconst threadId = input.ThreadId || \"\";\nconst body = input.message || '';\n// Compose MIME message with HTML content\nlet mime = `To: ${toEmails}`;\n// Add CC if provided\nif (ccEmails) {\n  mime += `\\nCc: ${ccEmails}`;\n}\nmime += `\\nSubject: ${subject}\nIn-Reply-To: ${messageId}\nReferences: ${references}\nContent-Type: text/html; charset=UTF-8\n\n${body}`;\n// Encode to base64url\nconst raw = Buffer.from(mime)\n  .toString('base64')\n  .replace(/\\+/g, '-')\n  .replace(/\\//g, '_')\n  .replace(/=+$/, '');\n// Create the response with email payload\nconst response = {\n  email_payload: {\n    raw,\n    mime,\n    threadId,\n    subject,\n    to: toEmails,\n    ...(ccEmails && { cc: ccEmails })\n  }\n};\n// Return the result\nreturn { json: response };"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -100,
        1840
      ],
      "id": "44c46fa9-90da-43fa-8371-4e5bc56c1ac3",
      "name": "CreateMessage"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.fileType===\"pdf\" }}",
                    "rightValue": "",
                    "operator": {
                      "type": "boolean",
                      "operation": "true",
                      "singleValue": true
                    },
                    "id": "981828eb-63f0-49ef-9e24-11225f1d6a14"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "83638e73-0d7d-4c53-a087-c6fc9632e87a",
                    "leftValue": "={{ $json.fileType===\"docx\" }}",
                    "rightValue": "",
                    "operator": {
                      "type": "boolean",
                      "operation": "true",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        320,
        680
      ],
      "id": "8e8303b1-84a2-4cc1-831f-ce755b13a15e",
      "name": "Switch2"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.mistral.ai/v1/ocr",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "mistralCloudApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"mistral-ocr-latest\",\n  \"document\": {\n    \"type\": \"document_url\",\n    \"document_url\": \"data:application/pdf;base64,{{ $json.file.data }}\"\n  },\n  \"include_image_base64\": false\n} ",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        700,
        580
      ],
      "id": "212fdfb4-1858-436c-8a39-2bc13119e15d",
      "name": "OCR-PDF",
      "retryOnFail": true,
      "maxTries": 2,
      "alwaysOutputData": true,
      "credentials": {
        "mistralCloudApi": {
          "id": "2AOeyxzPZBYlq1p6",
          "name": "Mistral Cloud account 4"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.mistral.ai/v1/ocr",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "mistralCloudApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"mistral-ocr-latest\",\n  \"document\": {\n    \"type\": \"document_url\",\n    \"document_url\": \"{{ $json.url }}\"\n  },\n  \"include_image_base64\": true\n}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        880,
        760
      ],
      "id": "e4d0137d-9235-4b33-9d15-72ff40fffb2d",
      "name": "OCR-DOC",
      "retryOnFail": true,
      "credentials": {
        "mistralCloudApi": {
          "id": "2AOeyxzPZBYlq1p6",
          "name": "Mistral Cloud account 4"
        }
      }
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={{$json}}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1200,
        660
      ],
      "id": "9c216131-0910-413f-a342-cf4f3ce11284",
      "name": "OCR-Payload"
    },
    {
      "parameters": {
        "operation": "update",
        "schema": {
          "__rl": true,
          "value": "public",
          "mode": "list",
          "cachedResultName": "public"
        },
        "table": {
          "__rl": true,
          "value": "deals_masterdeal",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "email_thread_last_updated_at": "={{ $json.data.thread_last_updated }}",
            "book_id": "={{ $json.data.book_id }}",
            "number": "={{ $json.data.deal_number }}",
            "id": "={{ $json.data.deal_id }}"
          },
          "matchingColumns": [
            "number",
            "id",
            "book_id"
          ],
          "schema": [
            {
              "id": "number",
              "displayName": "number",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "created_at",
              "displayName": "created_at",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "created_by",
              "displayName": "created_by",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "deleted_at",
              "displayName": "deleted_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "type",
              "displayName": "type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "payment_status",
              "displayName": "payment_status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "fee_amount",
              "displayName": "fee_amount",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "fee_currency",
              "displayName": "fee_currency",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "fee_schedule",
              "displayName": "fee_schedule",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "executed_contract",
              "displayName": "executed_contract",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "execution_date",
              "displayName": "execution_date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "priority",
              "displayName": "priority",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "artist_id",
              "displayName": "artist_id",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "book_id",
              "displayName": "book_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "person_id",
              "displayName": "person_id",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "kill_fee_amount",
              "displayName": "kill_fee_amount",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "kill_fee_currency",
              "displayName": "kill_fee_currency",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "percent_recoupable",
              "displayName": "percent_recoupable",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "agreement_file_key",
              "displayName": "agreement_file_key",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "notes",
              "displayName": "notes",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "status_updated_at",
              "displayName": "status_updated_at",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "active",
              "displayName": "active",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "work_for_hire",
              "displayName": "work_for_hire",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "original_file_name",
              "displayName": "original_file_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "start_date",
              "displayName": "start_date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "email_thread_last_updated_at",
              "displayName": "email_thread_last_updated_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true
            },
            {
              "id": "title",
              "displayName": "title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "sx_lod_status",
              "displayName": "sx_lod_status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "sx_lod_file_download_link",
              "displayName": "sx_lod_file_download_link",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "sx_lod_file_inline_link",
              "displayName": "sx_lod_file_inline_link",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "sx_lod_file_key",
              "displayName": "sx_lod_file_key",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -100,
        2080
      ],
      "id": "a59115d7-4a97-43e0-9eda-3211993e7ebc",
      "name": "Postgres1",
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "wYLes21z9h3njdSn",
          "name": "postgress-prod"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "content": "Must Change the address:\n\n{{ $json.address }}"
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -380,
        -80
      ],
      "typeVersion": 1,
      "id": "2dba9b51-f497-4ff9-a4cf-f05ec7ea5418",
      "name": "Sticky Note"
    }
  ],
  "pinData": {
    "Trigger": [
      {
        "json": {
          "action": "add_client",
          "data": {
            "session_manager": {
              "name": "Dwayne Hoover",
              "address": "dwayne@patchbay.xyz",
              "user_id": "2edfd81b-b1a1-4cb9-89b5-6c84b8bd6dc2",
              "Clients": [
                {
                  "book_number": null,
                  "book_id": null,
                  "message": "Client Jackson Reed could not be verified.",
                  "verification_status": false
                }
              ]
            },
            "client": {
              "verification_status": true,
              "client_legal_name": "Quincy  Jones",
              "client_performer_name": "Quincy Jones",
              "book_number": "38930866-9e7a-424c-9492-bf9dd476bde6",
              "book_id": 620,
              "confidence": 100,
              "client_role": "Songwriter",
              "provide_services": false,
              "message": "Songwriter Quincy  Jones is verified in Dwayne Hoover's workspace"
            },
            "sessioin_data": {
              "ThreadId": "19a49d2f2b07c761",
              "Subject": "Fwd: EXCLUSIVE LICENSE AGREEMENT",
              "Emails": "_______________\nFrom: Patchbay Assistant (asst@patchbay.xyz)\nTo: Dwayne Hoover (dwayne@patchbay.xyz)\nDate: Tuesday, November 4, 2025 at 9:29 AM\n\nBody:\n* Action Completed*\n\n   - Exclusive License Agreement deal has been created for Artist Jackson Reed with 1916 Soundworks, Inc.\n   - Quincy Jones is included as the fixed songwriter.\n   - All terms from your provided term sheet and Exhibit A have been incorporated.\n   - Status: Needs Review\n\nNo invoice creation or update was requested or performed at this step.\n\nIs there anything else I can help you with?\n________________________\n\n_______________\nFrom: Dwayne Hoover (dwayne@patchbay.xyz)\nTo: Patchbay Assistant (asst@patchbay.xyz)\nDate: Tuesday, November 4, 2025 at 9:27 AM\n\nBody:\nApproved.\n________________________\n\n_______________\nFrom: Patchbay Assistant (asst@patchbay.xyz)\nTo: Dwayne Hoover (dwayne@patchbay.xyz)\nDate: Tuesday, November 4, 2025 at 9:23 AM\n\nBody:\nThe system has verified Songwriter Quincy Jones in your workspace. There is no existing deal found for this client, so I have compiled the proposed terms for a new Exclusive License Agreement involving Artist Jackson Reed and 1916 Soundworks, Inc. as Company, with Quincy Jones as Songwriter.\n\n*Deal*\n\n   - Deal Type: Licensing (Record)\n   - Artist: Jackson Reed\n   - Label: 1916 Soundworks, Inc.\n   - Territories: United States, Canada\n   - Advance: $55,000 (USD) ($25,000 on signing / $15,000 mid-delivery / $15,000 on final delivery)\n   - Royalties: 45% of Company’s Net Profits (to Artist)\n   - Marketing Budget: $30,000\n   - Social Media: At least 6 posts per Subject Recording\n   - Songwriter: Quincy Jones (fixed)\n   - License Period: 20 years after initial commercial release of last Subject Recording and recoupment of all Advances\n   - Other terms: As detailed in the full term sheet you provided\n   - Execution Date: *Not Provided (pending)*\n\nPlease review the above terms. If everything looks correct, reply with *\"Approved\"* and I will proceed with creating the new deal. If you need to make any changes or provide the Execution Date, let me know before proceeding.\n________________________\n\n_______________\nFrom: Dwayne Hoover (dwayne@patchbay.xyz)\nTo: Patchbay Assistant (asst@patchbay.xyz)\nDate: Tuesday, November 4, 2025 at 9:21 AM\n\nBody:\nCan you try again please.\n________________________\n\n_______________\nFrom: Dwayne Hoover (dwayne@patchbay.xyz)\nTo: Patchbay Assistant (asst@patchbay.xyz)\nDate: Tuesday, November 4, 2025 at 2:37 AM\nSubject: Fwd: EXCLUSIVE LICENSE AGREEMENT\n\nBody:\nCheck this deal in the patchbay workspace and if it does not exist, create it.\n________________________\n\n_______________\nFrom: Dwayne Hoover (dwayne@patchbay.xyz)\nTo: asst@patchbay.xyz\nDate: Tue, Nov 4, 2025, 2:27 AM\n\nBody:\n---------------\n\n---------------\nFrom: Dwayne Hoover (dwayne@patchbay.xyz)\nTo: asst@patchbay.xyz\nDate: Tue, Nov 4, 2025, 2:21 AM\nBody: Can you try again please.\n---------------\n\n---------------\nFrom: Dwayne Hoover (dwayne@patchbay.xyz)\nTo: asst@patchbay.xyz\nDate: Mon, Nov 3, 2025, 1:07 PM\nBody: Quincy Jones is my client.\n---------------\n\n---------------\nFrom: Dwayne Hoover (dwayne@patchbay.xyz)\nTo: Patchbay Assistant (asst@patchbay.xyz)\nDate: Mon, Nov 3, 2025, 1:05 PM\nBody: From: Dwayne Hoover (dwayne@patchbay.xyz)\nTo: Patchbay Assistant (asst@patchbay.xyz)\nDate: Monday, November 3, 2025 at 1:05 PM\nSubject: EXCLUSIVE LICENSE AGREEMENT\nBody:\n*EXCLUSIVE LICENSE AGREEMENT*\n\nThis Term Sheet and the Terms and Conditions attached hereto as *Exhibit A*\nand incorporated herein by this reference (collectively, the “Agreement”)\nis made and entered into as of the Execution Date (as defined hereinbelow),\nby and between:\n\n   -\n\n   *Jackson Reed* (“you” or “Artist”), on the one hand; and\n   -\n\n   *1916 Soundworks, Inc.* (“Company”), 1645 N. Vine St., Suite 809, Los\n   Angeles, CA 90028, on the other hand.\n\nAll capitalized terms not otherwise defined in this Term Sheet shall have\nthe same meanings as ascribed to them in the Terms and Conditions.\n------------------------------\n*TERM SHEET*\nItem Detail\n*Type* Exclusive License Agreement\n*Territory* United States & Canada\n*Execution Date*\n________________________\n\n_______________\nFrom: Patchbay Assistant (asst@patchbay.xyz)\nTo: Dwayne Hoover (dwayne@patchbay.xyz)\nDate: Monday, November 3, 2025 at 8:09 PM\n\nBody:\nQuincy Jones is verified as a Songwriter in your workspace.\n\nHowever, I encountered a system error while searching for existing deals involving Songwriter Quincy Jones, so I couldn't determine the current deal status or next steps.\n\nNo further action can be taken regarding deals or invoices for Quincy Jones until the deal search completes successfully.\n\nIf this is urgent, you may want to retry the request or escalate to technical support. Would you like me to try again to locate deals or invoices for Quincy Jones?\n________________________\n\n_______________\nFrom: Patchbay Assistant (asst@patchbay.xyz)\nTo: Dwayne Hoover (dwayne@patchbay.xyz)\nDate: Monday, November 3, 2025 at 8:07 PM\n\nBody:\nHello Dwayne,\n\nI wasn't able to find Artist Jackson Reed in your workspace, so I can't move forward with creating a deal or invoice just yet. Could you confirm if this artist is registered, or let me know if I've misunderstood?\n\n*Missing Information*\n\n   - Confirmation or additional details for the client \"Jackson Reed\" (such as alternate legal name, performer name, or other identifying info).\n\nCould you provide these details so I can continue?\n________________________\n\n_______________\nFrom: Dwayne Hoover (dwayne@patchbay.xyz)\nTo: Patchbay Assistant (asst@patchbay.xyz)\nDate: Monday, November 3, 2025 at 8:07 PM\n\nBody:\nQuincy Jones  is my client.\n________________________\n\n_______________\nFrom: Dwayne Hoover (dwayne@patchbay.xyz)\nTo: Patchbay Assistant (asst@patchbay.xyz)\nDate: Monday, November 3, 2025 at 8:05 PM\nSubject: EXCLUSIVE LICENSE AGREEMENT\n\nBody:\n*EXCLUSIVE LICENSE AGREEMENT*\n\nThis Term Sheet and the Terms and Conditions attached hereto as *Exhibit A* and incorporated herein by this reference (collectively, the “Agreement”) is made and entered into as of the Execution Date (as defined hereinbelow), by and between:\n\n   -\n\n   *Jackson Reed* (“you” or “Artist”), on the one hand; and\n   -\n\n   *1916 Soundworks, Inc.* (“Company”), 1645 N. Vine St., Suite 809, Los Angeles, CA 90028, on the other hand.\n\nAll capitalized terms not otherwise defined in this Term Sheet shall have the same meanings as ascribed to them in the Terms and Conditions.\n------------------------------\n*TERM SHEET*\nItem Detail\n*Type* Exclusive License Agreement\n*Territory* United States & Canada\n*Execution Date*\n________________________",
              "Others": [],
              "Managers": [
                {
                  "name": "Dwayne Hoover",
                  "address": "dwayne@patchbay.xyz",
                  "user_id": "2edfd81b-b1a1-4cb9-89b5-6c84b8bd6dc2",
                  "person_number": "2752c92b-b570-4f0f-a082-611fe1770ec4",
                  "Role": "Manager",
                  "Clients": [
                    {
                      "book_number": null,
                      "book_id": null,
                      "message": "Client Jackson Reed could not be verified.",
                      "verification_status": false
                    }
                  ]
                },
                {
                  "name": "Agent",
                  "address": "asst@patchbay.xyz",
                  "user_id": "9cd5749c-7e7d-4a92-98cd-c1356b626258",
                  "person_number": "03014402-449b-48bb-8973-212449e99e2f",
                  "Role": "Manager",
                  "Clients": []
                }
              ],
              "references": [
                "<CAP=u+8DTkeVrqLbh==22uaNOFRz=0X5B5ossbMO5nyL6m7M9=w@mail.gmail.com>",
                "<CAEaeWjT12fos7DjJptODDG5N9OqfO+8iSw25oe8jKPGN6nAB9g@mail.gmail.com>"
              ],
              "Label": "CRUD-ASSISTANT",
              "sessionStatus": true
            }
          },
          "binary": null
        }
      }
    ]
  },
  "repo_name": "hub-n8n",
  "repo_owner": "ck-bit",
  "repo_path": "",
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "createdAt": "2025-05-15T17:50:30.024Z",
      "updatedAt": "2025-05-15T17:50:30.024Z",
      "id": "lqzFxyosGtACqbc3",
      "name": "Abid"
    },
    {
      "createdAt": "2025-10-10T18:41:25.635Z",
      "updatedAt": "2025-10-10T18:41:25.635Z",
      "id": "AlGcOoQu5NWKEayQ",
      "name": "development"
    }
  ],
  "triggerCount": 0,
  "updatedAt": "2025-11-04T03:00:02.165Z",
  "versionId": "8c1c0009-c282-4826-a21f-ec422385e30f"
}