2025/09/S8pgbDKYhtpY8f7O.json
{
  "active": false,
  "connections": {
    "GetSession1": {
      "main": [
        [
          {
            "node": "SessionData",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SessionData": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Add Label1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Metadata",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GTrigger": {
      "main": [
        [
          {
            "node": "GetSession1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Data": {
      "main": [
        [
          {
            "node": "CallAssistant",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Labeler",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Add Label": {
      "main": [
        [
          {
            "node": "Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add Label1": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Data1": {
      "main": [
        [
          {
            "node": "Call Bulk Processor",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CreateSession": {
      "main": [
        [
          {
            "node": "Data1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "CreateSession",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Metadata": {
      "main": [
        [
          {
            "node": "Labeler",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Labeler": {
      "main": [
        [
          {
            "node": "Add Label1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Add Label",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Add Label",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CallAssistant": {
      "main": [
        [
          {
            "node": "MarkRead1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-09-04T09:24:32.210Z",
  "id": "S8pgbDKYhtpY8f7O",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Emails Handler-active",
  "nodes": [
    {
      "parameters": {
        "operation": "get",
        "propertyName": "thread",
        "key": "=thread_{{ $json.threadId }}",
        "options": {}
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        -440,
        -40
      ],
      "id": "60d96f53-faae-49ce-b0bd-33e49a624d2f",
      "name": "GetSession1",
      "retryOnFail": true,
      "credentials": {
        "redis": {
          "id": "ujdbLpmKXmUC4bPj",
          "name": "Redis account 2"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const sessionData = $input.item.json.thread;\n\nif (typeof sessionData === \"string\") {\n  try {\n    const parsed = JSON.parse(sessionData);\n    return {\"sessionStatus\": parsed.sessionStatus, \"Label\": parsed.Label};\n  } catch {\n    return { sessionStatus: false }; // Invalid JSON\n  }\n} else {\n  return { sessionStatus: false }; // No session data\n}\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -300,
        -40
      ],
      "id": "b9ec8542-4a77-4b0f-b596-5f1cb5b48bae",
      "name": "SessionData"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "fdb6c60e-5d50-4d5c-80ab-c1335d3e92c1",
                    "leftValue": "={{ $json.sessionStatus && $json.Label == \"BULK-DEALS-ASSISTANT\" }}",
                    "rightValue": "",
                    "operator": {
                      "type": "boolean",
                      "operation": "true",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "56c1e8d3-2b0a-4e3c-82f1-358ba33b4c1d",
                    "leftValue": "={{ $json.sessionStatus }}",
                    "rightValue": "",
                    "operator": {
                      "type": "boolean",
                      "operation": "false",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.sessionStatus && $json.Label == \"CRUD-ASSISTANT\" }}",
                    "rightValue": "",
                    "operator": {
                      "type": "boolean",
                      "operation": "true",
                      "singleValue": true
                    },
                    "id": "8606025a-9f90-4028-880e-f80ad60170ef"
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -100,
        -40
      ],
      "id": "c9264858-e7db-4838-ac72-7a090c1e8453",
      "name": "Switch"
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "simple": false,
        "filters": {
          "readStatus": "unread"
        },
        "options": {
          "downloadAttachments": true
        }
      },
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.2,
      "position": [
        -600,
        -40
      ],
      "id": "4f9872e0-64dc-4b56-b736-be57a30b788b",
      "name": "GTrigger",
      "credentials": {
        "gmailOAuth2": {
          "id": "0X16CjC69yGvvRLO",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "aGLUEgm7dvkaB9T7",
          "mode": "list",
          "cachedResultName": "Chat-Orchestrator-1.0.5"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {
          "waitForSubWorkflow": false
        }
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        1040,
        300
      ],
      "id": "dd9b12f9-b9ca-4e84-817b-985acf2b7b59",
      "name": "CallAssistant",
      "executeOnce": false,
      "retryOnFail": true,
      "maxTries": 2
    },
    {
      "parameters": {
        "jsCode": "// Get all items from the GTrigger node\nconst items = $('GTrigger').all();\n\nreturn items.map(item => {\n  return {\n    json: {\n      ...item.json,   // copy json content\n    },\n    binary: item.binary || {} // keep binary if present\n  };\n});\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        900,
        300
      ],
      "id": "458fc0c3-dc78-4963-9fb0-0f20f48945b5",
      "name": "Data"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {
          "responseFormat": "json_object",
          "temperature": 0
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        500,
        120
      ],
      "id": "eef37535-209a-4a23-8a31-4b30d6278c41",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "mxdHDElSd4VQZiDt",
          "name": "OpenAi account 2"
        }
      }
    },
    {
      "parameters": {
        "resource": "thread",
        "operation": "addLabels",
        "threadId": "={{ $('GTrigger').item.json.threadId }}",
        "labelIds": [
          "Label_6620791052158273947"
        ]
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        700,
        140
      ],
      "id": "8679cf55-430a-4784-b8b4-47ba1e5b8f7e",
      "name": "Add Label",
      "webhookId": "8f6771a1-660d-48a3-9f80-fe36d5485e8f",
      "retryOnFail": true,
      "credentials": {
        "gmailOAuth2": {
          "id": "0X16CjC69yGvvRLO",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "resource": "thread",
        "operation": "addLabels",
        "threadId": "={{ $('GTrigger').item.json.threadId }}",
        "labelIds": [
          "Label_8900561339644229618"
        ]
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        720,
        -260
      ],
      "id": "2404ed2b-f6ce-4233-b931-20fdb0b90b8b",
      "name": "Add Label1",
      "webhookId": "8f6771a1-660d-48a3-9f80-fe36d5485e8f",
      "retryOnFail": true,
      "credentials": {
        "gmailOAuth2": {
          "id": "0X16CjC69yGvvRLO",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "operation": "set",
        "key": "=session_{{ $json.ThreadId }}",
        "value": "={{ $json.toJsonString() }}",
        "keyType": "string",
        "expire": true,
        "ttl": "={{ 60 * 60 * 24 * 30 }}"
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        1000,
        -260
      ],
      "id": "3cef277a-603f-4ff5-80e7-c7db8d840cbd",
      "name": "CreateSession",
      "retryOnFail": true,
      "credentials": {
        "redis": {
          "id": "ujdbLpmKXmUC4bPj",
          "name": "Redis account 2"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Get all items from the GTrigger node\nconst items = $('GTrigger').all();\n\nreturn items.map(item => {\n  const binaries = {};\n\n  // Loop over all binary keys and rename them under \"data_*\"\n  for (const [key, value] of Object.entries(item.binary || {})) {\n    binaries[`data_${key}`] = value;\n  }\n\n  return {\n    json: {\n      ...item.json,  // keep original json content\n    },\n    binary: binaries\n  };\n});\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1140,
        -260
      ],
      "id": "2c48a657-fc50-4c63-9ff2-11da55fe8fd2",
      "name": "Data1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "63fed44c-a31d-474a-8df7-994c7a9cb0bf",
              "name": "ThreadId",
              "value": "={{ $('GTrigger').first().json.threadId }}",
              "type": "string"
            },
            {
              "id": "a46526fc-743d-47e5-8748-e575fd7a683c",
              "name": "Label",
              "value": "BULK-DEALS-ASSISTANT",
              "type": "string"
            },
            {
              "id": "99680fd6-5c40-4187-9cf1-7bb2e1d39473",
              "name": "sessionStatus",
              "value": true,
              "type": "boolean"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        860,
        -260
      ],
      "id": "61693279-4404-4134-af65-85c0d9d511fc",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "jsCode": "const items = $('GTrigger').all();\n\nreturn items.map(item => {\n  const binaries = item.binary || {};\n  const attachments_metadata = Object.keys(binaries).map(key => {\n    const b = binaries[key];\n    return {\n      fileName: b?.fileName || null,\n      mimeType: b?.mimeType || null,\n    };\n  });\n\n  return {\n    json: {\n      attachments_metadata,\n    }\n  };\n});\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        220,
        -40
      ],
      "id": "e02bc6ad-a1fa-4530-b206-faf2011cea39",
      "name": "Metadata"
    },
    {
      "parameters": {
        "inputText": "=Subject: {{ $('GTrigger').item.json.headers.subject }},\nemail_text = {{ $('GTrigger').item.json.text.slice(0,120000) }}",
        "categories": {
          "categories": [
            {
              "category": "BULK-DEALS-ASSISTANT",
              "description": "=**BULK-DEALS-ASSISTANT**\nChoose this category **only if all the following apply**:\n\n* The subject and email text clearly indicate that the user wants to **process multiple deals** (e.g., extract or create in bulk).\n* The conversation is **only between two people** (a manager and the assistant/system).\n* There is an attachment present in the email, either:\n\n  * a single `.zip` file, or\n  * multiple deal files (shown in `attachments_metadata`).\n\n👉 Attachments Metadata example:\n\n```js\n{{ JSON.stringify($json.attachments_metadata, null, ' ') }}\n```"
            },
            {
              "category": "CRUD-ASSISTANT",
              "description": "=**CRUD-ASSISTANT**\nChoose this category if **all of the following apply**:\n\n* The conversation is **multiparties** (more than two participants).\n* The topic is a **single deal only**, which may involve discussions around:\n\n  * deal creation\n  * deal updates or modifications\n  * invoices, catalogs, song splits, confirmations, etc.\n* Attachments may be present, but **never a `.zip` file**."
            },
            {
              "category": "Invalid",
              "description": "Nothing matched to the above to categories"
            }
          ]
        },
        "options": {
          "systemPromptTemplate": "=You are a strict labeler for Gmail threads.\n\nPlease classify the text provided by the user into one of the following categories: \n[\"BULK-DEALS-ASSISTANT\", \"CRUD-ASSISTANT\"]\n\nClassification Rules:\n- BULK-DEALS-ASSISTANT: For 2-party conversations, processing multiple deals, always with .zip or multiple deal files in attachments_metadata.\n- CRUD-ASSISTANT: For multiparty conversations, discussing a single deal, possibly with attachments (but never .zip).\n\nOutput Format:\nReturn only valid JSON in the following structure:\nDo not explain your reasoning. Do not add extra fields.\n``\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.textClassifier",
      "typeVersion": 1,
      "position": [
        380,
        -40
      ],
      "id": "36470468-4a59-4920-9a41-b808729696f7",
      "name": "Labeler",
      "executeOnce": true,
      "retryOnFail": true
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "CdHgURIIFXW8hZSO",
          "mode": "list",
          "cachedResultName": "BD-Orchestrator"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {
          "waitForSubWorkflow": false
        }
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        1260,
        -260
      ],
      "id": "73f47cef-bbbb-42df-8ed9-57cbcfb8c85f",
      "name": "Call Bulk Processor",
      "retryOnFail": false
    },
    {
      "parameters": {
        "operation": "markAsRead",
        "messageId": "={{ $json.id }}"
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1180,
        300
      ],
      "id": "aea031ce-3211-44d2-bf8f-182c3906f7ed",
      "name": "MarkRead1",
      "webhookId": "65f2b319-adb6-4e7b-be07-373aedbe7dd7",
      "executeOnce": false,
      "retryOnFail": true,
      "credentials": {
        "gmailOAuth2": {
          "id": "0X16CjC69yGvvRLO",
          "name": "Gmail account"
        }
      }
    }
  ],
  "pinData": {},
  "repo_name": "hub-n8n",
  "repo_owner": "ck-bit",
  "repo_path": "",
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "executionTimeout": 3600,
    "timeSavedPerExecution": 0
  },
  "staticData": {
    "node:GTrigger": {
      "GTrigger": {
        "lastTimeChecked": 1762798164,
        "possibleDuplicates": [
          "19a6ef57fd42cb4a"
        ]
      }
    }
  },
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2025-11-11T02:11:16.351Z",
  "versionId": "d8e293f0-d8c1-461a-ad82-bb249b796df4"
}