2025/09/WICCH0K6dGMRNGPF.json
{
  "active": false,
  "connections": {
    "When clicking ‘Test workflow’": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Postgres PGVector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Postgres PGVector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Token Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Postgres PGVector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-09-15T05:43:35.542Z",
  "id": "WICCH0K6dGMRNGPF",
  "meta": null,
  "name": "Embed Instruments",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "e4a3c32a-b3b2-41c6-a52e-926b99d83a91",
      "name": "When clicking ‘Test workflow’"
    },
    {
      "parameters": {
        "jsonMode": "expressionData",
        "jsonData": "=Description: {{ $('Code').item.json.key }}\nTag: {{ $('Code').item.json.value }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1,
      "position": [
        560,
        220
      ],
      "id": "ab948a68-7373-4143-a927-3ecc0a96a86a",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "jsCode": "const inputData = $json\n\nconst result = Object.entries(inputData).map(([key, value]) => ({\n  json: { key, value }\n}));\n\nreturn result;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        220,
        0
      ],
      "id": "cd5092b0-2287-4009-bc2a-76591457458f",
      "name": "Code"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.textSplitterTokenSplitter",
      "typeVersion": 1,
      "position": [
        660,
        420
      ],
      "id": "165298ae-e7dc-4718-a8f1-4b5b966d718f",
      "name": "Token Splitter"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        440,
        220
      ],
      "id": "2bbdbea0-9107-48bc-8555-aae8ae9d5f00",
      "name": "Embeddings OpenAI"
    },
    {
      "parameters": {
        "mode": "insert",
        "tableName": "patchbay_embeddings_instruments",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePGVector",
      "typeVersion": 1,
      "position": [
        460,
        0
      ],
      "id": "c058844a-945c-4c59-9e01-4330c4bbbe4e",
      "name": "Postgres PGVector Store"
    }
  ],
  "pinData": {
    "When clicking ‘Test workflow’": [
      {
        "json": {
          "Four String Banjo": "FOUR_STRING_BANJO",
          "Four String Guitar": "FOUR_STRING_GUITAR",
          "Five String Banjo": "FIVE_STRING_BANJO",
          "Five String Bass Guitar": "FIVE_STRING_BASS_GUITAR",
          "Six String Banjo": "SIX_STRING_BANJO",
          "Six String Bass Guitar": "SIX_STRING_BASS_GUITAR",
          "Seven String Banjo": "SEVEN_STRING_BANJO",
          "Seven String Bass Guitar": "SEVEN_STRING_BASS_GUITAR",
          "Seven String Guitar": "SEVEN_STRING_GUITAR",
          "Eight String Bass Guitar": "EIGHT_STRING_BASS_GUITAR",
          "Eight String Guitar": "EIGHT_STRING_GUITAR",
          "Nine String Guitar": "NINE_STRING_GUITAR",
          "Ten String Bass Guitar": "TEN_STRING_BASS_GUITAR",
          "Ten String Guitar": "TEN_STRING_GUITAR",
          "Eleven String Guitar": "ELEVEN_STRING_GUITAR",
          "Twelve String Acoustic Guitar": "TWELVE_STRING_ACOUSTIC_GUITAR",
          "Twelve String Bass Guitar": "TWELVE_STRING_BASS_GUITAR",
          "Twelve String Electric Guitar": "TWELVE_STRING_ELECTRIC_GUITAR",
          "Twelve String Fiddle": "TWELVE_STRING_FIDDLE",
          "Twelve String Guitar": "TWELVE_STRING_GUITAR",
          "Accordion": "ACCORDION",
          "Acoustic Baritone Guitar": "ACOUSTIC_BARITONE_GUITAR",
          "Acoustic Bass Guitar": "ACOUSTIC_BASS_GUITAR",
          "Acoustic Fretless Guitar": "ACOUSTIC_FRETLESS_GUITAR",
          "Acoustic Guitar": "ACOUSTIC_GUITAR",
          "Alto Clarinet": "ALTO_CLARINET",
          "Alto Flute": "ALTO_FLUTE",
          "Alto Horn": "ALTO_HORN",
          "Alto Recorder": "ALTO_RECORDER",
          "Alto Saxophone": "ALTO_SAXOPHONE",
          "Alto Trombone": "ALTO_TROMBONE",
          "Alto Violin": "ALTO_VIOLIN",
          "Appalachian Dulcimer": "APPALACHIAN_DULCIMER",
          "Archlute": "ARCHLUTE",
          "Autoharp": "AUTOHARP",
          "Background Vocals": "BACKGROUND_VOCALS",
          "Baglama": "BAGLAMA",
          "Bagpipes": "BAGPIPES",
          "Balafon": "BALAFON",
          "Balalaika": "BALALAIKA",
          "Bandoneon": "BANDONEON",
          "Bandurria": "BANDURRIA",
          "Banjo": "BANJO",
          "Bansuri": "BANSURI",
          "Barbat": "BARBAT",
          "Baritone Guitar": "BARITONE_GUITAR",
          "Baritone Horn": "BARITONE_HORN",
          "Baritone Vocals": "BARITONE_VOCALS",
          "Baroque Guitar": "BAROQUE_GUITAR",
          "Baroque Violin": "BAROQUE_VIOLIN",
          "Barrel Organ": "BARREL_ORGAN",
          "Bass": "BASS",
          "Bass Clarinet": "BASS_CLARINET",
          "Bass Drum": "BASS_DRUM",
          "Bass Flute": "BASS_FLUTE",
          "Bass Guitar": "BASS_GUITAR",
          "Bass Harmonica": "BASS_HARMONICA",
          "Bass Oboe": "BASS_OBOE",
          "Bass Recorder": "BASS_RECORDER",
          "Bass Saxophone": "BASS_SAXOPHONE",
          "Bass Trombone": "BASS_TROMBONE",
          "Bass Trumpet": "BASS_TRUMPET",
          "Bass Vocals": "BASS_VOCALS",
          "Basset Clarinet": "BASSET_CLARINET",
          "Basset Horn": "BASSET_HORN",
          "Bassoon": "BASSOON",
          "Bata Drums": "BATA_DRUMS",
          "Beat Boxing": "BEAT_BOXING",
          "Bells": "BELLS",
          "Bendir": "BENDIR",
          "Berimbau": "BERIMBAU",
          "Biwa": "BIWA",
          "Bonang": "BONANG",
          "Bongos": "BONGOS",
          "Bouzouki": "BOUZOUKI",
          "Bugle": "BUGLE",
          "Button Accordion": "BUTTON_ACCORDION",
          "C Melody Sax": "C_MELODY_SAX",
          "Cajon": "CAJON",
          "Calliope": "CALLIOPE",
          "Castanets": "CASTANETS",
          "Cavaquinho": "CAVAQUINHO",
          "Caxixi": "CAXIXI",
          "Celeste": "CELESTE",
          "Cello": "CELLO",
          "Chamber Organ": "CHAMBER_ORGAN",
          "Chamberlin": "CHAMBERLIN",
          "Chant Vocals": "CHANT_VOCALS",
          "Chapman Stick": "CHAPMAN_STICK",
          "Charango": "CHARANGO",
          "Chekere": "CHEKERE",
          "Chest Organ": "CHEST_ORGAN",
          "Chimes": "CHIMES",
          "Chromatic Harmonica": "CHROMATIC_HARMONICA",
          "Cimbalom": "CIMBALOM",
          "Cittern": "CITTERN",
          "Clarinet": "CLARINET",
          "Classical Guitar": "CLASSICAL_GUITAR",
          "Claves": "CLAVES",
          "Clavichord": "CLAVICHORD",
          "Clavinet": "CLAVINET",
          "Concert Harp": "CONCERT_HARP",
          "Concertina": "CONCERTINA",
          "Conch Shells": "CONCH_SHELLS",
          "Congas": "CONGAS",
          "Contrabass": "CONTRABASS",
          "Contrabass Clarinet": "CONTRABASS_CLARINET",
          "Contrabass Flute": "CONTRABASS_FLUTE",
          "Contrabass Recorder": "CONTRABASS_RECORDER",
          "Contrabass Sarrusophone": "CONTRABASS_SARRUSOPHONE",
          "Contrabass Saxophone": "CONTRABASS_SAXOPHONE",
          "Contrabass Trombone": "CONTRABASS_TROMBONE",
          "Contrabassoon": "CONTRABASSOON",
          "Contralto Clarinet": "CONTRALTO_CLARINET",
          "Contralto Vocals": "CONTRALTO_VOCALS",
          "Cornet": "CORNET",
          "Cornett": "CORNETT",
          "Counter Tenor": "COUNTER_TENOR",
          "Cowbell": "COWBELL",
          "Crotales": "CROTALES",
          "Crumhorn": "CRUMHORN",
          "Cuatro": "CUATRO",
          "Cuesnophone": "CUESNOPHONE",
          "Curtal": "CURTAL",
          "Cymbals": "CYMBALS",
          "Daf": "DAF",
          "Dhol": "DHOL",
          "Diddley Bow": "DIDDLEY_BOW",
          "Didgeridoo": "DIDGERIDOO",
          "Djembe": "DJEMBE",
          "Dobro Guitar": "DOBRO_GUITAR",
          "Double Bass": "DOUBLE_BASS",
          "Doumbek": "DOUMBEK",
          "Drum Machine": "DRUM_MACHINE",
          "Drums": "DRUMS",
          "Duduk": "DUDUK",
          "Dulcian": "DULCIAN",
          "Dulcimer": "DULCIMER",
          "E Bow": "E_BOW",
          "Electric Bass Guitar": "ELECTRIC_BASS_GUITAR",
          "Electric Cello": "ELECTRIC_CELLO",
          "Electric Fretless Guitar": "ELECTRIC_FRETLESS_GUITAR",
          "Electric Guitar": "ELECTRIC_GUITAR",
          "Electric Piano": "ELECTRIC_PIANO",
          "Electric Sitar": "ELECTRIC_SITAR",
          "Electric Upright Bass": "ELECTRIC_UPRIGHT_BASS",
          "Electric Viola": "ELECTRIC_VIOLA",
          "Electric Violin": "ELECTRIC_VIOLIN",
          "Electronic Valve Instrument": "ELECTRONIC_VALVE_INSTRUMENT",
          "Electronic Wind Instrument": "ELECTRONIC_WIND_INSTRUMENT",
          "English Horn": "ENGLISH_HORN",
          "Euphonium": "EUPHONIUM",
          "Farfisa": "FARFISA",
          "Fender Rhodes": "FENDER_RHODES",
          "Fiddle": "FIDDLE",
          "Fife": "FIFE",
          "Finger Cymbals": "FINGER_CYMBALS",
          "Finger Snaps": "FINGER_SNAPS",
          "Flamenco Guitar": "FLAMENCO_GUITAR",
          "Flugelhorn": "FLUGELHORN",
          "Flute": "FLUTE",
          "Fortepiano": "FORTEPIANO",
          "Frame Drum": "FRAME_DRUM",
          "French Horn": "FRENCH_HORN",
          "Gender": "GENDER",
          "Ghatam": "GHATAM",
          "Gitern": "GITERN",
          "Glockenspiel": "GLOCKENSPIEL",
          "Gong": "GONG",
          "Guiro": "GUIRO",
          "Guitar": "GUITAR",
          "Guitars": "GUITARS",
          "Gut String Guitar": "GUT_STRING_GUITAR",
          "Haghouge": "HAGHOUGE",
          "Hammered Dulcimer": "HAMMERED_DULCIMER",
          "Hammond Organ": "HAMMOND_ORGAN",
          "Handclaps": "HANDCLAPS",
          "Hardingfele": "HARDINGFELE",
          "Harmonica": "HARMONICA",
          "Harmonium": "HARMONIUM",
          "Harmony Vocals": "HARMONY_VOCALS",
          "Harp": "HARP",
          "Harpsichord": "HARPSICHORD",
          "Horn Section": "HORN_SECTION",
          "Horns": "HORNS",
          "Hurdy Gurdy": "HURDY_GURDY",
          "Kalimba": "KALIMBA",
          "Karkaba": "KARKABA",
          "Kazoo": "KAZOO",
          "Kendang": "KENDANG",
          "Kenongkethuk": "KENONGKETHUK",
          "Keyboard Bass": "KEYBOARD_BASS",
          "Keyboards": "KEYBOARDS",
          "Keytar": "KEYTAR",
          "Kora": "KORA",
          "Koto": "KOTO",
          "Lap Steel Guitar": "LAP_STEEL_GUITAR",
          "Low Whistle": "LOW_WHISTLE",
          "Lute": "LUTE",
          "Lyricon": "LYRICON",
          "Mandocello": "MANDOCELLO",
          "Mandola": "MANDOLA",
          "Mandolin": "MANDOLIN",
          "Manzello": "MANZELLO",
          "Maracas": "MARACAS",
          "Marimba": "MARIMBA",
          "Mellophone": "MELLOPHONE",
          "Mellophonium": "MELLOPHONIUM",
          "Mellotron": "MELLOTRON",
          "Melodica": "MELODICA",
          "Metallophone": "METALLOPHONE",
          "Mezzo Soprano Vocals": "MEZZO_SOPRANO_VOCALS",
          "Modular Synth": "MODULAR_SYNTH",
          "Mouth Organ": "MOUTH_ORGAN",
          "Mridangam": "MRIDANGAM",
          "Musette": "MUSETTE",
          "Ney": "NEY",
          "Noises": "NOISES",
          "Nylon String Guitar": "NYLON_STRING_GUITAR",
          "Oboe": "OBOE",
          "Oboe Damore": "OBOE_DAMORE",
          "Ocarina": "OCARINA",
          "Omnichord": "OMNICHORD",
          "Ondes Martenot": "ONDES_MARTENOT",
          "Organ": "ORGAN",
          "Oud": "OUD",
          "Pan Flute": "PAN_FLUTE",
          "Panpipes": "PANPIPES",
          "Parlour Guitar": "PARLOUR_GUITAR",
          "Pedal Steel Guitar": "PEDAL_STEEL_GUITAR",
          "Peking": "PEKING",
          "Penny Whistle": "PENNY_WHISTLE",
          "Percussion": "PERCUSSION",
          "Piano": "PIANO",
          "Piccolo": "PICCOLO",
          "Piccolo Bass": "PICCOLO_BASS",
          "Piccolo Oboe": "PICCOLO_OBOE",
          "Piccolo Trumpet": "PICCOLO_TRUMPET",
          "Pikasa Guitar": "PIKASA_GUITAR",
          "Pipe Organ": "PIPE_ORGAN",
          "Portuguese Guitar": "PORTUGUESE_GUITAR",
          "Prepared Piano": "PREPARED_PIANO",
          "Psaltery": "PSALTERY",
          "Rebab": "REBAB",
          "Rebec": "REBEC",
          "Recorder": "RECORDER",
          "Reed Organ": "REED_ORGAN",
          "Requinto Guitar": "REQUINTO_GUITAR",
          "Rhodes Piano": "RHODES_PIANO",
          "Rhythm Guitar": "RHYTHM_GUITAR",
          "Sackbut": "SACKBUT",
          "Sampler": "SAMPLER",
          "Santoor": "SANTOOR",
          "Santur": "SANTUR",
          "Sarangi": "SARANGI",
          "Sarod": "SAROD",
          "Saron": "SARON",
          "Sarrusophone": "SARRUSOPHONE",
          "Saxello": "SAXELLO",
          "Saxophone": "SAXOPHONE",
          "Saz": "SAZ",
          "Serpent": "SERPENT",
          "Shakers": "SHAKERS",
          "Shakuhachi": "SHAKUHACHI",
          "Shamisen": "SHAMISEN",
          "Shawm": "SHAWM",
          "Shekere": "SHEKERE",
          "Shenai": "SHENAI",
          "Sheng": "SHENG",
          "Sitar": "SITAR",
          "Sleigh Bells": "SLEIGH_BELLS",
          "Slenthem": "SLENTHEM",
          "Slide Guitar": "SLIDE_GUITAR",
          "Slide Saxophone": "SLIDE_SAXOPHONE",
          "Slide Trumpet": "SLIDE_TRUMPET",
          "Slide Whistle": "SLIDE_WHISTLE",
          "Snare Drum": "SNARE_DRUM",
          "Sopranino Clarinet": "SOPRANINO_CLARINET",
          "Sopranino Saxophone": "SOPRANINO_SAXOPHONE",
          "Soprano": "SOPRANO",
          "Soprano Clarinet": "SOPRANO_CLARINET",
          "Soprano Flute": "SOPRANO_FLUTE",
          "Soprano Recorder": "SOPRANO_RECORDER",
          "Soprano Saxophone": "SOPRANO_SAXOPHONE",
          "Soprano Violin": "SOPRANO_VIOLIN",
          "Soprano Vocals": "SOPRANO_VOCALS",
          "Sousaphone": "SOUSAPHONE",
          "Spanish Guitar": "SPANISH_GUITAR",
          "Spinet": "SPINET",
          "Spoons": "SPOONS",
          "Steel Drums": "STEEL_DRUMS",
          "Strings": "STRINGS",
          "Stritch": "STRITCH",
          "Surdo": "SURDO",
          "Synclavier": "SYNCLAVIER",
          "Synthesizer": "SYNTHESIZER",
          "Tabla": "TABLA",
          "Tabor Pipe": "TABOR_PIPE",
          "Tack Piano": "TACK_PIANO",
          "Talkbox": "TALKBOX",
          "Talking Drum": "TALKING_DRUM",
          "Tamborim": "TAMBORIM",
          "Tamboura": "TAMBOURA",
          "Tambourine": "TAMBOURINE",
          "Tanpura": "TANPURA",
          "Tarogato": "TAROGATO",
          "Temple Blocks": "TEMPLE_BLOCKS",
          "Tenor Banjo": "TENOR_BANJO",
          "Tenor Drum": "TENOR_DRUM",
          "Tenor Guitar": "TENOR_GUITAR",
          "Tenor Horn": "TENOR_HORN",
          "Tenor Recorder": "TENOR_RECORDER",
          "Tenor Saxophone": "TENOR_SAXOPHONE",
          "Tenor Trombone": "TENOR_TROMBONE",
          "Tenor Violin": "TENOR_VIOLIN",
          "Tenor Vocals": "TENOR_VOCALS",
          "Thavil": "THAVIL",
          "Theorbo": "THEORBO",
          "Theremin": "THEREMIN",
          "Timbales": "TIMBALES",
          "Timpani": "TIMPANI",
          "Tin Whistle": "TIN_WHISTLE",
          "Toy Piano": "TOY_PIANO",
          "Traverso": "TRAVERSO",
          "Tres": "TRES",
          "Triangle": "TRIANGLE",
          "Trombone": "TROMBONE",
          "Trombonium": "TROMBONIUM",
          "Trumpet": "TRUMPET",
          "Tuba": "TUBA",
          "Tubular Bells": "TUBULAR_BELLS",
          "Turntable": "TURNTABLE",
          "Udu": "UDU",
          "Uilleann Pipes": "UILLEANN_PIPES",
          "Ukulele": "UKULELE",
          "Upright Piano": "UPRIGHT_PIANO",
          "Valve Trombone": "VALVE_TROMBONE",
          "Veena": "VEENA",
          "Vibraphone": "VIBRAPHONE",
          "Vibraslap": "VIBRASLAP",
          "Vielle": "VIELLE",
          "Viol": "VIOL",
          "Viola": "VIOLA",
          "Viola Damore": "VIOLA_DAMORE",
          "Viola da Gamba": "VIOLA_DA_GAMBA",
          "Violin": "VIOLIN",
          "Violoncello": "VIOLONCELLO",
          "Violone": "VIOLONE",
          "Vocals": "VOCALS",
          "Vocoder": "VOCODER",
          "Washboard": "WASHBOARD",
          "Whistle": "WHISTLE",
          "Wood Block": "WOOD_BLOCK",
          "Wood Flute": "WOOD_FLUTE",
          "Wurlitzer": "WURLITZER",
          "Xylophone": "XYLOPHONE",
          "Xylorimba": "XYLORIMBA",
          "Zarb": "ZARB",
          "Zither": "ZITHER"
        }
      }
    ]
  },
  "repo_name": "hub-n8n",
  "repo_owner": "ck-bit",
  "repo_path": "",
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-09-17T13:26:38.755Z",
  "versionId": "9d542e39-7380-43b0-ba99-d80e26781ec7"
}