2025/09/WOYF6k52WBWh9f8A.json
{
  "active": false,
  "connections": {
    "Switch": {
      "main": [
        [
          {
            "node": "Router",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "access_token2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields11",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Postgres6",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "ByInvoiceId",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Basic LLM Chain2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Trigger": {
      "main": [
        [
          {
            "node": "GetUserSession1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Invoice": {
      "main": [
        [
          {
            "node": "invoice_payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Model": {
      "ai_languageModel": [
        [
          {
            "node": "Extract Invoice",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Fix",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Fix",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parser1": {
      "ai_outputParser": [
        [
          {
            "node": "Auto-fixing Output Parser",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "UpdatePayload",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Model1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Auto-fixing Output Parser",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Postgres6": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fix": {
      "ai_outputParser": [
        [
          {
            "node": "Extract Invoice",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "UpdatePayload": {
      "main": [
        [
          {
            "node": "access_token1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "firebaseId1": {
      "main": [
        [
          {
            "node": "CreateInvoice",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "access_token": {
      "main": [
        [
          {
            "node": "firebaseId1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "OnFailure",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "access_token1": {
      "main": [
        [
          {
            "node": "firebaseId",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields8",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "firebaseId": {
      "main": [
        [
          {
            "node": "Update",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch1": {
      "main": [
        [
          {
            "node": "InvoiceRecipient1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Format2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Router": {
      "main": [
        [
          {
            "node": "Switch1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RegisterCustomer": {
      "main": [
        [
          {
            "node": "Code2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code2": {
      "main": [
        [
          {
            "node": "Format2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code Tool": {
      "ai_tool": [
        [
          {
            "node": "Extract Invoice",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "ByInvoiceId": {
      "main": [
        [
          {
            "node": "If4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If3": {
      "main": [
        [
          {
            "node": "InvoiceOutput",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "ByRecAndAmount",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If4": {
      "main": [
        [
          {
            "node": "GetInvoices",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "ByRecAndAmount",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If5": {
      "main": [
        [
          {
            "node": "GetInvoices1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "ByRecipient",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If6": {
      "main": [
        [
          {
            "node": "InvoiceOutput1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "ByRecipient",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If7": {
      "main": [
        [
          {
            "node": "GetInvoices2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "ByAmount",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ByAmount": {
      "main": [
        [
          {
            "node": "If8",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If8": {
      "main": [
        [
          {
            "node": "GetInvoices3",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "InvoiceOutput3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If9": {
      "main": [
        [
          {
            "node": "InvoiceOutput2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "ByAmount",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ByRecAndAmount": {
      "main": [
        [
          {
            "node": "If5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GetInvoices": {
      "main": [
        [
          {
            "node": "If3",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GetInvoices1": {
      "main": [
        [
          {
            "node": "If6",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Error1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GetInvoices2": {
      "main": [
        [
          {
            "node": "If9",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Error2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GetInvoices3": {
      "main": [
        [
          {
            "node": "InvoiceOutput3",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Error3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ByRecipient": {
      "main": [
        [
          {
            "node": "If7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Auto-fixing Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields8": {
      "main": [
        []
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "ResetSubsession2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ResetSubsession2": {
      "main": [
        [
          {
            "node": "Edit Fields9",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "firebaseId2": {
      "main": [
        [
          {
            "node": "Get Invoice",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "OnError",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "access_token2": {
      "main": [
        [
          {
            "node": "firebaseId2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "OnError",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "UpdateSesssion5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "UpdateSesssion5": {
      "main": [
        [
          {
            "node": "Edit Fields2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "OnError1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Invoice": {
      "main": [
        [
          {
            "node": "If10",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Code1": {
      "main": [
        [
          {
            "node": "Edit Fields6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code3": {
      "main": [
        [
          {
            "node": "UpdateSesssion",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "UpdateSesssion": {
      "main": [
        [
          {
            "node": "Edit Fields5",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Get BankingInfo1": {
      "main": [
        [
          {
            "node": "Combine1",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Combine1": {
      "main": [
        [
          {
            "node": "Format1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format1": {
      "main": [
        [
          {
            "node": "Pdf-Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pdf-Request1": {
      "main": [
        [
          {
            "node": "Code3",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Code4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CreateInvoice": {
      "main": [
        [
          {
            "node": "If11",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "OnFailure",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OnFailure": {
      "main": [
        []
      ]
    },
    "InvoiceRecipient1": {
      "main": [
        [
          {
            "node": "If2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If2": {
      "main": [
        [
          {
            "node": "Edit Fields4",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "RegisterCustomer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields4": {
      "main": [
        [
          {
            "node": "Code2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code4": {
      "main": [
        [
          {
            "node": "ResetSubsession",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ResetSubsession": {
      "main": [
        [
          {
            "node": "OnFailure1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format2": {
      "main": [
        [
          {
            "node": "Extract Invoice",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If10": {
      "main": [
        [
          {
            "node": "Google Cloud Storage",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "CreateFile1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CreateFile1": {
      "main": [
        [
          {
            "node": "Wait1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "OnError2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait1": {
      "main": [
        [
          {
            "node": "Get Invoice3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Invoice3": {
      "main": [
        [
          {
            "node": "Google Cloud Storage",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "OnError2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Cloud Storage": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "OnError2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If11": {
      "main": [
        [
          {
            "node": "If12",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields10",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code5": {
      "main": [
        [
          {
            "node": "UpdateSesssion6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CreateFile2": {
      "main": [
        [
          {
            "node": "Wait2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields12",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If12": {
      "main": [
        [
          {
            "node": "GetFile",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "CreateFile2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait2": {
      "main": [
        [
          {
            "node": "Get Invoice4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Invoice4": {
      "main": [
        [
          {
            "node": "GetFile",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields12",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GetFile": {
      "main": [
        [
          {
            "node": "Code5",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields12",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "UpdateSesssion6": {
      "main": [
        [
          {
            "node": "Edit Fields13",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields12",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update": {
      "main": [
        [
          {
            "node": "Code1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields8",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "invoice_payload": {
      "main": [
        [
          {
            "node": "access_token",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain2": {
      "main": [
        [
          {
            "node": "New/Options",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model5": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain2",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser8": {
      "ai_outputParser": [
        [
          {
            "node": "Basic LLM Chain2",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "GetUserSession1": {
      "main": [
        [
          {
            "node": "Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Input": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-09-25T07:31:09.979Z",
  "id": "WOYF6k52WBWh9f8A",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "invoice_helpers-V1.0.4",
  "nodes": [
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.action.includes(\"create\") }}",
                    "rightValue": "",
                    "operator": {
                      "type": "boolean",
                      "operation": "true",
                      "singleValue": true
                    },
                    "id": "a0d57f1e-2666-4549-a35d-9fb424095a98"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "3325ec49-ea5d-4532-a9ce-b2b72dc1172b",
                    "leftValue": "={{ $json.action.includes(\"pdf_request\") }}",
                    "rightValue": "",
                    "operator": {
                      "type": "boolean",
                      "operation": "true",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "18c4290d-49af-43d2-a73f-05ae633bcd63",
                    "leftValue": "={{ $json.action.includes(\"send_file\") }}",
                    "rightValue": "send_file",
                    "operator": {
                      "type": "boolean",
                      "operation": "true",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "3178b30e-5cff-4271-a4ab-f10a3199af22",
                    "leftValue": "={{ $json.action.includes(\"update\") }}",
                    "rightValue": "",
                    "operator": {
                      "type": "boolean",
                      "operation": "true",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "5dbddb92-dd71-4b8d-806c-0ac56308c93b",
                    "leftValue": "={{ $json.action.includes(\"check\") }}",
                    "rightValue": "",
                    "operator": {
                      "type": "boolean",
                      "operation": "true",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "3b46750e-88f5-4215-81a2-6e340b396b91",
                    "leftValue": "={{ $json.action.includes(\"analyze\") }}",
                    "rightValue": "",
                    "operator": {
                      "type": "boolean",
                      "operation": "true",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -5360,
        1160
      ],
      "id": "f8eefb80-bf9a-4307-a0ee-be58e7d5dad9",
      "name": "Switch"
    },
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "action"
            },
            {
              "name": "data",
              "type": "any"
            },
            {
              "name": "ai_input"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -6480,
        1220
      ],
      "id": "894bec11-37f8-4045-9407-9ee517ae0abd",
      "name": "Trigger"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Instructions: {{ $('Trigger').first().json.ai_input }}\n-----\nMetadata: {{ JSON.stringify($json.metadata.removeField('last_bot_response'), null, ' ') }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=You are an intelligent AI extraction agent responsible for parsing and extracting invoice-related data in strict accordance with the defined JSON parsing schema.\n\nYour task is to:\n- Fully analyze all available context sources.\n- Accurately extract the required fields.\n- Return the output **exactly matching** the structure, types, and enumerations defined in the JSON schema provided to you.\n\n---\n\n### Output Format\n\nYour response **must strictly follow** the following JSON schema structure:\n\n- All fields are **required** unless explicitly marked optional.\n- Use the correct data types (e.g., string, uuid, float, boolean, date).\n- Populate enum fields only with allowed values as defined (e.g., \"status\", \"deal_type\", \"currency\").\n\nRefer to the following schema definitions when forming the output.\n\n---\n\n### You will receive the following input sources:\n\n- **Email Thread / Deal Document**: Unstructured communication containing important deal or invoice context.\n- **Metadata**: Structured profile data of the manager, client, or associated entities.\n- **Tool Input**: Data retrieved via automated systems (e.g., deal lookups, previously stored values).\n- **Instructions**: Latest user instructions, which may contain constraints or field overrides.\n\n---\n\n### Key Guidelines\n\n1. Extract **only relevant and valid** information from the sources.\n2. If any metadata is missing, you must follow the instructions and set the values accordingly without any guess and hallucinations.\n3. Your output must be **machine-parseable**, **strictly valid JSON**, and conform exactly to the schema.\n\n---\n\nAct deterministically. Do not ask clarifying questions. Your job is to extract and format with precision.\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.9,
      "position": [
        -2880,
        -100
      ],
      "id": "86ad8c3e-591d-421e-8977-c8f758b078da",
      "name": "Extract Invoice",
      "retryOnFail": true,
      "maxTries": 2
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {
          "responseFormat": "json_object",
          "temperature": 0
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -2880,
        280
      ],
      "id": "d6063248-a7cc-442b-a6c2-92a391fcf5ff",
      "name": "Model",
      "credentials": {
        "openAiApi": {
          "id": "mxdHDElSd4VQZiDt",
          "name": "OpenAi account 2"
        }
      }
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n  \"type\": \"object\",\n  \"properties\": {\n    \"book_number\": {\n      \"type\": \"string\",\n      \"format\": \"uuid\",\n      \"description\": \"book_id(uuid) provided in metadata.person_verification\"\n    },\n    \"title\": {\n      \"type\": \"string\",\n      \"description\": \"Appropriate title or label of the invoice\"\n    },\n    \"deal_number\": {\n      \"type\": [\"string\", null],\n      \"format\": \"uuid\",\n      \"description\": \"Search for deal_number(uuid) extracted from Metadata if provided. Set it to null\"\n    },\n    \"deal_type\": {\n      \"type\": [\"string\", null],\n      \"enum\": [\"Producer\", \"Mixer\", \"Featured Artist\"],\n      \"description\": \"Type of deal related to the invoice. If no informations about the deal is present, set this to null\"\n    },\n    \"status\": {\n      \"type\": [\"string\", null],\n      \"enum\": [\"Draft\"],\n      \"description\": \"Status of the invoice. If not matched or provided, set to Draft.\"\n    },\n    \"amount\": {\n      \"type\": \"string\",\n      \"description\": \"Extract the approved amount by the manager in the given context. You must look for the amount and extract is accurately.\"\n    },\n    \"currency\": {\n      \"type\": \"string\",\n      \"enum\": [\"EUR\", \"GBP\", \"USD\", \"CAD\", \"AUD\"],\n      \"description\": \"Currency of the invoice amount\"\n    },\n    \"commissioned_collected\": {\n      \"type\": \"boolean\",\n      \"description\": \"Whether the commissioned amount has been collected\"\n    },\n    \"management_commission\": {\n      \"type\": \"number\",\n      \"description\": \"Management commission amount, if clearly mentioned\"\n    },\n    \"management_commission_currency\": {\n      \"type\": \"string\",\n      \"enum\": [\"EUR\", \"GBP\", \"USD\", \"CAD\", \"AUD\"],\n      \"description\": \"Currency of the management commission. Set USD if no detail found.\"\n    },\n    \"legal_commissioned_collected\": {\n      \"type\": \"boolean\",\n      \"description\": \"Whether the legal commissioned amount has been collected\"\n    },\n    \"contact\": {\n      \"type\": [\"string\", null],\n      \"description\": \"Contact information of the person/customer who is recieving the invoice. Set null if not provided\"\n    },\n    \"customer_number\": {\n      \"type\": [\"string\", null],\n      \"format\": \"uuid\",\n      \"description\": \"Extract the uuid number from invoice_metadata.invoice_customer if provided, otherwise set to null\"\n    },\n    \"po_number\": {\n      \"type\": [\"string\", null],\n      \"description\": \"Purchase Order number for this invoice if provided\"\n    },\n    \"issued_on\": {\n      \"type\": [\"string\", null],\n      \"format\": \"date\",\n      \"description\": \"Date the invoice was issued. Retrieve the latest date for the invoice calling the tool\"\n    },\n    \"due_on\": {\n      \"type\": [\"string\", null],\n      \"format\": \"date\",\n      \"description\": \"Invoice due date provided in the context, set to null if not provided\"\n    },\n    \"details\": {\n      \"type\": [\"string\"],\n      \"description\": \"Short details of the invoice created.\"\n    }\n  },\n  \"required\": [\n    \"book_number\",\n    \"title\",\n    \"deal_number\",\n    \"deal_type\",\n    \"status\",\n    \"amount\",\n    \"currency\",\n    \"commissioned_collected\",\n    \"management_commission\",\n    \"management_commission_currency\",\n    \"legal_commissioned_collected\",\n    \"contact\",\n    \"customer_number\",\n    \"po_number\",\n    \"issued_on\",\n    \"due_on\",\n    \"details\"\n  ]\n}\n"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.2,
      "position": [
        -2584,
        340
      ],
      "id": "65f66080-a913-487c-8764-a3ec3ed5f4a1",
      "name": "Parser"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=instructions: {{ $('Trigger').item.json.ai_input }}\n\nrecommended changes: {{ $('Trigger').item.json.data.recommended_invoice_updates }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=You are Patchbay Invoice Updation Agent responsible for modifying existing invoices using structured instructions.\n\nYour responsibilities:\n\n1. Always invoke the PostgreSQL tool `RetrieveInvoice` with the provided `invoice_number` to fetch the current invoice record from the database.\n2. Analyze the retrieved invoice details against the provided `Instructions` to determine exactly which fields require updating.\n3. Construct a clean, minimal JSON payload that includes **only the fields whose values differ from the database record based on the instructions**. Do not include unchanged fields or nulls unless a field is being explicitly reset.\n\n---- INPUTS AVAILABLE TO YOU ----\n- `invoice_number`: Unique identifier for the invoice (used to fetch current data).\n- `Instructions`: The latest user instruction specifying what field(s) need to be updated.\n- `Metadata` (optional): Contextual information such as manager ID, client ID, or Book Number if relevant.\n\n---- OUTPUT FORMAT ----\nReturn the final JSON update payload as per the `UpdateInvoiceRequest` schema, strictly without any additional comments, explanations, or preambles. Example:\n\n{\n  \"title\": \"Updated Title\",\n  \"amount\": 1500.00\n}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.9,
      "position": [
        -4240,
        1196.25
      ],
      "id": "c80d7647-f815-4164-8780-877814c3a7ee",
      "name": "AI Agent",
      "retryOnFail": true
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n  \"type\": [\"object\", null],\n  \"description\": \"Update payload for an invoice. Only include fields that require updating. Omit fields that should remain unchanged. Do not provide nulls unless explicitly resetting a field. return null if no updation is needed.\",\n  \"properties\": {\n    \"status\": {\n      \"type\": [\"string\", \"null\"],\n      \"enum\": [\n        \"Paid\", \"Unpad\", \"Sent\"\n      ],\n      \"description\": \"Updated invoice status. Include only if status has changed.\"\n    },\n    \"amount\": {\n      \"type\": [\"number\", \"null\"],\n      \"description\": \"Updated invoice amount. Include only if the value is being changed.\"\n    },\n    \"commissioned_collected\": {\n      \"type\": [\"boolean\", \"null\"],\n      \"description\": \"Set this only if the commissioned collection status is being updated.\"\n    },\n    \"management_commission\": {\n      \"type\": [\"number\", \"null\"],\n      \"description\": \"Update this field only if the management commission amount is being changed.\"\n    },\n    \"management_commission_currency\": {\n      \"type\": [\"string\", \"null\"],\n      \"enum\": [\"EUR\", \"GBP\", \"USD\", \"CAD\", \"AUD\"],\n      \"description\": \"Currency of the management commission. Include if changed.\"\n    },\n    \"legal_commissioned_collected\": {\n      \"type\": [\"boolean\", \"null\"],\n      \"description\": \"Set this field only if legal commissioned collection status is being updated.\"\n    }\n  },\n  \"required\": [\"number\"]\n}\n"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.2,
      "position": [
        -4048,
        1611.25
      ],
      "id": "1ec68ce7-fdf1-4cf2-a287-e996e277470e",
      "name": "Parser1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "edbe88af-c3b5-405d-8125-984557fa1789",
              "leftValue": "={{ $json.output!==null }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -3780,
        1393.75
      ],
      "id": "86d77884-cbe9-4eff-9a21-ff05c3fb5a20",
      "name": "If1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "2111359a-e427-4309-959d-330b0684f2f9",
              "name": "message",
              "value": "=No changes detected for updating the invoice. Inform the manager and Call the tool: InvoiceFileRequest to get the latest invoice file and follow the instructions of that tool to inform the manager.",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -3560,
        1592.5
      ],
      "id": "73af3e5a-6fc6-4868-8f6c-27ef06fca97a",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "gpt-4o-mini"
        },
        "options": {
          "responseFormat": "json_object",
          "temperature": 0
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -4216,
        1611.25
      ],
      "id": "74c22b49-1f43-462e-89dd-8a9bce7addc6",
      "name": "Model1",
      "credentials": {
        "openAiApi": {
          "id": "mxdHDElSd4VQZiDt",
          "name": "OpenAi account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT * FROM invoices_invoice WHERE number = $1",
        "options": {
          "queryReplacement": "={{ $json.data.invoice_number }}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -4680,
        1592.5
      ],
      "id": "661ceeec-67a1-40bf-ac33-003aea34d5e6",
      "name": "Postgres6",
      "retryOnFail": true,
      "credentials": {
        "postgres": {
          "id": "wYLes21z9h3njdSn",
          "name": "postgress-prod"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserAutofixing",
      "typeVersion": 1,
      "position": [
        -2692,
        142.5
      ],
      "id": "9ed84a7e-3038-49b8-a908-9ccb8e7cb9da",
      "name": "Fix"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f36c5ff6-d53f-434e-9a6b-7ebe81047c99",
              "name": "message",
              "value": "=Invoice created successfully with below details;\n\nInvoice ID: {{ $('CreateInvoice').first().json.invoice_number }}\nTitle: {{ $('CreateInvoice').first().json.title }}\nInvoice Amount: {{ $('CreateInvoice').first().json.amount }}\nStatus: {{ $('CreateInvoice').first().json.status }}\nRecipient: {{ $('CreateInvoice').first().json.customer?.address?.name || \"Not Mentioned\" }}\nCurrency: {{ $('CreateInvoice').first().json.currency }}\nIssue_date: {{ $('CreateInvoice').first().json.issued_on }}\nDue_date: {{ $('CreateInvoice').first().json.due_on }}\n\nNext:\n- Set the next_task = send_file_to_user\n- Don't call any other tool.\n\nInform the manager about the invoice created and let him know to find the invoice file as attached. Also, ask, if he would like to email this file to someone?",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -4080,
        3480
      ],
      "id": "152669b2-107a-4326-91e1-f57bb426f33b",
      "name": "Edit Fields5"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "4547bf90-18fa-4d61-95ed-ab6b85127523",
              "name": "output.number",
              "value": "={{ $('Trigger').item.json.data.invoice_number }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -3560,
        1293.75
      ],
      "id": "e46a1f58-d921-4ea1-8882-23e3813c9ac4",
      "name": "UpdatePayload"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "3bd6ea95-7bc1-4589-bf96-9e863e87e14d",
              "name": "message",
              "value": "=Below updates were made to the invoice;\\n \nInvoice ID: {{ $('Update').first().json.invoice_number }}\n{{ $json.markdown }}\n\nNext, you must execute to tool: InvoiceFileRequest to get the updated invoice file and follow the instructions of that tool to inform the manager.",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -2096,
        1168.75
      ],
      "id": "dca9acf4-15a8-46e3-bfc5-c56a01be2eff",
      "name": "Edit Fields6"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT firebase_uid as x_acting_as_user FROM hub_user_hubuser WHERE number= $1",
        "options": {
          "queryReplacement": "={{ $('Input').first().json.data.user_id }}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -1876,
        45
      ],
      "id": "f5d81e2a-157d-4828-9430-eda1603ee514",
      "name": "firebaseId1",
      "credentials": {
        "postgres": {
          "id": "wYLes21z9h3njdSn",
          "name": "postgress-prod"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://hub-api-prod-649845453193.us-central1.run.app/api/v1/authentication/system-user/token",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-Key",
              "value": "=5dd3450f93dfb2415c97e282"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -2096,
        120
      ],
      "id": "bae8c45c-d3e3-49ef-af17-a48104f3c651",
      "name": "access_token",
      "retryOnFail": false,
      "credentials": {
        "googleApi": {
          "id": "Hue2Vve59bazs83Y",
          "name": "Google Service Account account 2"
        },
        "httpBearerAuth": {
          "id": "db2me6PVtNUH5oYv",
          "name": "Bearer Auth account"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://hub-api-prod-649845453193.us-central1.run.app/api/v1/authentication/system-user/token",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-Key",
              "value": "=5dd3450f93dfb2415c97e282"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -3340,
        1293.75
      ],
      "id": "322b0fce-f083-4437-af61-60d50a26c2da",
      "name": "access_token1",
      "retryOnFail": true,
      "credentials": {
        "googleApi": {
          "id": "Hue2Vve59bazs83Y",
          "name": "Google Service Account account 2"
        },
        "httpBearerAuth": {
          "id": "db2me6PVtNUH5oYv",
          "name": "Bearer Auth account"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT firebase_uid as x_acting_as_user FROM hub_user_hubuser WHERE number= $1",
        "options": {
          "queryReplacement": "={{ $('Trigger').item.json.data.user_id }}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -3120,
        1218.75
      ],
      "id": "3828a1d0-6be3-49aa-951f-b7af2228276e",
      "name": "firebaseId",
      "credentials": {
        "postgres": {
          "id": "wYLes21z9h3njdSn",
          "name": "postgress-prod"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "16461ce0-e9b9-4e0f-b827-b53a6cb9a326",
                    "leftValue": "={{ $json.invoice_recipient.route ==='register' }}",
                    "rightValue": "",
                    "operator": {
                      "type": "boolean",
                      "operation": "true",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "55e16791-8b8b-4cad-b168-d54be8dc7c2a",
                    "leftValue": "={{ $json.invoice_recipient.route ==='exists' }}",
                    "rightValue": "",
                    "operator": {
                      "type": "boolean",
                      "operation": "true",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.invoice_recipient.route ==='ask_manager' }}",
                    "rightValue": "",
                    "operator": {
                      "type": "boolean",
                      "operation": "true",
                      "singleValue": true
                    },
                    "id": "674a4b45-3662-47af-8741-10cc07c0aa60"
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {
          "fallbackOutput": 1
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -4460,
        295
      ],
      "id": "209c3d78-4f0b-4a25-99db-1674ccd969af",
      "name": "Switch1"
    },
    {
      "parameters": {
        "jsCode": "// 1) Safe reads\nconst metadata = $json?.data?.metadata ?? {};\nconst user_id = $json?.data?.user_id ?? \"\";\nconst mdIR = metadata?.invoice_metadata?.invoice_recipient ?? {};\nconst mdStatus = mdIR?.status ?? \"\";\nconst mdName = (mdIR?.name ?? \"\").trim();\nconst userInput = ($json?.data?.invoice_recipient ?? \"\").trim();\nconst thread =\n  $json?.data?.thread ??\n  $json?.data?.session_data?.ThreadId ??\n  \"\";\n\n// 2) Normalize invoice_recipient object + route\nlet invoice_recipient = {\n  status: \"\",   // exists | not_provided | missing | unknown\n  name: \"\",     // never hallucinated; empty string if unknown\n  source: \"\",   // metadata | user_input | none\n  route: \"\",    // use_existing | use_user_input | use_metadata_name | ask_manager | fallback\n};\n\n// CASE 1: metadata says it exists\nif (mdStatus === \"exists\") {\n  invoice_recipient = {\n    status: \"exists\",\n    name: mdName,\n    source: \"metadata\",\n    route: \"exists\",\n  };\n}\n// CASE 2: not_provided but user supplied input\nelse if (mdStatus === \"not_provided\" && userInput !== \"\") {\n  invoice_recipient = {\n    status: \"not_provided\",\n    name: userInput,\n    source: \"user_input\",\n    route: \"register\",\n  };\n}\n// CASE 3: missing in store, but metadata has a non-empty name\nelse if (mdStatus === \"missing\" && mdName !== \"\") {\n  invoice_recipient = {\n    status: \"missing\",\n    name: mdName,\n    source: \"metadata\",\n    route: \"register\",\n  };\n}\n// CASE 4: not_provided and no user input -> return METADATA ONLY\nelse if (mdStatus === \"not_provided\" && userInput === \"\") {\n  return [\n    {\n      json: {\n        metadata, // only metadata as requested\n        route: \"ask_manager\"\n      },\n    },\n  ];\n}\n// Fallback\nelse {\n  invoice_recipient = {\n    status: mdStatus || \"unknown\",\n    name: mdName || \"\",\n    source: mdStatus ? \"metadata\" : \"none\",\n    route: \"fallback\",\n  };\n}\n\n// 3) For Cases 1/2/3/fallback -> return thread + metadata + invoice_recipient\nreturn [\n  {\n    json: {\n      user_id,\n      thread,\n      metadata,\n      invoice_recipient,\n    },\n  },\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -4680,
        300
      ],
      "id": "18f7bb4d-57a2-40c8-95cb-2dd44153455f",
      "name": "Router"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "DI0OK2QjzXrFmcrM",
          "mode": "list",
          "cachedResultName": "InvoiceCustomer-V-1.0.3"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "action": "create",
            "data": "={{\n{\nuser_id:$('Input').first().json.data.user_id,\ninvoice_recipient: $json.invoice_recipient,\nmetadata: $('Input').first().json.data.metadata,\nthread: $('Input').first().json.data.thread\n}\n}}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "action",
              "displayName": "action",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "data",
              "displayName": "data",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        -3560,
        180
      ],
      "id": "c3ad3939-cc81-465a-a611-e957e22b5033",
      "name": "RegisterCustomer"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f36c5ff6-d53f-434e-9a6b-7ebe81047c99",
              "name": "message",
              "value": "=To proceed with creating an invoice, a valid invoice recipient is needed. Ask the manager to provide a valid invoice recipient details and set the next_task to \"create_invoice\"",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -4120,
        445
      ],
      "id": "f5a199fb-933f-4014-9f6a-c2b58678a777",
      "name": "Edit Fields7"
    },
    {
      "parameters": {
        "jsCode": "const base = $('Switch1').first().json;\nconst rec  = $input.first().json.invoice_recipient;\n\nconst updated = JSON.parse(JSON.stringify(base)); // deep clone\n\n// Ensure path exists\nupdated.metadata = updated.metadata ?? {};\nupdated.metadata.invoice_metadata = updated.metadata.invoice_metadata ?? {};\nupdated.metadata.invoice_metadata.invoice_recipient = {\n  status: \"exists\",\n  name: rec.name ?? \"\",\n  data: rec.data ?? {}\n};\ndelete updated.invoice_recipient\nreturn [{ json: updated }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -3340,
        45
      ],
      "id": "a8cdf35b-325e-4e41-80fd-94b54eb6d257",
      "name": "Code2"
    },
    {
      "parameters": {
        "name": "DateTime",
        "description": "Call this tool to provide current time.",
        "jsCode": "return new Date().toISOString()"
      },
      "type": "@n8n/n8n-nodes-langchain.toolCode",
      "typeVersion": 1.1,
      "position": [
        -2812,
        140
      ],
      "id": "b8ae3998-b3ec-40f3-9d0a-0582a6159246",
      "name": "Code Tool"
    },
    {
      "parameters": {
        "jsCode": "// Get routes safely\nconst routes = $json?.data?.routes ?? [];\n\n// Find the first route with route_by === \"by_invoice_id\"\nconst matchedRoute = routes.find(r => r.route_by === \"by_invoice_id\") || null;\n\n// Return result\nreturn [\n  {\n    json: {\n      route: matchedRoute\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -4680,
        2166.25
      ],
      "id": "7d8978b8-4eb9-45c9-8bf5-8d5d03231a2c",
      "name": "ByInvoiceId"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "757ce2c4-8561-4815-8386-699787b7d3e5",
              "leftValue": "={{ $json.invoices.length != 0 }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -3780,
        1991.25
      ],
      "id": "47926426-8281-48f7-9d67-7db59877820a",
      "name": "If3"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "5c5484d4-7a9b-4154-b35d-f35ba130478e",
              "leftValue": "={{ $json.route!=null }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -4460,
        2166.25
      ],
      "id": "3e62beb2-da2f-4a0c-a461-0ab47154fc55",
      "name": "If4"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "5c5484d4-7a9b-4154-b35d-f35ba130478e",
              "leftValue": "={{ $json.route!=null }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -3340,
        2266.25
      ],
      "id": "430aaff8-de0c-4b37-a121-041f89ecfc4c",
      "name": "If5"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "757ce2c4-8561-4815-8386-699787b7d3e5",
              "leftValue": "={{ $json.invoices.length != 0 }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -2718,
        1842.5
      ],
      "id": "0c4583cb-d53f-4f72-9e66-ee1db06b0a24",
      "name": "If6"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "5c5484d4-7a9b-4154-b35d-f35ba130478e",
              "leftValue": "={{ $json.route!=null }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -2096,
        2366.25
      ],
      "id": "df4395fa-5835-4dc8-9eec-a11fe287eafa",
      "name": "If7"
    },
    {
      "parameters": {
        "jsCode": "// Get routes safely\nconst routes = $(\"Switch\").first().json?.data?.routes ?? [];\n\n// Find the first route with route_by === \"by_invoice_id\"\nconst matchedRoute = routes.find(r => r.route_by === \"by_amount_only\") || null;\n\n// Return result\nreturn [\n  {\n    json: {\n      route: matchedRoute\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1436,
        2466.25
      ],
      "id": "a5611fdf-30de-47f5-964d-c1c147638115",
      "name": "ByAmount"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "c40961bf-6c6e-4d49-9479-eccaaa923faa",
              "name": "invoices",
              "value": "={{ $json.invoices?? [] }}",
              "type": "array"
            },
            {
              "id": "e560ccd1-2cf8-4fbf-8b1a-3a2bea01ce0d",
              "name": "route_by",
              "value": "={{ $('ByInvoiceId').first().json.route.route_by }}",
              "type": "string"
            },
            {
              "id": "48020a1b-789f-4b3c-8099-b2769ee88703",
              "name": "=invoice_next_step",
              "value": "={{ $('ByInvoiceId').first().json.route.next_step }}",
              "type": "string"
            },
            {
              "id": "dcbf256a-ea6d-432c-8986-72fec89726f7",
              "name": "status",
              "value": true,
              "type": "boolean"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -3560,
        1792.5
      ],
      "id": "f1b31fad-935a-4c1b-b4b9-4e837749cc6a",
      "name": "InvoiceOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "5c5484d4-7a9b-4154-b35d-f35ba130478e",
              "leftValue": "={{ $json.route!=null }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -1216,
        2466.25
      ],
      "id": "d30c059b-e3e1-4bfd-9e19-8b5e05d3ed3f",
      "name": "If8"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "757ce2c4-8561-4815-8386-699787b7d3e5",
              "leftValue": "={{ $json.invoices.length != 0 }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -1656,
        1417.5
      ],
      "id": "a9da8513-8ecb-43b4-b320-521b3e513def",
      "name": "If9"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "c40961bf-6c6e-4d49-9479-eccaaa923faa",
              "name": "invoices",
              "value": "={{ $json.invoices?? [] }}",
              "type": "array"
            },
            {
              "id": "e560ccd1-2cf8-4fbf-8b1a-3a2bea01ce0d",
              "name": "route_by",
              "value": "={{ $('ByRecAndAmount').first().json.route.route_by }}",
              "type": "string"
            },
            {
              "id": "e58469f7-ceab-460f-8184-090ae925a99c",
              "name": "status",
              "value": true,
              "type": "boolean"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -2316,
        1792.5
      ],
      "id": "452d3d62-ef30-4b19-8606-67291cbda584",
      "name": "InvoiceOutput1"
    },
    {
      "parameters": {
        "jsCode": "// Get routes safely\nconst routes = $(\"Switch\").first().json?.data?.routes ?? [];\n\n// Find the first route with route_by === \"by_invoice_id\"\nconst matchedRoute = routes.find(r => r.route_by === \"by_recipient_with_amount\") || null;\n\n// Return result\nreturn [\n  {\n    json: {\n      route: matchedRoute\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -3560,
        2266.25
      ],
      "id": "29e0c29e-5b85-49e7-8dac-e823d541fdb4",
      "name": "ByRecAndAmount"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT\n  COALESCE(\n    (\n      SELECT jsonb_agg(\n               jsonb_build_object(\n                'invoice_id', i.invoice_number,\n                'invoice_number', i.number,\n                'title', i.title,\n                'details', i.details,\n                'invoice_amount', i.amount,\n                'invoice_status', i.status,\n                'book_id', i.book_id\n               )\n               ORDER BY i.created_at DESC\n             )\n      FROM (\n        SELECT *\n        FROM invoices_invoice i\n        WHERE i.book_id = $1\n          AND i.invoice_number = $2\n        ORDER BY i.created_at DESC\n        LIMIT 3\n      ) i\n    ),\n    '[]'::jsonb\n  ) AS invoices;\n",
        "options": {
          "queryReplacement": "={{ $json.route.book_id }}, {{ $json.route.invoice_id }}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -4120,
        2091.25
      ],
      "id": "dac61d4a-80b5-4947-b7b5-7edefcd8c3bb",
      "name": "GetInvoices",
      "retryOnFail": true,
      "executeOnce": true,
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "wYLes21z9h3njdSn",
          "name": "postgress-prod"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT\n  COALESCE(\n    (\n      SELECT jsonb_agg(\n               jsonb_build_object(\n                 'invoice_id', i.invoice_number,\n                 'invoice_number', i.number,\n                 'title', i.title,\n                 'details', i.details,\n                 'invoice_amount', i.amount,\n                 'invoice_status', i.status,\n                 'invoice_customer_id', i.customer_id,\n                 'invoice_recipient', $4   -- still supplied by caller\n               )\n             )\n      FROM (\n        SELECT i.*\n        FROM invoices_invoice i\n        JOIN invoices_invoiceclient ic\n          ON ic.id = i.customer_id\n        WHERE i.amount = $1          -- amount\n          AND ic.number = $2         -- customer number\n          AND i.book_id = $3         -- scope by book\n        ORDER BY i.created_at DESC\n        LIMIT 3\n      ) i\n    ),\n    '[]'::jsonb\n  ) AS invoices;\n",
        "options": {
          "queryReplacement": "={{ $json.route.amount }}, {{ $json.route.recipient_number }}, {{ $json.route.book_id }}, {{ $json.route.recipient_name }}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -3120,
        1942.5
      ],
      "id": "6fc1d800-62ea-4ccb-8d34-75736807664b",
      "name": "GetInvoices1",
      "retryOnFail": true,
      "executeOnce": true,
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "wYLes21z9h3njdSn",
          "name": "postgress-prod"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT\n  COALESCE(\n    (\n      SELECT jsonb_agg(\n               jsonb_build_object(\n                 'invoice_id', i.invoice_number,\n                 'invoice_number', i.number,\n                 'title', i.title,\n                 'details', i.details,\n                 'invoice_amount', i.amount,\n                 'invoice_status', i.status,\n                 'invoice_customer_id', i.customer_id,\n                 'invoice_recipient', $3   -- still supplied by caller\n               )\n               ORDER BY i.created_at DESC\n             )\n      FROM (\n        SELECT *\n        FROM invoices_invoice\n        WHERE book_id = $2\n          AND customer_id = (\n            SELECT ic.id\n            FROM invoices_invoiceclient ic\n            WHERE ic.number = $1\n          )\n        ORDER BY created_at DESC\n        LIMIT 3\n      ) i\n    ),\n    '[]'::jsonb\n  ) AS invoices;\n",
        "options": {
          "queryReplacement": "={{ $json.route.recipient_number }}, {{ $json.route.book_id }}, {{ $json.route.recipient_name }}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -1876,
        1542.5
      ],
      "id": "3374ef80-8129-4fad-a871-1cd9dc7346b6",
      "name": "GetInvoices2",
      "retryOnFail": true,
      "executeOnce": true,
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "wYLes21z9h3njdSn",
          "name": "postgress-prod"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT\n  COALESCE(\n    (\n      SELECT jsonb_agg(t)\n      FROM (\n        SELECT jsonb_build_object(\n                 'invoice_id', i.invoice_number,\n                 'invoice_number', i.number,\n                 'title', i.title,\n                 'details', i.details,\n                 'invoice_amount', i.amount,\n                 'invoice_status', i.status,\n                 'book_id', i.book_id,\n                 'invoice_customer_id', i.customer_id\n               ) AS t\n        FROM invoices_invoice i\n        WHERE i.amount = $1\n          AND i.book_id = $2\n        ORDER BY i.created_at DESC\n        LIMIT 3\n      ) sub\n    ),\n    '[]'::jsonb\n  ) AS invoices;\n",
        "options": {
          "queryReplacement": "={{ $json.route.amount }}, {{ $json.route.book_id }}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -996,
        1267.5
      ],
      "id": "68aaa48c-9fe3-498b-a9cd-7d3dc201724e",
      "name": "GetInvoices3",
      "retryOnFail": true,
      "executeOnce": true,
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "wYLes21z9h3njdSn",
          "name": "postgress-prod"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "c40961bf-6c6e-4d49-9479-eccaaa923faa",
              "name": "invoices",
              "value": "={{ $json.invoices?? [] }}",
              "type": "array"
            },
            {
              "id": "e560ccd1-2cf8-4fbf-8b1a-3a2bea01ce0d",
              "name": "route_by",
              "value": "={{ $('ByRecipient').first().json.route.route_by }}",
              "type": "string"
            },
            {
              "id": "4d77d828-2b50-4534-b015-8c5eac22dc4a",
              "name": "status",
              "value": true,
              "type": "boolean"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1436,
        1367.5
      ],
      "id": "65296a42-b6d9-43c7-9e01-ed4b094b7443",
      "name": "InvoiceOutput2"
    },
    {
      "parameters": {
        "jsCode": "// Get routes safely\nconst routes = $(\"Switch\").first().json?.data?.routes ?? [];\n\n// Find the first route with route_by === \"by_invoice_id\"\nconst matchedRoute = routes.find(r => r.route_by === \"by_recipient_no_amount\") || null;\n\n// Return result\nreturn [\n  {\n    json: {\n      route: matchedRoute\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2316,
        2366.25
      ],
      "id": "c045a7cb-be65-45c5-a57e-43e489a47ca0",
      "name": "ByRecipient"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "c40961bf-6c6e-4d49-9479-eccaaa923faa",
              "name": "invoices",
              "value": "={{ $json.invoices?? [] }}",
              "type": "array"
            },
            {
              "id": "e560ccd1-2cf8-4fbf-8b1a-3a2bea01ce0d",
              "name": "route_by",
              "value": "={{ $('ByAmount').first().json.route.route_by }}",
              "type": "string"
            },
            {
              "id": "7475bba3-5526-42fa-920c-66eea607fc17",
              "name": "status",
              "value": true,
              "type": "boolean"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -776,
        2566.25
      ],
      "id": "043d5d9c-6d94-460c-8acd-f6c99724bb0d",
      "name": "InvoiceOutput3"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "162a3fa5-af95-4298-aee0-c7da07a90bae",
              "name": "status",
              "value": false,
              "type": "boolean"
            },
            {
              "id": "bb557265-4bfd-4fcd-b122-4202d7575eaf",
              "name": "message",
              "value": "Failed due to technical reasons",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -3780,
        2191.25
      ],
      "id": "25dbee61-6fb6-49c9-aae9-5965e2a8097e",
      "name": "Error"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "162a3fa5-af95-4298-aee0-c7da07a90bae",
              "name": "status",
              "value": false,
              "type": "boolean"
            },
            {
              "id": "bb557265-4bfd-4fcd-b122-4202d7575eaf",
              "name": "message",
              "value": "Failed due to technical reasons",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -2718,
        2042.5
      ],
      "id": "68cb9ba6-5f69-48e5-9d9f-3016d12eab57",
      "name": "Error1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "162a3fa5-af95-4298-aee0-c7da07a90bae",
              "name": "status",
              "value": false,
              "type": "boolean"
            },
            {
              "id": "bb557265-4bfd-4fcd-b122-4202d7575eaf",
              "name": "message",
              "value": "Failed due to technical reasons",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1656,
        1642.5
      ],
      "id": "cafae9cc-0ee5-4a75-be67-58dea3eb0ecc",
      "name": "Error2"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "162a3fa5-af95-4298-aee0-c7da07a90bae",
              "name": "status",
              "value": false,
              "type": "boolean"
            },
            {
              "id": "bb557265-4bfd-4fcd-b122-4202d7575eaf",
              "name": "message",
              "value": "Failed due to technical reasons",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -776,
        1217.5
      ],
      "id": "3c1e7468-2080-4ee6-b0f8-a724b002ec21",
      "name": "Error3"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserAutofixing",
      "typeVersion": 1,
      "position": [
        -4156,
        1416.25
      ],
      "id": "0ab6b9f8-987a-4329-8b5e-fc28fdb6c55e",
      "name": "Auto-fixing Output Parser"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "2111359a-e427-4309-959d-330b0684f2f9",
              "name": "message",
              "value": "=Encountered some technical issue while creating the invoice. Excuse to the usre. Ask the manager to retry after some time and set the next_task = 'no_action'.",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -2316,
        1567.5
      ],
      "id": "f1fdaa97-6211-4c9f-9401-28cf61789a79",
      "name": "Edit Fields8"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "f5ef10ea-156d-417f-bb44-a161c486a098",
              "leftValue": "={{ $json.status!=\"Paid\" }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -4460,
        1592.5
      ],
      "id": "8bbebaa9-972b-45aa-8a08-5d99b5aee6a8",
      "name": "If"
    },
    {
      "parameters": {
        "operation": "delete",
        "key": "=user_session_{{ $('Trigger').first().json.data.ThreadId+$('Trigger').first().json.data.user_id }}"
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        -4120,
        1791.25
      ],
      "id": "f6b85851-9b41-47ed-b152-9d546424babc",
      "name": "ResetSubsession2",
      "executeOnce": false,
      "retryOnFail": true,
      "credentials": {
        "redis": {
          "id": "ujdbLpmKXmUC4bPj",
          "name": "Redis account 2"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "2111359a-e427-4309-959d-330b0684f2f9",
              "name": "message",
              "value": "=The invoice status is already Paid and cannot be processed further. Inform the manager about it. If the Manager hase requested invoice file specifically, next call the tool 'InvoiceFileRequest' to generate and send the invoice file.",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -3780,
        1791.25
      ],
      "id": "8c01afbe-5bea-4cb5-99db-133bdf0a0042",
      "name": "Edit Fields9"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT firebase_uid as x_acting_as_user FROM hub_user_hubuser WHERE number= $1",
        "options": {
          "queryReplacement": "={{ $('Input').item.json.data.user_id }}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -4460,
        820
      ],
      "id": "3cbc2e5a-9a42-4a29-8bc3-b08c28b62730",
      "name": "firebaseId2",
      "retryOnFail": true,
      "credentials": {
        "postgres": {
          "id": "wYLes21z9h3njdSn",
          "name": "postgress-prod"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://hub-api-prod-649845453193.us-central1.run.app/api/v1/authentication/system-user/token",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-Key",
              "value": "=5dd3450f93dfb2415c97e282"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -4680,
        895
      ],
      "id": "4a3ae085-bd32-4901-8ffa-ce7b1cd41819",
      "name": "access_token2",
      "retryOnFail": true,
      "executeOnce": false,
      "credentials": {
        "googleApi": {
          "id": "Hue2Vve59bazs83Y",
          "name": "Google Service Account account 2"
        },
        "httpBearerAuth": {
          "id": "db2me6PVtNUH5oYv",
          "name": "Bearer Auth account"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "jsCode": "// Get the metadata object from Trigger node\nconst metadata = $('Input').item.json.data.metadata;\n\n// Clone to avoid mutating directly (optional)\nlet updatedMetadata = { ...metadata };\n\n// Ensure invoice_metadata exists\nif (!updatedMetadata.invoice_metadata) {\n  updatedMetadata.invoice_metadata = {};\n}\n\n// Add / update pdf_invoice_content\nupdatedMetadata.invoice_metadata.pdf_invoice_content = $input.first().binary.invoice.data;\n\n// Return updated object\nreturn [\n  {\n    json: {\n        user_session: updatedMetadata,\n    },\n  },\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2320,
        700
      ],
      "id": "fbf10845-5af7-4c01-b73c-72ec57f88976",
      "name": "Code"
    },
    {
      "parameters": {
        "operation": "set",
        "key": "=user_session_{{ $('Input').first().json.data.ThreadId+$('Trigger').first().json.data.user_id }}",
        "value": "={{ $json.user_session.toJsonString() }}",
        "expire": true,
        "ttl": "={{ 60 * 60 * 24 * 30 }}"
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        -2100,
        700
      ],
      "id": "5b627f21-edc7-4fda-b621-7557b3e81e3a",
      "name": "UpdateSesssion5",
      "retryOnFail": true,
      "credentials": {
        "redis": {
          "id": "ujdbLpmKXmUC4bPj",
          "name": "Redis account 2"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "28d9ee30-04e5-43d5-b29a-38211df99b7c",
              "name": "message",
              "value": "The feature to send files as email to recipients is not build yet.",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -4580,
        1180
      ],
      "id": "58557ad7-ce52-4cdb-8822-a2a94dda9ec8",
      "name": "Edit Fields11"
    },
    {
      "parameters": {
        "url": "=https://hub-api-prod-649845453193.us-central1.run.app/api/v1/invoices/{{ $('Trigger').item.json.data.metadata.invoice_metadata.invoice_number }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{$('access_token2').item.json.access_token.trim() }}"
            },
            {
              "name": "X-Acting-As-User",
              "value": "={{ $json.x_acting_as_user }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -4120,
        770
      ],
      "id": "400a9b16-8394-4701-80ee-a37d6c99c4d7",
      "name": "Get Invoice",
      "retryOnFail": true,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "28d9ee30-04e5-43d5-b29a-38211df99b7c",
              "name": "message",
              "value": "=Encountered a technical issue to retrieve the invoice file. Inform the manager that Patchbay technical support team will reach out to him soon. set next_task = no_action.",
              "type": "string"
            },
            {
              "id": "db9c080a-7efd-44a2-892f-f3299cd0d62a",
              "name": "status",
              "value": false,
              "type": "boolean"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -4120,
        995
      ],
      "id": "ba3c49a8-3d2b-454f-8057-cacc9f8296c9",
      "name": "OnError"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "28d9ee30-04e5-43d5-b29a-38211df99b7c",
              "name": "message",
              "value": "=Encountered a technical issue to retrieve the invoice file.",
              "type": "string"
            },
            {
              "id": "58a4d5a7-cdce-4bb5-bd3b-31448e733d16",
              "name": "status",
              "value": false,
              "type": "boolean"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1880,
        900
      ],
      "id": "7eef0f37-6b20-4730-8ae1-e4086a3d635e",
      "name": "OnError1"
    },
    {
      "parameters": {
        "jsCode": "// Get the AI Agent output\nconst aiAgentOutput = $('AI Agent').item.json.output;\n\n// Parse if string, otherwise use as-is\nconst data = typeof aiAgentOutput === 'string' ? JSON.parse(aiAgentOutput) : aiAgentOutput;\n\n// Convert to markdown format\nfunction toMarkdownString(obj, prefix = '') {\n    let result = '';\n    \n    if (obj === null || obj === undefined) {\n        return `${prefix}: null\\n`;\n    }\n    \n    if (Array.isArray(obj)) {\n        if (obj.length === 0) {\n            return `${prefix}: []\\n`;\n        }\n        obj.forEach((item, index) => {\n            const newPrefix = prefix ? `${prefix}[${index}]` : `[${index}]`;\n            if (typeof item === 'object' && item !== null) {\n                result += toMarkdownString(item, newPrefix);\n            } else {\n                result += `${newPrefix}: ${String(item)}\\n`;\n            }\n        });\n        return result;\n    }\n    \n    if (typeof obj === 'object') {\n        const entries = Object.entries(obj);\n        if (entries.length === 0) {\n            return `${prefix}: {}\\n`;\n        }\n        \n        entries.forEach(([key, value]) => {\n            const newPrefix = prefix ? `${prefix}.${key}` : key;\n            \n            if (value === null || value === undefined) {\n                result += `${newPrefix}: null\\n`;\n            } else if (Array.isArray(value)) {\n                if (value.length === 0) {\n                    result += `${newPrefix}: []\\n`;\n                } else {\n                    value.forEach((item, index) => {\n                        const arrayPrefix = `${newPrefix}[${index}]`;\n                        if (typeof item === 'object' && item !== null) {\n                            result += toMarkdownString(item, arrayPrefix);\n                        } else {\n                            result += `${arrayPrefix}: ${String(item)}\\n`;\n                        }\n                    });\n                }\n            } else if (typeof value === 'object') {\n                result += toMarkdownString(value, newPrefix);\n            } else {\n                result += `${newPrefix}: ${String(value)}\\n`;\n            }\n        });\n        return result;\n    }\n    \n    return `${prefix}: ${String(obj)}\\n`;\n}\n\n// Generate markdown\nconst markdown = toMarkdownString(data);\n\n// Return for next node\nreturn {\n    markdown: markdown\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2316,
        1168.75
      ],
      "id": "e79394fb-f3bd-42ac-9474-eaeb441e051f",
      "name": "Code1"
    },
    {
      "parameters": {
        "jsCode": "// Get the metadata object from Trigger node\nconst metadata = $('Trigger').item.json.data.metadata;\n\n// Clone to avoid mutating directly\nlet updatedMetadata = { ...metadata };\n\nlet invoice_created = $(\"CreateInvoice\").first().json;\n\n// Check if input has pdf\nconst inputData = $input.first().json;\n\n// Ensure invoice_metadata exists\nif (!updatedMetadata.invoice_metadata) {\n  updatedMetadata.invoice_metadata = {};\n}\n\n// Add / update properties\nupdatedMetadata.invoice_metadata.exists = true;\nupdatedMetadata.invoice_metadata.invoice_number = invoice_created.number;\nupdatedMetadata.invoice_metadata.invoice_id = invoice_created.invoice_number; // Check if this should be invoice_created.id instead\nupdatedMetadata.invoice_metadata.pdf_invoice_content = inputData.pdf;\n\n// Return updated object\nreturn [\n  {\n    json: {\n        user_session: updatedMetadata,\n    },\n  },\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -4520,
        3480
      ],
      "id": "be6be162-6a26-4289-85d6-c6c025646e94",
      "name": "Code3"
    },
    {
      "parameters": {
        "operation": "set",
        "key": "=user_session_{{ $('Trigger').first().json.data.ThreadId+$('Trigger').first().json.data.user_id }}",
        "value": "={{ $json.user_session.toJsonString() }}",
        "expire": true,
        "ttl": "={{ 60 * 60 * 24 * 30 }}"
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        -4300,
        3480
      ],
      "id": "60de11f9-7362-4e1d-bbd4-f34d3fed5e77",
      "name": "UpdateSesssion",
      "retryOnFail": true,
      "credentials": {
        "redis": {
          "id": "ujdbLpmKXmUC4bPj",
          "name": "Redis account 2"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "url": "=https://hub-api-prod-649845453193.us-central1.run.app/api/v1/clients/{{ $json.book_number }}/bankingInfo",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{$('access_token').item.json.access_token.trim() }}"
            },
            {
              "name": "X-Acting-As-User",
              "value": "={{ $('firebaseId1').item.json.x_acting_as_user }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -5400,
        3580
      ],
      "id": "4d32cc1e-e625-4e35-9291-38da9f79d1e6",
      "name": "Get BankingInfo1",
      "retryOnFail": true,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "b00acd7e-e92b-426b-87ac-7094b10a28c4",
              "name": "invoice_details",
              "value": "={{ $('CreateInvoice').item.json }}",
              "type": "object"
            },
            {
              "id": "16c4155a-b4b3-412d-8f9a-75e9b0ce0194",
              "name": "bill_from",
              "value": "={{ $json }}",
              "type": "object"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -5180,
        3580
      ],
      "id": "bdc81ff9-1030-496e-b5b9-4bde75c7f48e",
      "name": "Combine1"
    },
    {
      "parameters": {
        "jsCode": "// n8n Code node (JavaScript)\n// Transforms your input array into InvoicePDFRequest objects for the /generate-invoice-pdf API\n\nconst items = $input.all();\n\n// === Configure these or map them from previous nodes ===\nconst CONFIG = {\n  // Default values - these will be overridden by actual data from input\n  routing_number: '021000021',          // Fallback if not in data\n  account_number: '1234567890',         // Fallback if not in data\n  // Optional cosmetics\n  details_title: null,\n  invoice_code: null,                    // e.g., \"PB\" -> \"Invoice PB-0029\"\n};\n\n// --- Helpers ---\nconst isNonEmptyStr = v => typeof v === 'string' && v.trim().length > 0;\nconst safeStr = (v, fb = '') => (isNonEmptyStr(v) ? String(v).trim() : fb);\nconst toISOorNull = (v) => {\n  if (!v) return null;\n  try {\n    const d = new Date(v);\n    if (!isNaN(d.getTime())) return d.toISOString();\n  } catch {}\n  return null;\n};\nconst uniq = (arr) => Array.from(new Set(arr.filter(Boolean)));\n\nconst buildDescription = ({ inv, deal, amount, currency }) => {\n  // Use the details from invoice if available\n  if (safeStr(inv?.details)) {\n    return inv.details;\n  }\n  \n  // Build fallback description\n  const clientName = safeStr(deal?.client?.name);\n  const counterpartyName = safeStr(deal?.counterparty?.name);\n  const dealType = safeStr(deal?.type);\n  const masters = Array.isArray(deal?.masters) ? deal.masters : [];\n  const masterNames = uniq(masters.map(m => safeStr(m?.name))).join(', ');\n  \n  let description = `Invoice for ${dealType || 'music'} deal`;\n  if (clientName || counterpartyName) {\n    description += ` between ${clientName || 'Client'} and ${counterpartyName || 'Counterparty'}`;\n  }\n  if (masterNames) {\n    description += ` for: ${masterNames}`;\n  }\n  description += `. Amount: ${currency} ${amount}.`;\n  \n  return description;\n};\n\nconst buildLineItems = ({ inv, deal }) => {\n  // Use invoice line_items if provided\n  if (Array.isArray(inv?.line_items) && inv.line_items.length > 0) {\n    return inv.line_items.map(li => ({\n      name: safeStr(li?.name) || '',\n      service: safeStr(li?.service) || '',\n    }));\n  }\n  \n  // Fallback: create line items from masters\n  const masters = Array.isArray(deal?.masters) ? deal.masters : [];\n  if (masters.length === 0) {\n    return [{\n      name: safeStr(deal?.type) || 'Service',\n      service: `${safeStr(deal?.client?.name)} - ${safeStr(deal?.counterparty?.name)}`,\n    }];\n  }\n  \n  return masters.map(m => ({\n    name: safeStr(m?.name) || 'Track',\n    service: `${safeStr(deal?.type)} deal - ${safeStr(deal?.client?.name)} & ${safeStr(deal?.counterparty?.name)}`,\n  }));\n};\n\nconst buildBillFrom = (billFromData) => {\n  if (!billFromData?.address) return null;\n  \n  const addr = billFromData.address;\n  return {\n    name: safeStr(addr.name),\n    address_line_1: safeStr(addr.address_line_1),\n    address_line_2: safeStr(addr.address_line_2),\n    city: safeStr(addr.city),\n    state: safeStr(addr.state),\n    postal_code: safeStr(addr.postal_code),\n    country: safeStr(addr.country),\n  };\n};\n\nconst buildBillTo = (billToData, deal, inv) => {\n  // Try to build from bill_to data first\n  if (billToData?.address) {\n    const addr = billToData.address;\n    const customer = {\n      address: {\n        name: safeStr(addr.name),\n        address_line_1: safeStr(addr.address_line_1),\n        address_line_2: safeStr(addr.address_line_2),\n        city: safeStr(addr.city),\n        state: safeStr(addr.state),\n        postal_code: safeStr(addr.postal_code),\n        country: safeStr(addr.country),\n      }\n    };\n    \n    // Add bank address if present\n    if (billToData.bank_address) {\n      const bankAddr = billToData.bank_address;\n      customer.bank_address = {\n        name: safeStr(bankAddr.name),\n        address_line_1: safeStr(bankAddr.address_line_1),\n        address_line_2: safeStr(bankAddr.address_line_2),\n        city: safeStr(bankAddr.city),\n        state: safeStr(bankAddr.state),\n        postal_code: safeStr(bankAddr.postal_code),\n        country: safeStr(bankAddr.country),\n      };\n    }\n    \n    return customer;\n  }\n  \n  // Fallback: use existing customer data from invoice\n  if (inv?.customer?.address) {\n    const customer = {\n      address: {\n        name: safeStr(inv.customer.address.name),\n        address_line_1: safeStr(inv.customer.address.address_line_1),\n        address_line_2: safeStr(inv.customer.address.address_line_2),\n        city: safeStr(inv.customer.address.city),\n        state: safeStr(inv.customer.address.state),\n        postal_code: safeStr(inv.customer.address.postal_code),\n        country: safeStr(inv.customer.address.country),\n      }\n    };\n    \n    if (inv.customer.bank_address) {\n      customer.bank_address = {\n        name: safeStr(inv.customer.bank_address.name),\n        address_line_1: safeStr(inv.customer.bank_address.address_line_1),\n        address_line_2: safeStr(inv.customer.bank_address.address_line_2),\n        city: safeStr(inv.customer.bank_address.city),\n        state: safeStr(inv.customer.bank_address.state),\n        postal_code: safeStr(inv.customer.bank_address.postal_code),\n        country: safeStr(inv.customer.bank_address.country),\n      };\n    }\n    \n    return customer;\n  }\n  \n  // Final fallback: create minimal \"Bill To\" from deal participants\n  // In music deals, typically the counterparty (artist) pays the client (producer)\n  const billToName = safeStr(deal?.counterparty?.name) || safeStr(deal?.client?.name) || '';\n  \n  if (billToName) {\n    return {\n      address: {\n        name: billToName,\n        address_line_1: '',\n        address_line_2: '',\n        city: '',\n        state: '',\n        postal_code: '',\n        country: '',\n      }\n    };\n  }\n  \n  return null;\n};\n\nconst buildTitle = (inv, deal) => {\n  if (safeStr(inv?.title)) {\n    return inv.title;\n  }\n  \n  const invoiceNum = safeStr(inv?.invoice_number) || safeStr(inv?.number);\n  const dealType = safeStr(deal?.type);\n  const masterNames = Array.isArray(deal?.masters) ? \n    deal.masters.map(m => safeStr(m?.name)).filter(Boolean).join(', ') : '';\n  \n  let title = 'Invoice';\n  if (invoiceNum) title += ` ${invoiceNum}`;\n  if (dealType) title += ` - ${dealType} Deal`;\n  if (masterNames) title += ` - ${masterNames}`;\n  \n  return title;\n};\n\nconst buildInvoiceNumber = (inv) => {\n  return safeStr(inv?.invoice_number) || safeStr(inv?.number) || 'UNKNOWN';\n};\n\nconst buildAmountCurrency = (inv, deal) => {\n  // Use invoice amount first, then deal fee_amount\n  const amount = (inv?.amount != null) ? Number(inv.amount) :\n                 (deal?.fee_amount != null) ? Number(deal.fee_amount) : 0;\n  const currency = safeStr(inv?.currency) || safeStr(deal?.fee_currency) || 'USD';\n  return { amount, currency };\n};\n\nconst out = items.map(({ json }) => {\n  const inv = json?.invoice_details ?? json;\n  const deal = inv?.deal ?? {};\n  const billFromData = json?.bill_from ?? {};\n  const billToData = json?.bill_to ?? {};\n\n  const invoice_number = buildInvoiceNumber(inv);\n  const { amount, currency } = buildAmountCurrency(inv, deal);\n  const title = buildTitle(inv, deal);\n  const details = buildDescription({ inv, deal, amount, currency });\n  const line_items = buildLineItems({ inv, deal });\n\n  // Build Bill To (customer who needs to pay)\n  const customer = buildBillTo(billToData, deal, inv);\n  \n  // Build Bill From (the invoice issuer)\n  const bill_from = buildBillFrom(billFromData);\n  \n  // Get banking details from bill_from data\n  const routing_number = safeStr(billFromData?.routing_number, CONFIG.routing_number);\n  const account_number = safeStr(billFromData?.account_number, CONFIG.account_number);\n\n  const issued_on = toISOorNull(inv?.issued_on);\n  const due_on = toISOorNull(inv?.due_on);\n  const po_number = safeStr(inv?.po_number) || null;\n  const contact = safeStr(inv?.contact) || null;\n\n  const requestBody = {\n    invoice: {\n      invoice_number,\n      title,\n      customer: customer ?? null,\n      issued_on,\n      due_on,\n      po_number,\n      details,\n      line_items,\n      amount,\n      currency,\n      contact,\n    },\n    routing_number,\n    account_number,\n    bill_from: bill_from ?? null,\n    details_title: CONFIG.details_title,\n    invoice_code: CONFIG.invoice_code,\n  };\n\n  return { json: requestBody };\n});\n\nreturn out;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -4960,
        3580
      ],
      "id": "585f1af7-c70c-4dad-9020-63871b468d1c",
      "name": "Format1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://2d6df139ca6b.ngrok-free.app/generate-invoice-pdf",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -4740,
        3580
      ],
      "id": "7ebd417b-bf44-4534-8274-f92854f79e82",
      "name": "Pdf-Request1",
      "retryOnFail": true,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://hub-api-prod-649845453193.us-central1.run.app/api/v1/invoices",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{$('access_token').item.json.access_token.trim() }}"
            },
            {
              "name": "X-Acting-As-User",
              "value": "={{ $json.x_acting_as_user }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $('invoice_payload').first().json.output }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1656,
        45
      ],
      "id": "feddbeb8-8ed5-410f-9b12-57bc9e77bb8a",
      "name": "CreateInvoice",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "3bd6ea95-7bc1-4589-bf96-9e863e87e14d",
              "name": "message",
              "value": "=The invoice creation failed due to technical issues. Inform the manager about the issue and that a Patchbay representative will reach out to him soon.",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1160,
        340
      ],
      "id": "93ed6c78-91ae-4db8-b3fb-618b5b6ed2b6",
      "name": "OnFailure"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "DI0OK2QjzXrFmcrM",
          "mode": "list",
          "cachedResultName": "InvoiceCustomer-V-1.0.3"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "action": "retrieve",
            "data": "={{  \n{\n\"invoice_recipient\": $json.invoice_recipient.name ?? \"\", \"threshold\": 0.05,\nbook_number: $json.metadata.person_verification.book_number\n}\n}}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "action",
              "displayName": "action",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "data",
              "displayName": "data",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        -4120,
        45
      ],
      "id": "5beb8f95-ec27-4179-b7a6-08ec3f854f7d",
      "name": "InvoiceRecipient1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "d788525e-ebda-43f4-b7af-93b4cfd9eb08",
              "leftValue": "={{ $json.invoice_recipient.status }}",
              "rightValue": "exists",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -3780,
        45
      ],
      "id": "2e7eb7e8-8518-4182-92f0-76365b5a3b05",
      "name": "If2"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "c8ce596d-8435-4fbd-ab81-a988d92acfc5",
              "name": "invoice_recipient.status",
              "value": "={{ $json.invoice_recipient.status }}",
              "type": "string"
            },
            {
              "id": "80da6f4c-5a53-49a9-83db-02ed91616074",
              "name": "invoice_recipient.name",
              "value": "={{ $json.invoice_recipient.name }}",
              "type": "string"
            },
            {
              "id": "b129ee59-aa3c-4e37-9f80-8561ee0d74c6",
              "name": "invoice_recipient.data.customer_number",
              "value": "={{ $json.invoice_recipient.invoice_recipient_number }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -3560,
        -55
      ],
      "id": "3c02f1d1-e1e7-46bf-83df-8c2f9e0c7220",
      "name": "Edit Fields4"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "3bd6ea95-7bc1-4589-bf96-9e863e87e14d",
              "name": "message",
              "value": "=Invoice created successfully with below details;\n\nTitle: {{ $('CreateInvoice').first().json.title }}\nInvoice Amount: {{ $('CreateInvoice').first().json.amount }}\nStatus: {{ $('CreateInvoice').first().json.status }}\nRecipient: {{ $('CreateInvoice').first().json.customer.address.name }}\nCurrency: {{ $('CreateInvoice').first().json.currency }}\nIssue_date: {{ $('CreateInvoice').first().json.issued_on }}\nDue_date: {{ $('CreateInvoice').first().json.due_on }}\n\nHowever, due to some technical reason, I was't able to generate the invoice file as pdf. Inform the manager about the issue, that a Patchbay customer will be in touch with him soon. Set next_task = 'no_action'",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -4080,
        3680
      ],
      "id": "259b9357-277a-49a0-8211-23fa733e3422",
      "name": "OnFailure1"
    },
    {
      "parameters": {
        "jsCode": "// Get the metadata object from Trigger node\nconst metadata = $('Trigger').item.json.data.metadata;\n\n// Clone to avoid mutating directly\nlet updatedMetadata = { ...metadata };\n\nlet invoice_created = $(\"CreateInvoice\").first().json;\n\n// Check if input has pdf\nconst inputData = $input.first().json;\n\n// Ensure invoice_metadata exists\nif (!updatedMetadata.invoice_metadata) {\n  updatedMetadata.invoice_metadata = {};\n}\n\n// Add / update properties\nupdatedMetadata.invoice_metadata.exists = true;\nupdatedMetadata.invoice_metadata.invoice_number = invoice_created.number;\nupdatedMetadata.invoice_metadata.invoice_id = invoice_created.invoice_number; // Check if this should be invoice_created.id instead\nupdatedMetadata.invoice_metadata.pdf_invoice_content = inputData.pdf;\n\n// Return updated object\nreturn [\n  {\n    json: {\n        user_session: updatedMetadata,\n    },\n  },\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -4520,
        3680
      ],
      "id": "2f3e29df-3fba-40b2-92ac-600c8f0b91bf",
      "name": "Code4"
    },
    {
      "parameters": {
        "operation": "delete",
        "key": "=user_session_{{ $('Trigger').item.json.data.thread.ThreadId+$('Trigger').item.json.data.user_id }}"
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        -4300,
        3680
      ],
      "id": "9eaf41f8-9987-4d64-870b-e36665e791c0",
      "name": "ResetSubsession",
      "credentials": {
        "redis": {
          "id": "ujdbLpmKXmUC4bPj",
          "name": "Redis account 2"
        }
      }
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={{ $json }}",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -3100,
        280
      ],
      "id": "23acd097-b745-45dd-aeae-0aa281419be0",
      "name": "Format2"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://hub-api-prod-649845453193.us-central1.run.app/api/v1/invoices/{{ $json.number }}/pdf",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{$('access_token2').item.json.access_token.trim() }}"
            },
            {
              "name": "X-Acting-As-User",
              "value": "={{ $('firebaseId2').item.json.x_acting_as_user }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -3560,
        980
      ],
      "id": "df5fbcfd-1af8-448a-8063-80deab125d3a",
      "name": "CreateFile1",
      "retryOnFail": true,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "59f956fe-e4a5-436f-bd2f-edd234f22e44",
              "leftValue": "={{ $json.pdf_on_file===true }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -3780,
        770
      ],
      "id": "aaf391c0-ab5d-4dbc-9a4a-a6a4af3017d7",
      "name": "If10"
    },
    {
      "parameters": {
        "amount": 30
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -3320,
        920
      ],
      "id": "43b0e640-a3ad-4237-bf70-8047f26be5e6",
      "name": "Wait1",
      "webhookId": "bf03785d-b139-4884-936c-054436d216db"
    },
    {
      "parameters": {
        "resource": "object",
        "operation": "get",
        "bucketName": "hub-file-storage-prod",
        "objectName": "={{ `books/${$json.book_number}/${$json.download_file_name}`.replace(/\\//g, '%2F') }}",
        "alt": "media",
        "binaryPropertyName": "invoice",
        "getParameters": {},
        "encryptionHeaders": {},
        "requestOptions": {}
      },
      "type": "n8n-nodes-base.googleCloudStorage",
      "typeVersion": 1,
      "position": [
        -2760,
        760
      ],
      "id": "3cb8b9bd-625b-4246-9926-75b60e4e99e8",
      "name": "Google Cloud Storage",
      "retryOnFail": true,
      "maxTries": 2,
      "credentials": {
        "googleCloudStorageOAuth2Api": {
          "id": "jzaYLc3hMj1WhMUi",
          "name": "Google Cloud Storage account 2"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "url": "=https://hub-api-prod-649845453193.us-central1.run.app/api/v1/invoices/{{ $('Trigger').item.json.data.metadata.invoice_metadata.invoice_number }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{$('access_token2').item.json.access_token.trim() }}"
            },
            {
              "name": "X-Acting-As-User",
              "value": "={{ $('firebaseId2').item.json.x_acting_as_user }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -3120,
        920
      ],
      "id": "11c5472f-bb43-492d-91ed-825ed64c5c4c",
      "name": "Get Invoice3",
      "retryOnFail": true,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "28d9ee30-04e5-43d5-b29a-38211df99b7c",
              "name": "message",
              "value": "=Encountered a technical issue to retrieve the invoice file. Inform the manager that Patchbay technical support team will reach out to him soon. set next_task = no_action.",
              "type": "string"
            },
            {
              "id": "506e20ee-5f91-43a1-a920-5f2b95680303",
              "name": "status",
              "value": false,
              "type": "boolean"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -2420,
        1040
      ],
      "id": "7a37a04c-7e97-4cbb-ab35-3caab3304153",
      "name": "OnError2"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "08bf5a51-376f-4344-9a6e-d5aa531a3506",
              "leftValue": "={{ $('Input').first()?.json?.data?.invoice_file_request}}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -1436,
        -5
      ],
      "id": "bebf6b3b-147e-44fb-b763-077318a4da65",
      "name": "If11"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f36c5ff6-d53f-434e-9a6b-7ebe81047c99",
              "name": "message",
              "value": "=Invoice created successfully with below details;\n\nInvoice ID: {{ $('CreateInvoice').first().json.invoice_number }}\nTitle: {{ $('CreateInvoice').first().json.title }}\nInvoice Amount: {{ $('CreateInvoice').first().json.amount }}\nStatus: {{ $('CreateInvoice').first().json.status }}\nRecipient: {{ $('CreateInvoice').first().json.customer?.address?.name || \"Not Mentioned\" }}\nCurrency: {{ $('CreateInvoice').first().json.currency }}\nIssue_date: {{ $('CreateInvoice').first().json.issued_on }}\nDue_date: {{ $('CreateInvoice').first().json.due_on }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1180,
        120
      ],
      "id": "a7c5e574-da3a-4228-82e4-41fbd135548d",
      "name": "Edit Fields10"
    },
    {
      "parameters": {
        "jsCode": "// Get the metadata object from Trigger node\nconst metadata = $('Trigger').item.json.data.metadata;\n\n// Clone to avoid mutating directly (optional)\nlet updatedMetadata = { ...metadata };\n\n// Ensure invoice_metadata exists\nif (!updatedMetadata.invoice_metadata) {\n  updatedMetadata.invoice_metadata = {};\n}\n\n// Add / update pdf_invoice_content\nupdatedMetadata.invoice_metadata.pdf_invoice_content = $input.first().binary.invoice.data;\n\n// Return updated object\nreturn [\n  {\n    json: {\n        user_session: updatedMetadata,\n    },\n  },\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        300,
        -380
      ],
      "id": "322ee261-1b0e-433c-8132-afa8892cef24",
      "name": "Code5"
    },
    {
      "parameters": {
        "operation": "set",
        "key": "=user_session_{{ $('Trigger').first().json.data.ThreadId+$('Trigger').first().json.data.user_id }}",
        "value": "={{ $json.user_session.toJsonString() }}",
        "expire": true,
        "ttl": "={{ 60 * 60 * 24 * 30 }}"
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        520,
        -380
      ],
      "id": "d8ed36e9-8d89-4b34-958b-c20eeaef825e",
      "name": "UpdateSesssion6",
      "retryOnFail": true,
      "credentials": {
        "redis": {
          "id": "ujdbLpmKXmUC4bPj",
          "name": "Redis account 2"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://hub-api-prod-649845453193.us-central1.run.app/api/v1/invoices/{{ $json.number }}/pdf",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{$('access_token').item.json.access_token.trim() }}"
            },
            {
              "name": "X-Acting-As-User",
              "value": "={{ $('firebaseId1').item.json.x_acting_as_user }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -620,
        60
      ],
      "id": "713606c7-0937-4b4f-9c8e-990c323c201c",
      "name": "CreateFile2",
      "retryOnFail": true,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "59f956fe-e4a5-436f-bd2f-edd234f22e44",
              "leftValue": "={{ $json.pdf_on_file===true }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -1200,
        -100
      ],
      "id": "5bf6c471-aa96-4ab4-b0d1-d4e3a7ca185e",
      "name": "If12"
    },
    {
      "parameters": {
        "amount": 30
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -400,
        0
      ],
      "id": "8a7b1394-621a-4ce4-b615-6a29a36a5ddf",
      "name": "Wait2",
      "webhookId": "bf03785d-b139-4884-936c-054436d216db"
    },
    {
      "parameters": {
        "url": "=https://hub-api-prod-649845453193.us-central1.run.app/api/v1/invoices/{{ $('Input').first().json.data.metadata.invoice_metadata.invoice_number }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{$('access_token').item.json.access_token.trim() }}"
            },
            {
              "name": "X-Acting-As-User",
              "value": "={{ $('firebaseId1').item.json.x_acting_as_user }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -180,
        0
      ],
      "id": "93cad746-c4b6-47db-b5c7-de9310733ea1",
      "name": "Get Invoice4",
      "retryOnFail": true,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "28d9ee30-04e5-43d5-b29a-38211df99b7c",
              "name": "message",
              "value": "=Encountered a technical issue to retrieve the invoice file. Inform the manager that Patchbay technical support team will reach out to him soon. set next_task = no_action.",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -5120,
        -640
      ],
      "id": "92503a37-5638-4317-92fd-4ac1bec4ac2f",
      "name": "OnError3"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f36c5ff6-d53f-434e-9a6b-7ebe81047c99",
              "name": "message",
              "value": "=Invoice created successfully with below details;\n\nInvoice ID: {{ $('CreateInvoice').first().json.invoice_number }}\nTitle: {{ $('CreateInvoice').first().json.title }}\nInvoice Amount: {{ $('CreateInvoice').first().json.amount }}\nStatus: {{ $('CreateInvoice').first().json.status }}\nRecipient: {{ $('CreateInvoice').first().json.customer?.address?.name || \"Not Mentioned\" }}\nCurrency: {{ $('CreateInvoice').first().json.currency }}\nIssue_date: {{ $('CreateInvoice').first().json.issued_on }}\nDue_date: {{ $('CreateInvoice').first().json.due_on }}\n\nHowever, the attempt to retrieve invoice file for Manager failed due to technical reasons.\n\nNext:\n- Don't call any other tool further.\n\nInform the manager about the invoice created.",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        700,
        240
      ],
      "id": "51b06a38-5790-40c1-ac20-b99bc232718e",
      "name": "Edit Fields12"
    },
    {
      "parameters": {
        "resource": "object",
        "operation": "get",
        "bucketName": "hub-file-storage-prod",
        "objectName": "={{ `books%2F${$json.book_number}%2F${$json.number}%2F${$json.download_file_name}` }}",
        "alt": "media",
        "binaryPropertyName": "invoice",
        "getParameters": {},
        "encryptionHeaders": {},
        "requestOptions": {}
      },
      "type": "n8n-nodes-base.googleCloudStorage",
      "typeVersion": 1,
      "position": [
        100,
        -140
      ],
      "id": "ed5cf9a3-3529-4984-9a8e-0a2f46cae773",
      "name": "GetFile",
      "retryOnFail": true,
      "maxTries": 2,
      "credentials": {
        "googleCloudStorageOAuth2Api": {
          "id": "jzaYLc3hMj1WhMUi",
          "name": "Google Cloud Storage account 2"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f36c5ff6-d53f-434e-9a6b-7ebe81047c99",
              "name": "message",
              "value": "=Invoice created successfully with below details;\n\nInvoice ID: {{ $('CreateInvoice').first().json.invoice_number }}\nTitle: {{ $('CreateInvoice').first().json.title }}\nInvoice Amount: {{ $('CreateInvoice').first().json.amount }}\nStatus: {{ $('CreateInvoice').first().json.status }}\nRecipient: {{ $('CreateInvoice').first().json.customer?.address?.name || \"Not Mentioned\" }}\nCurrency: {{ $('CreateInvoice').first().json.currency }}\nIssue_date: {{ $('CreateInvoice').first().json.issued_on }}\nDue_date: {{ $('CreateInvoice').first().json.due_on }}\n\nNext:\n- Don't call any other tool.\n\nInform the manager about the invoice created and let him know to find the invoice file as attached.",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        740,
        -420
      ],
      "id": "18d6c84f-7fdf-4db2-90dc-e3be27ffbc86",
      "name": "Edit Fields13"
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=https://hub-api-prod-649845453193.us-central1.run.app/api/v1/invoices/{{ $('Trigger').item.json.data.invoice_number }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{$('access_token1').item.json.access_token.trim() }}"
            },
            {
              "name": "X-Acting-As-User",
              "value": "={{ $json.x_acting_as_user }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $('UpdatePayload').item.json.output }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -2718,
        1218.75
      ],
      "id": "115b7918-a501-42d1-8df4-76aca8f87f8a",
      "name": "Update",
      "retryOnFail": true,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "34849289-7322-4a23-923a-ab1a7f20a242",
              "name": "message",
              "value": "=Requested Invoice File for below details is attached. Inform the manager to find the file as attachement. \n\nInvoice ID: {{ $('Get Invoice').first().json.invoice_number }}\nTitle: {{ $('Get Invoice').first().json.title }}\nInvoice Amount: {{ $('Get Invoice').first().json.amount }}\nStatus: {{ $('Get Invoice').first().json.status }}\nRecipient: {{ $('Get Invoice').first().json.customer?.address?.name || \"Not Mentioned\" }}\nCurrency: {{ $('Get Invoice').first().json.currency }}\nIssue_date: {{ $('Get Invoice').first().json.issued_on }}\nDue_date: {{ $('Get Invoice').first().json.due_on }}\n\n- Set next_task = send_file_to_user.",
              "type": "string"
            },
            {
              "id": "a57a8171-2ccf-4746-aed4-7c086ecf88ce",
              "name": "file_status",
              "value": true,
              "type": "boolean"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1900,
        500
      ],
      "id": "c22de5b4-5150-4f80-9656-bc90e1763c33",
      "name": "Edit Fields2"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "91511acc-0775-4b15-ac71-fa59b0dfa57f",
              "name": "output.book_number",
              "value": "={{ $('Input').first().json.data.metadata.person_verification.book_number }}",
              "type": "string"
            },
            {
              "id": "287f313a-9203-462b-9540-795de1f2961b",
              "name": "output.customer_number",
              "value": "={{ $('Format2').item.json.metadata.invoice_metadata.invoice_recipient.status === \"exists\" ? $('Format2').item.json.metadata.invoice_metadata.invoice_recipient.invoice_recipient_number : null }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -2320,
        120
      ],
      "id": "808c33ce-b446-4bca-94f3-213ad9b53430",
      "name": "invoice_payload"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "40d7397e-7161-46b6-a482-274968d356d7",
              "name": "invoice_search_findings",
              "value": "={{ $json.output.invoice_findings }}",
              "type": "string"
            },
            {
              "id": "f6f9f910-0297-41dc-a18b-5076731f6203",
              "name": "invoice_next_step",
              "value": "={{ $json.output.invoice_next_steps }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -4300,
        2540
      ],
      "id": "b13f5c6d-0e37-47c2-bccc-d187f0806b9d",
      "name": "New/Options"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.data.input }}",
        "hasOutputParser": true,
        "messages": {
          "messageValues": [
            {
              "message": "={{ $json.data.system_prompt }}"
            }
          ]
        }
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.6,
      "position": [
        -4680,
        2540
      ],
      "id": "383a70da-99ce-411e-a59e-1eea7ef216b0",
      "name": "Basic LLM Chain2",
      "retryOnFail": true
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "gpt-4.1-mini"
        },
        "options": {
          "responseFormat": "json_object",
          "temperature": 0.1
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -4740,
        2900
      ],
      "id": "71243d49-1439-4d4f-b17a-1100d42173fb",
      "name": "OpenAI Chat Model5",
      "credentials": {
        "openAiApi": {
          "id": "mxdHDElSd4VQZiDt",
          "name": "OpenAi account 2"
        }
      }
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n\t\"type\": \"object\",\n\t\"properties\": {\n\t\t\"invoice_next_steps\": {\n\t\t\t\"type\": \"string\",\n            \"enum\": [\"update\", \"not_update\"],\n            \"description\": \"decide based on the invoice analysis\"\n    \t},\n      \t\"invoice_findings\": {\n\t\t\t\"type\": \"string\",\n            \"description\": \"<Invoice Findings>.\"\n\t\t}\n    }\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.2,
      "position": [
        -4380,
        2900
      ],
      "id": "71946726-18d8-4a56-b628-f86c9896a212",
      "name": "Structured Output Parser8"
    },
    {
      "parameters": {
        "operation": "get",
        "propertyName": "user_session",
        "key": "=user_session_{{ $('Trigger').item.json.data.ThreadId+$('Trigger').item.json.data.user_id }}",
        "keyType": "string",
        "options": {}
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        -6100,
        1220
      ],
      "id": "01a83fa4-4d50-4edd-9d92-f736e1d35512",
      "name": "GetUserSession1",
      "credentials": {
        "redis": {
          "id": "ujdbLpmKXmUC4bPj",
          "name": "Redis account 2"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "let trigger_input = $(\"Trigger\").first().json;\nconst user_session = $json.user_session;\n\n// Validate and parse user_session\nlet validatedSession;\nif (typeof user_session === \"string\") {\n  try {\n    validatedSession = JSON.parse(user_session);\n  } catch (error) {\n    console.error(\"Failed to parse user_session:\", error);\n    validatedSession = { sessionStatus: false, error: \"Invalid JSON\" };\n  }\n} else if (user_session && typeof user_session === \"object\") {\n  validatedSession = user_session;\n} else {\n  validatedSession = { sessionStatus: false, error: \"No session data\" };\n}\n\n// Check if deal_id exists and has a valid value\nif (trigger_input.data && trigger_input.data.deal_id && trigger_input.data.deal_id !== null && trigger_input.data.deal_id !== '') {\n  // Remove leading zeros from deal_id\n  const dealIdFromTrigger = String(trigger_input.data.deal_id).replace(/^0+/, '') || '0';\n  \n  // Filter deal_metadata if it exists\n  if (validatedSession.deal_metadata && Array.isArray(validatedSession.deal_metadata)) {\n    validatedSession.deal_metadata = validatedSession.deal_metadata.filter(deal => {\n      if (deal.deal_number) {\n        // Remove leading zeros from deal_number for comparison\n        const dealNumber = String(deal.deal_number).replace(/^0+/, '') || '0';\n        return dealNumber === dealIdFromTrigger;\n      }\n      return false;\n    });\n  } else {\n    // If deal_metadata doesn't exist or isn't an array, set it to empty array\n    validatedSession.deal_metadata = [];\n  }\n} else {\n  // If deal_id is empty or null, set deal_metadata to empty array\n  validatedSession.deal_metadata = [];\n}\n\n// Ensure trigger_input has metadata object\nif (!trigger_input.data.metadata) {\n  trigger_input.metadata = {};\n}\ntrigger_input.data.metadata = validatedSession;\n\nreturn trigger_input;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -5860,
        1220
      ],
      "id": "a34a5a71-347c-4734-8467-bf5c313948f8",
      "name": "Input"
    }
  ],
  "pinData": {
    "Trigger": [
      {
        "json": {
          "action": "pdf_request",
          "data": {
            "ThreadId": "199c1da7cf26050d",
            "user_id": "2edfd81b-b1a1-4cb9-89b5-6c84b8bd6dc2",
            "metadata": {
              "type": "wf_deal_and_invoice",
              "thread_id": "199c1da7cf26050d",
              "Manager": {
                "name": "Dwayne Hoover",
                "address": "dwayne@patchbay.xyz",
                "user_id": "2edfd81b-b1a1-4cb9-89b5-6c84b8bd6dc2"
              },
              "person_verification": {
                "book_number": "38930866-9e7a-424c-9492-bf9dd476bde6",
                "book_id": "620",
                "person_legal_name": "Quincy  Jones",
                "person_performer_name": null,
                "person_role": "Producer",
                "message": "Person Verification Successful."
              },
              "task_metadata": {
                "deal_discussion": true,
                "deal_type": "Master",
                "deal_id": 856,
                "artist_name": "Ali Zafar",
                "masters": [
                  "Micky More",
                  "Eviction"
                ],
                "deal_next_step": null,
                "thread_last_updated": "2025-10-09T10:11:00.000Z"
              },
              "deal_metadata": [
                {
                  "deal_id": "856",
                  "deal_number": "65fe16a4-0f38-478b-adfa-b2b98595867a",
                  "person_name": "Quincy Jones",
                  "artist_name": "Ali Zafar",
                  "masters": "Micky More, Eviction",
                  "status": "Fully Executed",
                  "payment_status": "Unpaid"
                }
              ],
              "invoice_metadata": {
                "exists": true,
                "invoice_id": 57,
                "invoice_number": "e5b7f8c9-6e8a-4455-8ca9-f955a14528d9",
                "message": "Invoice metadata added"
              }
            }
          },
          "ai_input": "Generate and deliver the updated invoice file for Producer Quincy Jones and Artist Ali Zafar (Masters: \"Micky More\", \"Eviction\", Fee: 5000 USD) with the following customer details: Company Name: Patchbay Music Group Ltd., Address: 123 Sukhumvit Soi 22, Klong Toei, Bangkok 10110, Thailand, Phone: +66 2 345 6789, Fax: +66 2 345 6790. The due date is set to 30 days from today. Deliver the invoice file to Dwayne Hoover (dwayne@patchbay.xyz)."
        }
      }
    ]
  },
  "repo_name": "hub-n8n",
  "repo_owner": "ck-bit",
  "repo_path": "",
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-10-09T10:37:48.220Z",
  "versionId": "382a64bd-5985-452f-b735-a9344177d55b"
}